.lib-comp-carrousel {
    position: relative;
    height: var(--height-banner);
    background: var(--primary-color);
}

.lib-comp-carrousel__nav {
    position: absolute;
    z-index: 3;
    bottom: 20px;
    color: white;
    width: 100%;
    text-align: center;
}

.lib-comp-carrousel__circle {
    overflow: hidden;
    text-indent: -9999px;
    height: 8px;
    width: 8px;
    background: white;
    border: 2px solid white;
    margin: 5px;
    border-radius: 50%;
    display: inline-block;
}

.lib-comp-carrousel__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: var(--height-banner);
    position: relative;
    width: 100vw;
}

.lib-comp-carrousel__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lib-comp-carrousel__content__yellow {
    background-color: var(--yellow-color);
    color: var(--primary-color);
}

.lib-comp-carrousel__content__blue {
    background-color: var(--primary-color);
    color: white;
}

.lib-comp-carrousel__content__blue .lib-comp-carrousel__subheading, .lib-comp-carrousel__content__blue .lib-comp-carrousel__title, .lib-comp-carrousel__content__blue .lib-comp-carrousel__subtitle {
    color: white;
}

.lib-comp-carrousel__textwrap {
    line-height: 1.4;
}

.lib-comp-carrousel__subheading {
    text-transform: uppercase;
    color: var(--black-color);
    font-size: 1rem;
}

.lib-comp-carrousel__title {
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.lib-comp-carrousel__subtitle {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--black-color);
    margin: 0;
    padding: 0;
}

.lib-comp-carrousel__image .field__item {
    height: var(--height-banner);
    width: auto;
}

.lib-comp-carrousel__image .field__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lib-comp-card__content {
    padding: 0 1rem;
}

.lib-comp-carrousel__item {
    opacity: 0;
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.lib-comp-carrousel__item.is-active {
    opacity: 1;
    z-index: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 920px) {
    .lib-comp-carrousel__card {
        grid-template-columns: repeat(1, 1fr);
        min-height: auto;
    }

    .lib-comp-carrousel__image .field__item {
        height: auto;
    }

    .lib-comp-carrousel__content {
        padding: 2rem;
    }

    .lib-comp-carrousel {
        height: 620px;
        overflow: hidden;
        background: transparent;
    }
}