@mixin grid {
  display: grid;
}

.grid {
  @include grid;

  &--card {
    @include space-stack-page;
  }

  &--col2 {
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    @include medium {
      grid-template-columns: repeat(2, 1fr);
      max-width: 1024px;
      margin: 0 auto;
    }
  }
}
