.footer {
  &__content {
    background-color: $color-primary;
    padding: 0;
    color: $white;
  }

  span {
    &.break {
      display: block;
      text-align: center;
      margin-bottom: 0.5rem;

      @include large {
        margin-bottom: initial;
        display: initial;
        text-align: initial;
      }
    }
  }

  a {
    color: $white;
  }

  &__inner {
    @include wrapper;

    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.9rem;

    @include large {
      text-align: initial;
      flex-direction: row;
      justify-content: space-between;
    }

    .icon {
      height: 20px;
      width: 20px;
      display: inline-block;
      vertical-align: middle;
      margin: -7px 0.5rem 0 0.5rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;

      &__phone {
        background-image: url(../images/icons/phone-w.svg);
      }

      &__cellphone {
        background-image: url(../images/icons/cellphone.svg);
      }
    }
  }

  &__bottom {
    background-color: $color-primary-smoke;
    padding: 1rem 0;
    color: $white;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: -1px;
    font-weight: bold;

    a {
      color: $color-secondary-link;
      text-decoration: none;
      font-weight: 600;
    }

    span {
      &.copyright {
        padding: 0.3rem;
        display: block;
        text-align: center;
      }
    }
  }
}

.footer__social {
  margin-bottom: 0;
  padding-top: 2rem;

  @include large {
    padding-top: 0;
    flex: 0 1 30%;
    margin-bottom: 0;
    margin-right: $space;
    text-align: right;
  }

  a {
    height: 28px;
    width: 28px;
    display: inline-block;
    text-indent: -9999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    margin: 0 0.4rem;
    overflow: hidden;
    vertical-align: middle;
    color: transparent;

    &.facebook {
      background-image: url(../images/icons/facebook.svg);
    }

    &.linkedin {
      background-image: url(../images/icons/linkedin.svg);
    }
  }
}

.footer__menu {
  @include large {
    flex: 1 1 100%;
    margin-left: auto;
    text-align: left;
  }
}
