<div class="form-item--radio__item">
  <input
  {% for attribute, value in attributes %}
      {% if attribute == 'class' %}
        {% set value = 'form-item--radio__item__radio' %}
        {{ attribute }}="{{ value }}"
      {% else %}
        {{ attribute }}="{{ value }}"
      {% endif %}
    {% endfor %}
    />
</div>
