.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: none
    /*{borderColorActive}*/
    ;
    background: none
    /*{bgColorActive}*/
    /*{bgImgUrlActive}*/
    /*{bgActiveXPos}*/
    /*{bgActiveYPos}*/
    /*{bgActiveRepeat}*/
    ;
    font-weight: unset
    /*{fwDefault}*/
    ;
    color: unset
    /*{fcActive}*/
    ;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-widget-header {
    border: unset;
    background: unset;
    color: unset;
    font-weight: unset;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.4em 1em;
    position: relative;
    top: 0;
    z-index: 999;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: none;
    background: unset;
    font-weight: unset;
    color: unset;
}