@import '../mixins/responsive.scss';

body {
  &:not(.frontpage) {
    .cp-banner {
      .banner--container {
        text-align: center;

        .cp-banner__heading {
          h2 {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .component__slider {
    height: 25rem;
    margin-bottom: 3rem;

    @include tablet-landscape-up {
      height: auto;
      margin-bottom: unset;
    }

    .slick-prev, .slick-next {
      background-size: 51px;
      height: 51px;
      width: 51px;
      visibility: hidden;
      z-index: 1;

      @include tablet-landscape-up {
        visibility: visible;
      }
    }

    .slick-prev {
      left: 6rem;

      &::before {
        background: transparent url(../../images/arrow-left-white.svg) no-repeat center center;
      }
    }

    .slick-next {
      right: 6rem;

      &::before {
        background: transparent url(../../images/arrow-right-white.svg) no-repeat center center;
      }
    }

    .slick-dots {
      bottom: 8rem;
      position: absolute;

      @include tablet-landscape-up {
        bottom: 2rem;
      }
    }
  }

  .cp-banner, .cp-banner-promo {
    position: relative;
    z-index: 1;

    .cp-banner__image {
      height: 530px;
      overflow: hidden;
    }

    img {
      display: block;
      height: auto;
      width: 100%;
    }

    .banner--container {
      align-items: center;
      display: flex;
      height: calc(100% - 55px);
      left: 45%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);

      @include tablet-landscape-up {
        left: 40%;
      }

      .cp-banner__heading {
        background-color: var(--white);
        height: auto;
        flex-basis: 100%;
        padding: 2rem 2.5rem;

        @include tablet-landscape-up {
          flex-basis: 38%;
        }

        h2 {
          color: var(--hdi-universal-green);
          font-family: "HDI Pro", "Open Sans", sans-serif;;
          font-size: 2.25rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

        .c__subtitle {
          font-size: 1.125rem;
          line-height: 1.5;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
