@import '../mixins/responsive.scss';

body {
  &:not(.frontpage) {
    .cp-banner {
      @include phone-only {
        height: 23rem;
      }

      .banner--container {
        text-align: center;

        @include phone-only {
          margin-top: 8rem;
        }

        .cp-banner__heading {
          h2 {
            margin-bottom: 0;

            @include phone-only {
              bottom: 8rem;
              width: 95%;
              padding: 1rem;
              position: absolute;
            }
          }
        }
      }
    }
  }

  .component__slider {
    height: 25rem;
    margin-bottom: 3rem;

    @include phone-only {
      height: 30rem;
    }

    @include tablet-landscape-up {
      height: auto;
      margin-bottom: unset;
    }

    .slick-prev, .slick-next {
      background-size: 51px;
      height: 51px;
      width: 51px;
      visibility: hidden;
      z-index: 1;

      @include tablet-landscape-up {
        visibility: visible;
        top: calc(50% + 5rem);
      }

      @include desktop {
        top: 50%;
      }
    }

    .slick-prev {
      left: 6rem;

      &::before {
        background: transparent url(../../images/arrow-left-white.svg) no-repeat center center;
      }
    }

    .slick-next {
      right: 6rem;

      &::before {
        background: transparent url(../../images/arrow-right-white.svg) no-repeat center center;
      }
    }

    .slick-dots {
      bottom: 8rem;
      position: absolute;

      @include phone-only {
        bottom: 2.5rem;
      }

      @include tablet-landscape-up {
        bottom: 2rem;
      }
    }
  }

  .cp-banner, .cp-banner-promo {
    position: relative;
    z-index: 1;

    .cp-banner__image {
      height: 530px;
      overflow: hidden;
    }

    img {
      display: block;
      height: auto;
      width: 100%;

      @include phone-only {
        height: 14rem;
      }
    }

    .banner--container {
      align-items: center;
      display: flex;
      height: calc(100% - 55px);
      left: 45%;
      position: absolute;
      top: 0.5rem;
      transform: translateX(-50%);

      @include tablet-landscape-up {
        left: 40%;
      }

      .cp-banner__heading {
        background-color: var(--hdi-gray-10);
        height: auto;
        flex-basis: 100%;
        padding: 2rem 2.5rem;

        @include phone-only {
          padding: 2rem 0.5rem;
        }

        @include tablet-landscape-up {
          flex-basis: 38%;
        }

        h2 {
          color: var(--hdi-universal-green);
          font-family: "HDI Pro", "Open Sans", sans-serif;
          font-size: 2.25rem;
          font-weight: 500;
          margin-bottom: 1rem;

          @include phone-only {
            font-size: 2rem !important;
            hyphens: manual;
          }
        }

        .c__title {
          margin-bottom: 1rem;
          font-size: 2rem;
          font-weight: normal;
          text-align: left;
        }

        .c__subtitle {
          font-size: 1.125rem;
          line-height: 1.5;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .day-0-banner {
    .banner--container {
      .cp-banner__heading {
        padding: 0;
        background-color: transparent;

        .cp-banner__title {

          .c__title {
            background-color: var(--hdi-universal-green);
            color: var(--white);
            font-size: 2.25rem;
            padding: 1.5rem 2rem 6rem 2rem;
            width: 95%;
            position: relative;
            z-index: 3;
            margin: 0 auto;

            &::before {
              content: "";
              position: absolute;
              background-color: #f8cf00;
              display: block;
              bottom: 0rem;
              width: 100%;
              height: 15px;
              left: 0;
            }

            @include tablet-landscape-up {
              position: absolute;
              width: 24.8rem;
              top: 5rem;
              padding: 1.5rem 3rem 6rem;
              margin: unset;
              z-index: unset;

              &::before {
                content: unset;
              }
            }
          }

          .c__subtitle {
            background-color: var(--hdi-green);
            color: var(--white);
            font-size: 1.25rem;
            padding: 1.5rem 2rem;
            margin-top: -1rem;

            @include tablet-landscape-up {
              background-color: var(--white);
              color: var(--gray);
              position: absolute;
              width: 27.3125rem;
              left: 15rem;
              top: 17rem;
              padding: 3rem 2rem 2rem;
              margin: unset;
            }

            @include tablet-landscape-up {
              &:before {
                content: "";
                position: absolute;
                background-color: #f8cf00;
                display: block;
                top: 0;
                left: 0;
                height: 24px;
                width: 157px;
              }

              &::after {
                content: "";
                position: absolute;
                height: 1.75rem;
                width: 1.75rem;
                display: block;
                background-color: #e60018;
                top: 41%;
                right: -.5rem;
              }
            }
          }

          .c__cta a:not(.link--full) {
            background-color: var(--white);
            border-color: var(--white);
            color: var(--hdi-green);
            position: absolute;
            top: 12rem;
            left: 3rem;
            z-index: 5;
            padding: .625rem 2.875rem;

            @include tablet-landscape-up {
              left: 4rem;
              top: 13.5rem;
            }

            a {
              color: var(--hdi-green);
            }
          }
        }
      }
    }
  }
}
