@use '../mixins/responsive'as *;
@use './eyebrow.scss'as eye;
@use './topbar.scss'as top;
@use './navigation.scss'as nav;
@use './navigation-mb.scss'as nmb;
@use './breadcrumb.scss'as bread;
@use './banner.scss'as ban;

header {
  background: var(--white);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, .1);

  @include eye.eyebrow();
  @include top.topbar();

  #header {
    background-color: var(--hdi-gray-10);

    @include phone-only {
      height: 64px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a>img {
        width: 7rem;
        height: 4rem;
        padding: 0px;
        position: sticky;
      }

    }

    @include tablet-landscape-up {
      padding: 0 4rem;
      position: relative;
    }

    #burguer-menu {
      @include tablet-landscape-up {
        display: none
      }
    }
  }

  @include nav.navigation();

  #herramientas--mb {
    @include tablet-landscape-up {
      display: none
    }
  }
}

@include nmb.navigation-mb();
@include bread.breadcrumb();
@include ban.banner();