header {
  background: var(--white);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, .1);

  @import './eyebrow.scss';
  @import './topbar.scss';

  #header {
    background-color: var(--hdi-gray-10);

    @include phone-only {
      height: 64px;
      display: flex;
      justify-content: space-between;
      align-items: center;

       a > img {
        width: 7rem;
        height: 4rem;
        padding: 0px;
        position: sticky;
       }

    }

    @include tablet-landscape-up {
      padding: 0 4rem;
      position: relative;
    }

    #burguer-menu {
      @include tablet-landscape-up {
        display: none
      }
    }
  }

  @import './navigation.scss';

  #herramientas--mb {
    @include tablet-landscape-up {
      display: none
    }
  }
}

@import './navigation-mb.scss';
@import './breadcrumb.scss';
@import './banner.scss';
