#navegacion {
  #nav__principal {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  #nav__principal, #nav__secundario {
    .block-tb-megamenu {
      .tb-megamenu {
        background-color: var(--hdi-gray-10);
        position: static;

        & .dropdown {
          position: static;
        }

        & .mega > .mega-dropdown-menu {
          border: none;
          left: 0;
          margin-left: 0;
          padding: 3rem 0;
          top: 9.7rem;
          width: 100vw !important; // Overwrite megamenu default width
        }

        & .dropdown-menu li {
          & > a {
            color: var(--gray);

            &:hover, &:visited, &:active {
              color: var(--gray);
            }
          }
        }
      }

      .tb-megamenu-nav {
        .tb-megamenu-item {
          .dropdown-toggle {
            background-color: var(--hdi-gray-10);
            border: none;
            color: var(--gray);
            font-size: .9rem;
            font-weight: 400;
            margin: 0 .5rem;
            position: relative;

            &:not(.te-pasoalgo-mb, .pagos-mb)::after {
              background-image: url(../../images/menu-dropown-black.svg);
              background-repeat: no-repeat;
              background-size: contain;
              content: "";
              height: 4px;
              position: absolute;
              right: 0;
              top: calc(50% - 2px);
              width: 8px;
            }

            &.te-pasoalgo-mb, &.pagos-mb {
              background-color: var(--white);
              border: 1px solid var(--hdi-universal-green);
              color: var(--black);
              font-family: 'HDI Pro';
              font-size: 1.1rem;
              font-weight: 600;
              margin-top: .1rem;
              padding: .7rem 2rem .7rem 3.5rem;
              position: relative;

              &::before {
                content: "";
                left: 1.2rem;
                position: absolute;
                background-repeat: no-repeat;
                background-size: contain;
              }
            }

            &.te-pasoalgo-mb::before {
              background-image: url(../../images/menu-umbrella.svg);
              height: 19px;
              width: 19px;
            }

            &.pagos-mb::before {
              background-image: url(../../images/menu-card.svg);
              height: 16px;
              width: 25px;
            }
          }
        }
      }
    }
  }

  #nav__secundario {
    #block-hdi-portal-transversales {
      transition: all 1s ease-in-out;
    }

    &.is-hidden {
      #block-hdi-portal-transversales {
        display: none;
      }
    }

    #block-hdi-portal-contactanos {
      .dropdown-toggle {
        color: var(--hdi-gray-10);
        background-image: url(../../images/menu-contact@2x.png);
        background-repeat: no-repeat;
        border-radius: 20rem;
        background-position: center;
        background-size: 2rem;

        &::after {
          content: unset;
        }
      }
    }

    #buscador {
      form {
        label, .form-actions {
          display: none;
        }
      }

      &:not(.buscador__input--activo) {
        input[type="text"] {
          background-position: center;
          border-color: var(--hdi-universal-green);
          border-radius: 100%;
          cursor: pointer;
          height: 2rem;
          padding: unset;
          width: 2.1rem;
        }
      }

      input[type="text"] {
        background-image: url(../../images/search.svg);
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: .7rem center;
        padding: .7rem .7rem .7rem 2rem;

        &.form__input--activo {
          width: 15rem;
        }
      }
    }
  }
}
