#navegacion {
  #nav__principal {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  #nav__principal, #nav__secundario {
    .block-tb-megamenu {
      .tb-megamenu {
        background-color: var(--hdi-gray-10);
        position: static;

        & .dropdown {
          position: static;
        }

        .tb-megamenu-column {
          border-right: 1px solid var(--gray-30);

          &:last-of-type {
            border-right: none;
          }
        }

        & .mega > .mega-dropdown-menu {
          border: none;
          left: 0;
          margin-left: 0;
          padding: 3rem 0;
          top: 6.5rem;
          width: 100vw !important; // Overwrite megamenu default width

          .tb-megamenu-row {
            &.row-fluid {
              display: flex;
            }
          }
        }

        & .dropdown-menu {
          li {
            & > a {
              color: var(--gray);
              border: none;

              &:hover, &:visited, &:active, .active-trail.nav-submb__link {
                color: var(--gray);
                background-color: var(--white);
                background-image: none;
                font-weight: 500;
              }
            }

            &.active > a {
              background-image: none;
              background-color: var(--white);
              font-weight: 500;
            }
          }
        }

        .block-block-content {
          align-items: center;
          display: grid;
          grid-column-gap: 3rem;
          grid-row-gap: 1rem;
          grid-template-columns: auto 1fr;

          h2 {
            font-size: 1.25rem;
            grid-area: 1 / 2 / 2 / 3;
          }

          img {
            grid-area: 1 / 1 / 3 / 2;
            width: 3rem;
          }

          .field--type-content {
            color: var(--gray);
            grid-area: 2 / 2 / 3 / 3;
            max-width: 18rem;

            h2 {
              margin-bottom: 1rem;
            }

            a {
              margin-top: 1rem;
            }

            .field--label-inline {
              .field__label {
                display: inline-block;
                margin-right: .7rem;
              }
            }
          }
        }
      }

      .tb-megamenu-nav {
        .tb-megamenu-item {
          .dropdown-toggle {
            background-color: var(--hdi-gray-10);
            border: none;
            color: var(--gray);
            font-size: .9rem;
            font-weight: 400;
            margin: 0 .5rem;
            position: relative;

            &:not(.te-pasoalgo-mb, .pagos-mb)::after {
              background-image: url(../../images/menu-dropown-black.svg);
              background-repeat: no-repeat;
              background-size: contain;
              content: "";
              height: 4px;
              position: absolute;
              right: 0;
              top: calc(50% - 2px);
              width: 8px;
            }

            &.te-pasoalgo-mb, &.pagos-mb {
              background-color: var(--white);
              border: 1px solid var(--hdi-universal-green);
              color: var(--black);
              font-family: 'HDI Pro';
              font-size: 1.1rem;
              font-weight: 600;
              margin-top: .1rem;
              padding: .7rem 2rem .7rem 3.5rem;
              position: relative;

              &::before {
                content: "";
                left: 1.2rem;
                position: absolute;
                background-repeat: no-repeat;
                background-size: contain;
              }

              &:hover {
                background-color: var(--hdi-green);
                border-color: var(--hdi-green);
                color: var(--white);

                a {
                  color: var(--white);
                }
              }

              &:active {
                background-color: var(--hdi-blue);
                border-color: var(--hdi-blue);
                color: var(--white);

                a {
                  color: var(--white);
                }
              }
            }

            &.te-pasoalgo-mb {
              &::before {
                background-image: url(../../images/menu-umbrella.svg);
                height: 19px;
                width: 19px;
              }

              &:hover {
                &::before {
                  background-image: url(../../images/menu-umbrella-white.svg);
                }
              }
            }

            &.pagos-mb {
              &::before {
                background-image: url(../../images/menu-card.svg);
                height: 16px;
                width: 25px;
              }

              &:hover {
                &::before {
                  background-image: url(../../images/menu-card-white.svg);
                }
              }
            }
          }
        }
      }
    }
  }

  @include phone-only {

    #nav__principal {
      display: none;
    }

    #nav__secundario {
      #block-hdi-portal-menusecundario, #block-hdi-portal-menucontactenos {
        display: none;

      }
    }
  }

  #nav__secundario {
    @import './tepodemosayudar.scss';
    @import './siniestros.scss';
    @import './pagos.scss';

    &.is-hidden {
      #block-hdi-portal-transversales {
        display: none;
      }
    }

    #block-hdi-portal-menucontactenos {
      .dropdown-toggle {
        color: var(--hdi-gray-10);
        background-image: url(../../images/menu-contact@2x.png);
        background-repeat: no-repeat;
        border-radius: 20rem;
        background-position: center;
        background-size: 2rem;

        &::after {
          content: unset;
        }
      }

      .tb-megamenu-row {
        &:last-child {
          .tb-megamenu-subnav {
            margin-top: -1.25rem;
          }

          .span6 {
            margin-left: 50%;
            padding-left: 6.85rem;
          }
        }
      }
    }

    #buscador {
      form {
        label, .form-actions {
          display: none;
        }
      }

      &:not(.buscador__input--activo) {
        input[type="text"] {
          background-position: center;
          border-color: var(--hdi-universal-green);
          border-radius: 100%;
          cursor: pointer;
          height: 2rem;
          padding: unset;
          width: 2.1rem;
        }
      }

      input[type="text"] {
        background-image: url(../../images/search.svg);
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: .7rem center;
        padding: .7rem .7rem .7rem 2rem;

        &.form__input--activo {
          width: 15rem;
        }
      }
    }
  }
}

.tb-megamenu {
  .row-fluid + .row-fluid {
    border-top: none;
    padding-top: 0;
  }

  .dropdown-menu {
    @import '../form/buttons.scss';

    a {
      padding: unset;
    }
  }
}
