<div class="accordion-term">
    <div class="accordion-term__tabs">
        <div class="accordion-term__tab1">Tab 1</div>
    </div>
    <div class="accordion-term__content">
        <div class="accordion-term__content1">Contenido 1</div>
    </div>
    <div class="accordion-term__tabs">
        <div class="accordion-term__tab2">Tab 2</div>
    </div>
    <div class="accordion-term__content">
        <div class="accordion-term__content2">Contenido 2</div>
    </div>
</div>