<div class="slick-carousel">
  {% for image in images %}
    <div class="slick-item">
      <img src="{{ image.url }}" alt="{{ image.alt }}" class="slick-image">
      <div class="download-button">
        <a href="{{ image.url }}" download="{{ image.filename }}">
        </a>
      </div>
    </div>
  {% endfor %}
</div>
