.js-accordion {
  @include breakpoint($small) {
    min-height: 5rem;
  }
  @media screen and (max-width: $small-max) {
    position: relative;
  }
  &.desplegado {
    @media screen and (max-width: $small-max) {
      background-color: $blanco-sc;
      border-bottom: 1px solid $gris-tr;
    }
    .icon-arrow {
      background-image: url("../images/icons/elements-icon-glyph-arrow-up.svg");
    }
  }
  @media screen and (max-width: $small-max) {
    display: flex;
  }
  p {
    @media screen and (max-width: $small-max) {
      display: none;
    }
  }
  img,
  .card__img--oval img {
    @media screen and (max-width: $small-max) {
      margin: 1.5rem 0.8125rem 1.75rem 1.1875rem;
      width: 3rem;
      height: 3rem;
    }
  }
  h3,
  h4 {
    @media screen and (max-width: $small-max) {
      padding-bottom: 0px;
      align-self: center;
      padding-right: 4.1875rem;
      text-align: left;
      line-height: normal;
    }
  }
  h3 {
    font-size: 1.125rem;
    @include breakpoint($small) {
      padding-left: 1rem;
    }
  }
  .icon-arrow {
    display: none;
    @media screen and (max-width: $small-max) {
      display: block;
      background-image: url("../images/icons/elements-icon-glyph-arrow-down.svg");
      background-size: 14px;
      background-position: center;
      width: 2.25rem;
      height: 2.225rem;
      background-repeat: no-repeat;
      align-self: center;
      border-radius: 100%;
      background-color: #ffffff;
      position: absolute;
      right: 0.625rem;
    }
  }
}

.js-accordion-options {
  transition: all 0.2s ease-in-out;
  @media screen and (max-width: $small-max) {
    padding: 0 1.25rem;
  }
  .option {
    @media screen and (max-width: $small-max) {
      border-bottom-style: inset;
      margin-top: 1rem;
    }
  }
  .option:last-child {
    @media screen and (max-width: $small-max) {
      border-bottom-style: none;
      margin-bottom: 1rem;
      margin: 1rem 0;
    }
  }
  .field--name-field-screenshot {
    padding: 0.75rem 1.1875rem 0.8125rem;
    width: 8.125rem;
    height: 3.75rem;
    margin: 0 auto 0.625rem;
    border-radius: 6px;
    border-color: rgba($azul-os-sc, 0.2);
    border-style: solid;
    border-width: thin;
    background-color: #ffffff;
  }
  p {
    @media screen and (max-width: $small-max) {
      padding: 0 3.25rem;
    }
  }
}

.js-accordion-row {
  @media screen and (max-width: $small-max) {
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba($charcoal-grey, 0.24);
    background-color: #ffffff;
    margin: 0;
    padding: 0px;
  }
}

.component__acordeon--coberturas {
  padding-top: 4rem;
  .component__title {
    text-align: left;
    @include breakpoint($small) {
      text-align: center;
    }
  }
  p {
    margin-bottom: 2rem;
    @media screen and (max-width: $small-max) {
      width: 100%;
      padding: 0;
    }
  }
  .js-accordion-row {
    .js-accordion {
      padding: 1rem;
    }
  }
}

.accordion-ls {
  border-top: 0;
  border-bottom: 1px solid #cecece;
  padding: 0 0.5rem;

  @media screen and (min-width: $small-max) {
    padding: 0 1.5rem;
  }

  &.is-open {
    background: white;
  }
}

.accordion-ls__header h2 {
  text-align: left;
  margin: 0;
  font-size: 22px;
  padding-left: 48px;
  background: url("../images/icons/icon-plus.svg") no-repeat left 16px;
  background-size: 16px;

  .is-open & {
    background: url("../images/icons/icon-less.svg") no-repeat left 25px;
    background-size: 16px;
  }
}
.accordion-ls__header button {
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: inherit;
  padding: 0 6px 0 0;
  position: relative;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
}

.accordion-ls__header {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.625;
}

.accordion-ls__content {
  max-height: 0;
  line-height: 1.625;
  margin-top: 0;
  overflow: hidden;
  padding: 0 32px 0 0;
  transition: max-height 0.15s, margin-top 0.35s;
  padding-left: 48px;

  p {
    font-size: 17px;
  }

  .is-open & {
    max-height: 500px;
    margin-bottom: 20px;
  }
}
