.component__block--siniestros-promocional {
    background-color: $azul-hielo-sc;
    @include breakpoint($small) {
        padding: 2rem 0 3rem 0;
    }
    .block-content--view-mode-promocional-siniestros {
        display: flex;
        margin: auto;
        width: 70%;
        padding: 3.75rem 0 5.875rem 0;
        align-items: center;
        @include breakpoint($small) {
            background-color: $blanco-pl;
            width: 90%;
            box-shadow: 0 2px 8px 0 rgba(3, 123, 134, 0.29);
            text-align: center;
            display: block;
            margin: 0 auto;
            padding: 2rem;
        }
        .button--primary {
            @include breakpoint($small) {
                margin-bottom: 0;
                margin-top: 1.25rem;
            }
        }
        .field--type-content {
            margin: 0 2rem;
        }
        img {
            max-width: 5rem;
            min-width: 5rem;
        }
    }
}

.component__block--siniestros-lineas {
    background-color: $azul-hielo-sc;
    padding-top: 4rem;
    margin-bottom: 0;
    @include breakpoint($small) {
        margin-bottom: 3rem;
    }
    h2 {
        margin-bottom: 0;
    }
    .lead {
        font-size: 1.5rem;
        margin-bottom: 3rem;
        font-weight: 300;
    }
    .lineas {
        display: flex;
        background-color: $blanco-pl;
        padding: 1.5rem;
        box-shadow: 0 2px 8px 0 rgba(3, 123, 134, 0.29);
        // margin-bottom: -70px;
        @include breakpoint($small) {
            display: block;
            text-align: center;
            margin-bottom: 0;
        }
        p {
            color: $petroleo-tr;
            font-size: 2.5rem;
            padding: .5rem 2.5rem;
            margin: 0;
            border-right: 1px solid $gris-tr;
            white-space: nowrap;
            @include breakpoint($small) {
                border-right: none;
                padding-right: 0;
                padding-left: 0;
                margin-top: 0;
                line-height: 0.5;
            }
        }
        span {
            color: $charcoal-grey;
            font-size: 1rem;
            padding-left: 2.5rem;
            margin-bottom: .5rem;
            @include breakpoint($small) {
                padding-left: 0;
                display: block;
                margin-bottom: 0;
            }
        }
        .field {
            @include breakpoint($small) {
                margin-bottom: 1rem;
            }
            &:first-child {
                p {
                    padding-left: 4.2rem;
                    @include breakpoint($small) {
                        padding-left: 0;
                    }
                }
                span {
                    padding-left: 4.2rem;
                    @include breakpoint($small) {
                        padding-left: 0;
                    }
                }
            }
            &:last-child {
                p {
                    border-right: none;
                }
            }
        }
    }
    .operadores {
        display: none;
    }
}

.component__block--siniestros-lineas-asis {
    background-color: $blanco-sc;
    padding: 2rem 0 3rem 0;
    .block--lineas-atencion-siniestros {
        text-align: center;
    }
    .lineas {
        display: inline-flex;
        background-color: $blanco-pl;
        padding: 1.5rem;
        box-shadow: 0 2px 8px 0 rgba(52, 55, 65, 0.23);
        @include breakpoint($small) {
            display: block;
            text-align: center;
        }
        p {
            color: $petroleo-tr;
            font-size: 2rem;
            padding: .5rem 2.5rem;
            margin: 0;
            border-right: 1px solid $gris-tr;
            @include breakpoint($small) {
                border-right: none;
                padding-right: 0;
                padding-left: 0;
                margin-top: 0;
                line-height: 3rem;
            }
        }
        span {
            color: $charcoal-grey;
            font-size: 1rem;
            padding-left: 2.5rem;
            margin-bottom: .5rem;
            @include breakpoint($small) {
                padding-left: 0;
                display: block;
                margin-bottom: 0;
            }
        }
        .field {
            @include breakpoint($small) {
                margin-bottom: 1rem;
            }
            &:first-child {
                p {
                    padding-left: 3.5rem;
                    @include breakpoint($small) {
                        padding-left: 0;
                    }
                }
                span {
                    padding-left: 0;
                    @include breakpoint($small) {
                        padding-left: 0;
                    }
                }
            }
            &:nth-child(2) {
                span {
                    padding-left: 0;
                    padding-right: 11.5rem;
                    @include breakpoint($small) {
                        padding-right: 0;
                    }
                }
            }
            &:nth-child(3) {
                span {
                    padding-left: 0;
                    padding-right: 8rem;
                    @include breakpoint($small) {
                        padding-right: 0;
                    }
                }
            }
            &:last-child {
                p {
                    border-right: none;
                }
            }
        }
    }
    .operadores {
        text-align: center;
        font-size: .75rem;
    }
}

.block-facet-blockcontent-type {
    h2 {
        text-align: left;
        max-width: 1023px;
        margin: auto;
        font-weight: 300;
        padding-top: 5rem;
        margin-bottom: 1rem;
    }
    .componet-content {
        background-color: $blanco-sc;
        padding: 2rem 0 .3rem 0;
        ul {
            display: flex;
            padding: 0;
            @include breakpoint($small) {
                display: block;
            }
        }
        li {
            list-style: none;
            margin-right: 4rem;
            @include breakpoint($small) {
                margin-right: 0;
            }
            .facets-checkbox {
                display: none;
                &:checked {
                    &+label {
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 4px;
                            left: 6px;
                            width: 3px;
                            height: 7px;
                            border: solid $gris-pr;
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                        }
                    }
                }
            }
            label {
                position: relative;
                &:before {
                    content: '';
                    -webkit-appearance: none;
                    background-color: transparent;
                    border: 2px solid $petroleo-tr;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                    padding: .4rem;
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                    cursor: pointer;
                    border-radius: .2rem;
                    margin-right: 5px;
                    margin-top: -6px;
                }
            }
        }
        label {
            color: $azul-os-pr;
        }
    }
}

.view-buscador-global {
    .view-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include breakpoint($small) {
            display: block;
            padding-top: 1rem;
        }
        .views-row {
            width: 48.5%;
            margin: 1.5% 0;
            border: 1px solid $gris-tr;
            display: flex;
            padding: 1rem;
            @include breakpoint($small) {
                width: 100%;
                margin: .5rem 0;
                flex-direction: column;
            }
            .icon {
                width: 25%;
                min-width: 25%;
                @include breakpoint($small) {
                    width: 100%;
                    height: 6rem;
                }
                background-repeat: no-repeat;
                background-position: center;
                display:flex;
                align-items: center;
                justify-content: center;
                &.landing_page,
                &.page {
                    background-image: url(../images/icons/type-doc-pagina.svg);
                }
                &.document {
                    background-image: url(../images/icons/type-doc-formulario.svg);
                }
                &.faq {
                    background-image: url(../images/icons/type-doc-pregunta.svg);
                }
                &.prodcut {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .content {
                padding-left: 1rem;
                @include breakpoint($small) {
                    display: flex;
                    flex-direction: column;
                    padding-left: 0rem;
                    width: 100%;
                    text-align: center;
                }
                .button {
                    @include breakpoint($small) {
                        padding: 0 1rem;
                        text-align: center;
                    }
                }
                h2 {
                    font-size: 1rem;
                    line-height: 1.6rem;
                    margin-bottom: 0;
                    text-align: left;
                    @include breakpoint($small) {
                        padding: 0;
                        text-align: center;
                    }
                }
                p {
                    margin-top: 0;
                }
            }
        }
    }
    svg {
        width: 5rem;
        path {
            fill: $petroleo-tr;
            &.st0 {
                fill: $petroleo-tr;
            }
        }
        rect {
            fill: $petroleo-tr;
        }
        polygon {
            fill: $petroleo-tr;
        }
    }
}

.component__drupal-block {
    &.thankyou {
        background-color: $azul-hielo-sc;
        padding: 4rem 0 3rem 0;
        text-align: center;
        margin-top: -4rem;
        margin-bottom: 0;
        h2 {
            margin-bottom: 0;
        }
        img {
            margin: 2rem auto;
        }
        p {
            font-size: 1.25rem;
            font-weight: 300;
            color: $azul-os-pr;
            padding: 0 10rem;
            @include breakpoint($small) {
                padding: 0 1rem;
            }
            span {
                color: $petroleo-tr;
            }
        }
    }
}

.items-frecuentes {
    // background-color: $blanco;
    a {
        color: $petroleo-tr;
    }
    .field--name-field-column-item {
        display: flex;
        @include breakpoint($small) {
            display: block;
        }
    }
    .menu--enlaces-rapidos {
        background-color: $blanco-pl;
        margin-top: 5rem;
        border-radius: 5px;
        @include breakpoint($small) {
            margin-top: 1rem;
        }
        .menu {
            padding: 1rem 2rem;
            li {
                list-style: none;
                margin-bottom: 1rem;
                a {
                    color: $petroleo-pr;
                    font-weight: bold;
                    background-image: url(../images/icons/link.svg);
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: 20px;
                    padding-left: 2rem;
                    line-height: 2rem;
                    &:hover {
                        color: $azul-os-pr;
                        text-decoration: underline;
                    }
                }
            }
        }
        h2 {
            border-bottom: 1px solid #ccc;
            margin-bottom: 0;
            padding: 1rem 2rem 0 2rem;
            font-size: 2rem;
            text-align: left;
            @include breakpoint($small) {
                padding: 1rem 0 0 0rem;
                text-align: center;
            }
        }
    }
    .view-content {
        @media screen and (min-width: $small-max) {
            column-count: 2!important;
        }
    }
    .component__column {
        &:last-child {
            width: 29%;
            @include breakpoint($small) {
                width: 100%;
            }
        }
        &:first-child {
            padding-right: 2rem;
            width: 71%;
            @include breakpoint($small) {
                padding-right: 0;
                width: 100%;
            }
            h2 {
                text-align: left;
            }
            @include breakpoint($small) {
                .viewsreference--view-title {
                    h2 {
                        text-align: center;
                    }
                }
            }
        }
    }
}

.lista--relacionadas {
    background-color: $azul-hielo-sc!important;
    h2 {
        font-size: 1.5rem;
        text-align: left;
    }
}

#component-906 {
    .cog--mq {
        width: 100%;
        padding: 0;
    }
}

.block--lineas-atencion-siniestros {
    padding-bottom: 2rem;
}

.view-categories-taxonomies {
    padding-bottom: 4rem;
    padding-top: 2rem;
}

.documentos--lista {
    &.documentos-frecuentes {
        padding-left: 0;
        padding-right: 0;
        .component__title {
            margin-bottom: 2.5rem !important;
        }
    }
}

#block-liberty-public-content {
    .component__select-cta--documents {
        .form-actions {
            margin-bottom: 0;
        }
    }
}

// Estilos modal nuetras oficinas 
#block-buscadorpuntosdepagopopup {
    .field--type-entity-reference-revisions {
        margin-bottom: 4rem;
        .cog--mq {
            @include breakpoint($small) {
                padding: 0;
                margin: 0;
                width: 100%;
            }
            .cog--mq {
                @include breakpoint($small) {
                    margin: auto;
                    width: 90%;
                }
                .view-header {
                    @include breakpoint($small) {
                        text-align: center;
                    }
                    .options-results {
                        @include breakpoint($small) {
                            margin: 0;
                        }
                    }
                }
                .view-content {
                    @include breakpoint($small) {
                        width: 90%;
                        margin: auto;
                    }
                    .verInfo {
                        @include breakpoint($small) {
                            margin-left: 5rem;
                        }
                    }
                    .mapa {
                        @include breakpoint($small) {
                            border-top: 0;
                            float: none;
                            margin-left: 5rem;
                            justify-content: flex-start;
                            display: flex;
                        }
                    }
                    .verMapa {
                        @include breakpoint($small) {
                            margin: 0;
                            margin-top: 0.5rem;
                            font-size: 1rem;
                        }
                    }
                    .mapaContainer {
                        @include breakpoint($small) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// Estilos especifico para la modal de contactenos 
#block-contactenospopup {
    .field--type-entity-reference-revisions {
        margin-bottom: 4rem;
        .component__heading {
            padding: 0;
            .cog--mq {
                width: 100%;
                padding: 0;
                .component__title {
                    margin-bottom: 1rem;
                    margin-top: 2rem;
                }
                .component__subtitle {
                    margin-bottom: 2rem;
                }
            }
        }
        .cp-cards__list {
            .popup-no-tabs {
                padding: 0;
                .cog--mq {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    .main-links {
                        padding: 0;
                        li {
                            width: 100% !important;
                            margin: 0;
                            margin-bottom: 2rem;
                            h4 {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Estilos especificos de red medica 
#block-renderviewsearchmedicalnetwork {
    .form-actions {
        display: none;
    }
}

// Component Columnns
.component__columns {
    &.columns--2x {
        .field--name-field-column-item {
            padding: 0;
            display: flex;
            flex-direction: column;
            @media screen and (min-width: $medium-max) {
                padding: 0 10rem;
                flex-direction: row;
            }
        }
        .component__column {
            width: 100%;
            margin-bottom: 1.5rem;
            @media screen and (min-width: $medium-max) {
                width: 48%;
                margin-right: 4%;
                margin-bottom: 0;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &.columns__formas-de-pago {
        padding: 2rem 0 3rem 0;
        background-color: $blanco-sc;

        .component__title {
            font-size: 2.5rem;
            line-height: 3rem;
            margin-bottom: 0;
            display: none;
            @media screen and (min-width: $medium-max) {
                display: block;
            }
        }
        .component__subtitle {
            font-size: 1rem;
            font-weight: normal;
            line-height: 1.4rem;
            letter-spacing: normal;
            color: $gris-pr;
            margin-bottom: 1.375rem;
            @include breakpoint($small) {
                width: 100% !important;
                margin-bottom: 1rem !important;
            }
        }
        .component__drupal-block {
            width: 100%;
        }
    }
}

.block--bundle-card {
    &.pagar--mg-card {
        border: 1px solid $gris-tr;
        padding: .5rem 1.5rem 0;
        background-color: white;
        min-height: 195px;
        border-radius: 3px;
        .section__content-inner {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .block__card-image {
                margin: 1rem auto .5rem;
                img {
                    position: inherit;
                    max-width: inherit;
                    min-width: inherit;
                    transform: none;
                    width: auto;
                    height: auto;
                }
            }
            .block__card-title {
                border: 0;
                padding: 0;
                font-size: 1.1875rem;
                font-weight: 300;
                color: $azul-os-pr;
                background: transparent;
                font-weight: 400;
            }
            .block__card-lead {
                p {
                    font-weight: 300 !important;
                    color: #565656 !important;
                    font-size: 0.875rem;
                    .desc__option {
                        display: inline-block;
                    }
                }
            }
            .block_card-link {
                margin: 0.5rem auto 0.5rem auto;
                a {
                    font-size: .9375rem;
                    background-color: $petroleo-tr !important;
                    border-color: none;
                    color: white;
                    padding: 7px 0;
                    line-height: 1.3rem;
                    border-radius: 3px;
                    font-weight: bold;
                    cursor: pointer;
                    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
                    padding: 7px 16px;
                    font-weight: normal;
                    display: inline-block;
                    &:hover {
                        background-color: $petroleo-pr !important;
                        text-decoration: none;
                    }
                }
            }
        }
        &:hover {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
        }
    }
}

.component__tabs {
    padding: 2rem 0 3rem 0;
    background-color: #f5f5f5;
    margin-bottom: 4rem;
    .component__heading {
        .component__title {
            margin-bottom: 1.5rem;
        }
        .component__subtitle {
            margin-bottom: 3rem;
            font-size: 1.25rem;
            width: 70%;
            margin: auto;
            line-height: 1.8;
            color: $gris-pr;
            font-weight: normal;
            @include breakpoint($small) {
                width: 100%;
            }
        }
    }
    .cp-cards__list {
        .main-links {
            width: 100%;
            li {
                &.ui-state-active,
                &.ui-state-hover {
                    border: 0;
                    .normal-tab {
                        a {
                            color: $petroleo-tr;
                        }
                    }
                }
                .normal-tab {
                    a {
                        border: 0;
                    }
                }
            }
        }
    }
}