.component__card-grid-accordion {
  &__title {
    text-align: center;
    padding-top: 20px;
    @include breakpoint($small) {
      font-size: 1.2rem;
    }
  }

  .field__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 2rem 0;
    max-width: 1024px;
    margin: 0 auto;
    @include breakpoint($small) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0.5rem;
      padding: 2rem;
    }
  }

  .component__grid-accordion {
    padding: 2rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #00000030;
    box-shadow: 0 0 10px #00000030;

    &:hover {
      background-color: #f0fbfc;
    }

    &__heading {
      cursor: pointer;
      @include breakpoint($small) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__title {
      font-size: 1.3rem;
      font-weight: 700;
      color: #1a1446;
    }

    &__open {
      color: #28a3af;
      padding: 1rem 1.5rem 1rem 0;
      cursor: pointer;
      background-image: url(../images/icons/flecha-menu.svg);
      background-repeat: no-repeat;
      background-size: 12px;
      background-position: center right;
      display: inline-block;

      &__song {
        @include breakpoint($small) {
          display: none;
        }
      }
    }

    &__body {
      display: none;

      &.is-active {
        display: block;
      }
    }
  }
}
