.component__card-person {
  width: 30%;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  padding: 2rem;
  text-align: center;
  background-color: #fff;

  @include breakpoint($small) {
    margin-top: 4.5rem;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 300;
    text-align: left;
  }

  .card-person__image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: auto;
    margin-top: -99px;
    border: 14px solid #fff;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 137px;
      height: 137px;
      background-color: #99e5ea;
      border-radius: 50%;
      z-index: 1;
      top: -6px;
      left: -4px;
    }

    img {
      z-index: 2;
      position: relative;
    }
  }

  .card-person__name {
    font-size: 1.4rem;
    font-weight: 500;
    color: #1b1446;
    margin-top: 0.7rem;
  }

  .card-person__label {
    display: inline-block;
    background-color: #26a4af;
    line-height: 1.3rem;
    font-size: 0.85rem;
    padding: 0 0.5rem;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 1.1rem;
  }

  .card-person__lead {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 300;
    text-align: left;
  }
}
