.items-frecuentes {
  padding-bottom: 3rem;
}

.field--name-field-column-item{
	display:flex;
	flex-wrap: wrap;
}

.payment-points {
	.component__column {
		width: calc(50% - 1.375rem);
	    @include breakpoint($small) {
	   		width: 100%;
	  	}
		.view-filters {
			display: none;
		}
		.component__view--sucursal {
			.view-header {
		    	display: block;
			}
		}		
	}
}