.chapter-ls {
  border-radius: 6px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  overflow: hidden;
  margin: 0 1rem;

  .chapter-ls__content {
    padding: 2rem;
    position: relative;

    .chapter-ls__title {
      font-size: 1.3rem;
      font-weight: 500;
      color: #1b1446;
    }

    .chapter-ls__body {
      p {
        font-size: 0.9rem;
        line-height: 1.4rem;
      }
    }

    .video__share {
      position: absolute;
      bottom: 11px;
      right: 0px;
      width: 40px;
      height: 40px;
      background-color: white;
      padding: 1rem 0;
      overflow: hidden;
      transition: height 0.4s;

      .share__item {
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
        display: block;
        padding-bottom: 8px;

        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }

      span {
        text-indent: -9999px;
        display: block;
        width: 32px;
        height: 32px;
        background-position: center;
        margin: 0 auto;
      }

      .share__link {
        span {
          background: url(../images/icons/icon-share.svg) no-repeat;
          background-position: center;
        }
      }

      .share__facebook {
        span {
          background: url(../images/icons/los-segura/facebook.svg) no-repeat;
          background-position: center;
        }
      }

      .share__twitter {
        span {
          background: url(../images/icons/los-segura/twitter.svg) no-repeat;
          background-position: center;
        }
      }

      .share__linkedin {
        span {
          background: url(../images/icons/los-segura/linkedin.svg) no-repeat;
          background-position: center;
        }
      }

      .share__instagram {
        span {
          background: url(../images/icons/los-segura/instagram.svg) no-repeat;
          background-position: center;
        }
      }

      &:hover {
        height: 210px;
        background-color: #f0fbfc;
        bottom: 0;
      }
    }
  }
  .chapter-ls__media {
    .video-thumbnail {
      margin: 0 auto;
    }
  }
}

.component__drupal-view {
  .component__content {
    .slick-next,
    .slick-prev {
      &::before {
        width: 20px;
        height: 20px;
        content: "";
        display: block;
        background-size: 685%;
        border-bottom: 2px solid #1a1446;
        border-right: 2px solid #1a1446;
<<<<<<< HEAD
        background: transparent;
=======
>>>>>>> main
      }
    }
    .slick-next {
      &::before {
        transform: rotate(-45deg);
      }
    }
    .slick-prev {
      &::before {
        transform: rotate(135deg);
      }
    }
  }
}

.glosario-ls-container {
  display: flex;
  justify-content: space-between;
  background-color: #f0fbfc;
  flex-direction: column;

  @media screen and (min-width: $small-max) {
    flex-direction: row;
  }

  .view-header {
    padding: 2rem;
    text-align: center;
    order: 2;

    @media screen and (min-width: $small-max) {
      flex-basis: 50%;
      order: 1;
    }

    .glosario-ls__button {
      p {
        padding: 1rem 3rem;
        margin-bottom: 1rem;
      }
    }
  }

  .view-content {
    order: 1;

    @media screen and (min-width: $small-max) {
      flex-basis: 50%;
      order: 2;
    }
  }
}

.glosario-ls__banner {
  .glosario-ls__image {
    display: block;
    width: 100%;
    height: 500px;
    background: url("../images/family-ls.svg") no-repeat;
    background-position: center;
    background-size: 125%;

    @media screen and (min-width: $small-max) {
      display: block;
      width: 450px;
      height: 500px;
      background: url("../images/family-ls.svg") no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }
}

.glosario-ls {
  background-color: white;
  padding: 2rem 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 1rem;

  p {
    font-size: 14px;
    line-height: 1.4;
  }
}

.form-glossary-word {
  background-color: #1e1045;
<<<<<<< HEAD
  // display: none;
=======
>>>>>>> main

  &.is-open {
    .modal-overlay {
      display: flex;
    }
  }

  .ls__content p {
    font-size: 0.85rem;
    line-height: 1.5;
  }

  /* Modal */
  .modal-overlay {
    position: fixed;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 1000000000;
    padding: 1em;
    background-color: rgba(27, 20, 70, 0.92);
    width: 100%;
    height: 100vh;

    .form-item {
      margin-bottom: 1rem;
    }
    h2 {
      font-size: 2rem;
      font-weight: 300;
      margin-bottom: 0.5rem;
    }
  }

  .modal {
    padding: 2rem;
    background-color: #fff;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
    flex-grow: initial;
    height: auto;
    background-image: url(../images/icons/icon-form-word.svg);
    background-repeat: no-repeat;
    background-position: center 2rem;
    padding-top: 7rem;

    .glosario-ls__lead-form {
      width: 60%;
      text-align: center;
      margin: auto;
      margin-bottom: 1rem;
      line-height: 1.5rem;
    }

    form {
      text-align: center;
    }

    .jsModalClose {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
      cursor: pointer;
      padding: 1rem;
    }
  }
}
