.component__select-cta {
  margin-top: -100px;
<<<<<<< HEAD
  .cog--mq{
=======
  .cog--mq {
>>>>>>> main
    background: $blanco-pl;
    padding: 2rem;
    box-shadow: 0 26px 70px 0 rgba(52, 55, 65, 0.09);
    display: flex;
    justify-content: center;
  }
<<<<<<< HEAD
  .component__heading{
=======
  .component__heading {
>>>>>>> main
    margin: 0 1.5rem 0 0;
    @include breakpoint($small) {
      margin-right: 0;
    }
<<<<<<< HEAD
    h2{
     margin-bottom: 1rem;
     font-size: 2rem;
    }

  }
  .component__content{
    select{
     color:unset;
     margin: 0 1.5rem 0 0;
     padding: 0 6rem 0 1rem;
     line-height: 3.125rem;
     @include breakpoint($small) {
      padding-right: 2rem;
     }
    }

  }
  .button{
=======
    h2 {
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  }
  .component__content {
    select {
      color: unset;
      margin: 0 1.5rem 0 0;
      padding: 0 6rem 0 1rem;
      line-height: 3.125rem;
      @include breakpoint($small) {
        padding-right: 2rem;
      }
    }
  }
  .button {
>>>>>>> main
    margin-bottom: 0;
    @include breakpoint($small) {
      width: 100%;
      margin-top: 1rem;
    }
  }
}

.component__select-cta--documents {
<<<<<<< HEAD
  position:relative;
  z-index:2;
=======
  position: relative;
  z-index: 2;
>>>>>>> main
  margin-top: 1rem;

  .views-exposed-form {
    width: 100%;
    form {
      display: flex;
      align-items: center;
      justify-content: left;
      margin-bottom: 0;
      @include breakpoint($small) {
        display: block;
      }
      .form-item {
<<<<<<< HEAD
        margin:0px;
=======
        margin: 0px;
>>>>>>> main
        max-width: 53rem;
        margin-right: 2rem;
        @include breakpoint($small) {
          max-width: 100%;
          width: 100%;
          margin-right: 0;
          margin-bottom: 1.5rem;
        }
      }
<<<<<<< HEAD
      .button{
=======
      .button {
>>>>>>> main
        margin: 0;
      }
    }
  }

<<<<<<< HEAD
  .cog--mq{
=======
  .cog--mq {
>>>>>>> main
    max-width: 915px;
  }
}
