.component__single-text {
  h2 {
    padding-top: 1rem;
    margin-bottom: 1.5rem;
  }
}

.component__single-text--interesado,
.component__single-text--interesado--external {
  background-color: rgba($azul-hielo-tr, 0.5);
  padding: 5.8125rem 0 4rem 0;
  text-align: center;
  margin-bottom: 0;
  @include breakpoint($small) {
    background-color: rgb(199, 242, 245);
    padding: 3rem 0 1rem 0;
    text-align: center;
<<<<<<< HEAD
    //margin-top: -91px;
=======
>>>>>>> main
  }

  p {
    color: $charcoal-grey;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  a {
    font-size: 1rem;
  }
  .component__title {
    padding-bottom: 0;
  }
}

.component__single-text--app {
  @include breakpoint($up-sm) {
    position: relative;
    padding-top: 3rem;
    &:before {
      content: "";
      background-color: $amarillo-pr;
      position: absolute;
      top: 0;
      left: 0;
      height: 250px;
      width: 100%;
      z-index: -1;
    }
  }
  h2 {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: normal;
  }
  h3 {
    margin-bottom: 0.2rem;
  }
  h4 {
    font-size: 1.75rem;
    line-height: 2.125rem;
    font-weight: normal;
    margin-bottom: 1.875rem;
  }
  .is-mobile {
    @include breakpoint($up-sm) {
      display: none;
    }
    h3 {
      background-color: $azul-hielo-sc;
      padding: 1rem 0 2.5625rem;
      margin: 0 1rem;
    }
    h4 {
      margin-top: 2rem;
    }
    .icon {
      width: 46px;
      margin: -31px auto 15px;
      border-radius: 50%;
      background-color: $azul-os-sc;
      img {
        padding: 5px;
      }
    }
    .slick-dots {
      bottom: -18px !important;
    }
  }
  .is-desktop {
    display: none;
    @include breakpoint($up-sm) {
      display: block;
    }
    .feature-item {
      margin-bottom: 1.125rem;
    }
    .col-right {
      padding-top: 15rem;
    }
    h2 {
      margin-bottom: 3.95rem;
      margin-top: 1rem;
    }
    h4 {
      margin-top: 3.125rem;
    }
  }
  .avalaible {
    &__apps {
      display: flex;
    }
    .platform {
      margin: 0 0.65625rem;
      width: 50%;
    }
  }
}

.component__single-text--pregunta-intro {
  background: $azul-hielo-sc;
  padding: 5rem 0 3rem;
  text-align: center;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 3rem;
  }
  .component__content {
    p {
      font-size: 1.5rem;
      color: $azul-os-pr;
      padding: 0 2.5rem;
      line-height: 2rem;
      @include breakpoint($up-sm) {
        padding: 0 10rem;
      }
    }
  }
}

.component__single-text--contactenos {
  background-color: $azul-hielo-sc;
  padding-bottom: 4rem;
  .contact-lines {
    background-color: white;
    color: $azul-os-pr;
    @include breakpoint($up-sm) {
      padding: 4rem;
    }
  }
  h3 {
    padding: 2rem 8rem 1rem;
    @include breakpoint($small) {
      padding: 2rem 4rem 1rem;
      margin: 0;
    }
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.875rem;
    text-align: center;
    @include breakpoint($up-sm) {
      padding: 1rem 8rem 1rem;
    }
  }
  .line {
    padding: 1.25rem 4rem;
    @include breakpoint($small) {
      padding: 1.25rem 2rem;
    }
    border-bottom: 1px solid $gris-tr;
    @include breakpoint($up-sm) {
      display: flex;
      padding: 1rem 2.5rem;
      border-bottom: none;
    }
    &:hover {
      background-color: $azul-hielo-sc;
    }
    &.line-last {
      border-bottom: none;
      @include breakpoint($small) {
        word-break: break-word;
        .item {
          span {
            margin-top: 0;
          }
        }
      }
    }
    .item {
      @include breakpoint($small) {
        padding: 0 0 1rem 2rem;
      }
      @include breakpoint($up-sm) {
        width: 50%;
        display: inline-flex;
        align-items: center;
        &.full-width {
          width: 100%;
        }
      }
    }
  }
  span {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 0.875rem;
    @include breakpoint($small) {
      margin-left: -2.3rem;
      vertical-align: middle;
      margin-top: 8px;
    }
    &.ico--user-solid {
      background: url(../images/icons/user-solid-green.svg) no-repeat;
      background-size: 22px;
    }
    &.ico--user-outline {
      background: url(../images/icons/user-outline-green.svg) no-repeat;
      background-size: 22px;
    }
    &.ico--location-pin-outline {
      background: url(../images/icons/location-pin-outline.svg) no-repeat;
      background-size: 22px;
    }
    &.ico--mail {
      background: url(../images/icons/mail-green.svg) no-repeat;
      background-size: 22px;
    }
    &.ico--phone {
      background: url(../images/icons/phone-green.svg) no-repeat;
      background-size: 22px;
    }
    &.ico--call-outline {
      background: url(../images/icons/call-outline.svg) no-repeat;
      background-size: 22px;
    }
  }
  a {
    color: $petroleo-tr;
    font-weight: 700;
    white-space: nowrap;
    position: relative;
    margin-left: -0.3rem;
    font-size: 0.9rem;
  }
}

.component__single-text--lista-ordenada {
  ol {
    counter-reset: my-awesome-counter;
    margin-left: 60px;
    margin-bottom: 8rem;
    li {
      counter-increment: my-awesome-counter;
      margin-bottom: 2rem;
      list-style: none;
      &:before {
        content: counter(my-awesome-counter) " ";
        color: $azul-os-pr;
        background-color: $azul-hielo-sc;
        font-weight: bold;
        border-radius: 100%;
        padding: 6px 10px;
        margin-left: -60px;
        margin-right: 25px;
      }
    }
  }
}

.component__single-text--asuntos {
  background-color: $blanco-sc;
  padding: 4rem 0;
  margin-top: -2rem;
  h3 {
    margin: 1.5rem 0 1rem;
  }
  p {
    margin: 1.5rem 0;
  }
}

.component__single-text--responsabilidad {
  padding-bottom: 5rem;
  background-color: $blanco-sc;
  .component__heading {
    .component__title {
      padding-bottom: 0 !important;
    }
  }
  .component__content {
    .quote {
      margin-bottom: 2rem;
    }
  }
  h2 {
    padding-top: 4rem;
  }
  h3 {
    @include breakpoint($up-sm) {
      padding: 2.5rem 0 1.5rem;
    }
    padding: 2.5rem 2.625rem;
    text-align: center;
  }
  p {
    color: $charcoal-grey;
    padding: 0 1.375rem;
    @include breakpoint($up-sm) {
      padding: 0 3.25rem;
    }
    &.quote {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.2;
      text-align: center;
      color: #1a1446;
      @include breakpoint($up-sm) {
        padding: 0 10.125rem;
      }
    }
  }
  .tarjeta {
    @include breakpoint($up-sm) {
      height: 11.625rem;
      display: flex;
      @include browser(Trident) {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 0;
      }
    }
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(26, 20, 70, 0.2);
    background-color: $blanco-pl;
    margin: 0 3.25rem;
    @include breakpoint($small) {
      width: 90%;
      margin: auto;
      padding-bottom: 2rem;
    }
    .image {
      height: 100%;
      width: 80.2%;
      @include browser(Trident) {
        width: 44%;
      }
      @include breakpoint($small) {
        width: 100%;
      }
      img {
        height: 100%;
        width: 100%;
        @include breakpoint($small) {
          width: 100%;
        }
        @include browser(Trident) {
          margin-right: 2rem;
        }
      }
    }
    .content {
      display: flex;
<<<<<<< HEAD
      // padding: 0rem 2.5rem;
=======
>>>>>>> main
      justify-content: center;
      flex-direction: column;
      height: 100%;
      padding-left: 2rem;
      @include browser(Trident) {
        width: 100%;
      }
      @include breakpoint($small) {
        padding: 3rem 1.2rem;
      }
      h4 {
        font-size: 1.125rem;
      }
    }
    p {
      padding: 0;
      color: $gris-pr;
    }
    a {
      color: $petroleo-tr;
      &:hover {
        color: $azul-os-pr;
        text-decoration: underline;
      }
    }
  }
}

.component__intermediarios {
  .component__heading {
    .component__title {
      text-align: center;
    }
  }
  .component__content {
    .view-content {
      max-width: 550px;
      margin: 0 auto;
    }
    .footer__message {
      text-align: center;
      a {
        color: $petroleo-tr;
        &:hover {
          color: $azul-os-pr;
          text-decoration: underline;
        }
      }
    }
  }
}

#block-liberty-public-content {
  .tabs {
    .component__single-text--interesado .component__heading,
    .component__single-text--interesado--external .component__heading {
      .component__title {
        padding-bottom: 0;
      }
    }
  }
}
