.component__testimony-item {
    display: block;
    padding: 1rem 2rem;
    position: relative;
    height: 280px;
    @media screen and (min-width: $small-max) {
        flex: 1;
    }
    .block:last-of-type {
        background-color: transparent;
    }
    .score {
        display: flex;
        height: 10%;
        img {
            margin: 0.1rem;
            width: 1rem;
            height: 1rem;
        }
    }
    .user {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        height: 15%;
        .icon {
            padding: 0.6rem;
            padding-left: 0;
        }
        img {
            width: 1.125rem;
            height: 1.6rem;
        }
        h6 {
            color: $petroleo-tr;
            font-weight: bold;
        }
    }
}