#block-hdi-aliados-local-tasks {
  @media (max-width: 599px) {
    margin: 1rem 1rem 1rem 1rem;
  }
  .tabs__nav--local-tasks {
    align-content: center;
    display: flex;
    justify-content: space-around;

    @media (max-width: 599px) {
      align-content: center;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }

    li {
      flex: 1;

      &:first-of-type {
        a {
          border-top-left-radius: 3px;
        }
      }

      &:last-of-type {
        a {
          border-top-right-radius: 3px;
        }
      }

      a {
        background-color: var(--hdi-universal-green-70);
        color: var(--white);
        padding: .75rem;
        text-align: center;

        &.is-active {
          background-color: var(--hdi-green);
          font-weight: bolder;
        }
      }
    }
  }
}
#block-hdi-aliados-content {
  @media (max-width: 599px) {
    margin: 0rem 1rem 0rem 0rem;
  }
  .form-actions{
    @media (max-width: 599px) {
      margin-left: 6.5rem;
    }
  }
}
