.card__heading {
  @include heading-large($font-size: 1.3rem);
  @include no-bottom;

  &-link {
    @include link;
  }
}

.card__subheading {
  @include heading-medium($font-size: 1rem);
  @include no-bottom;

  color: clr(text);
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__link {
  @include link;
}

.card__button {
  @include button-base;
  @include button-color-primary;
  @include button-medium;
}

/* Variations */
.card--bg {
  background-color: clr(highlight-high);
  padding: 1em;
}

.card-service {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px #00000029;
  max-width: 480px;
  height: 100%;
  position: relative;
  padding-bottom: 5rem;

  @include transition;

  &--blue {
    .card-service__topbar {
      background-color: $color-primary;
      color: $white;

      .h2,
      h2,
      .text-long h2 {
        color: $white;
      }
    }
  }

  &--yellow {
    .card-service__topbar {
      background-color: $color-yellow;
    }
  }

  .grid--col1 & {
    @include medium {
      min-width: 480px;
    }
  }

  &__topbar {
    background-color: $color-yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .card-header--blue & {
      background-color: $color-primary;
      color: $white;

      .h2,
      h2,
      .text-long h2 {
        color: $white;
      }
    }

    .card-header--yellow & {
      background-color: $color-yellow;
    }
  }

  &__heading {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
  }

  &__image {
    height: 48px;
    width: 48px;
    overflow: hidden;
    border-radius: 50%;
    margin: 5px 15px;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    picture {
      max-width: 24px;
      max-height: 24px;
    }
  }

  &__content {
    padding: 1rem 2rem 2rem;
  }

  &__tabs {
    display: flex;

    .tab {
      width: 100%;
      display: block;
      border-bottom: 2px solid #ededed;
      padding: 0.5rem;
      text-align: center;
      cursor: pointer;
      color: #1a1446;

      &.is-active {
        border-bottom: 2px solid $color-secondary-link;
        color: $color-primary;
        font-weight: bold;
      }
    }
  }

  &__tab {
    padding: 1rem 0;
    display: none;
    max-height: 320px;
    overflow: hidden;

    @include transition;

    &.is-active {
      display: block;
    }
  }

  &__list,
  &__benefits {
    ul {
      list-style: none;
      padding-left: 2rem;

      li {
        position: relative;
        line-height: 1.7;
        text-align: left;

        &::before {
          content: ' ';
          height: 25px;
          width: 25px;
          background-image: url(../images/icons/check.svg);
          background-repeat: no-repeat;
          background-size: 18px;
          background-position: center;
          position: absolute;
          top: 3px;
          left: -30px;
        }
      }
    }
  }

  &__cta {
    text-align: center;
    padding-top: 1rem;
    position: absolute;
    margin-left: -2rem;
    bottom: 2rem;
    width: 100%;

    button {
      @include button-base;
      @include button-color-primary;
      @include button-medium;
    }
  }

  &__all-items {
    text-align: center;
    font-weight: bold;
    color: var(--c-secondary-dark);
    display: inline-block;
    vertical-align: middle;
    margin: 10px auto 0;
    width: 100%;
    cursor: pointer;

    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 14px;
      height: 20px;
      width: 20px;
      background-image: url(../images/icons/dropdown_secondary.svg);
    }
  }

  &__short-items {
    text-align: center;
    font-weight: bold;
    color: var(--c-secondary-dark);
    display: inline-block;
    vertical-align: middle;
    margin: 10px auto 0;
    width: 100%;
    cursor: pointer;

    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 14px;
      height: 20px;
      width: 20px;
      transform: rotate(180deg);
      background-image: url(../images/icons/dropdown_secondary.svg);
    }
  }
}

.is-hidden {
  display: none;
}

.card-title {
  font-size: 1.6rem;
  margin: 0;
  color: #1a1446;
  padding: 0;

  strong {
    font-weight: bold !important;
  }
}
