.banner {
  .banner {
    height: 30rem;
    overflow: hidden;
    position: relative;

    picture {
      img {
        width: 100vw;
      }
    }

    .banner__content-wrapper {
      background-color: var(--white);
      padding: 2rem;
      position: absolute;
      bottom: 3rem;
      top: unset;
      left: 0;
      width: 100%;

      @media (min-width: 900px) {
        padding-right: 2.5rem;
        left: 10rem;
        top: 5.4375rem;
        width: 23.125rem;
        bottom: unset;
      }

      @media (min-width: 1468px) {
        left: 20rem;
      }

      .banner__content > p {
        color: var(--hdi-universal-green);
        font-size: 1.8125rem;
        margin: 1rem 0 1.5rem;
        font-family: var(--hdi-font);
        line-height: 1.5rem;
        font-weight: 400;

        @media (min-width: 900px) {
          font-size: 2rem;
          line-height: 1;
        }

        & > strong {
          font-weight: 400;
        }
      }

      .banner__content div p {
        color: var(--black);
        font-size: 1.0rem;
        margin: 1rem 0 1.5rem;
      }

      .banner__button__href {
        .button {
          @media (max-width: 599px) {
            width: 100%;
          }
        }
      }
    }
  }
}
