#block-hdi-aliados-terminosycondiciones {
  .terms-modal {
    &-wrap {
      display: none;

      &.display {
        display: block;
      }
    }

    &-overlay {
      background: var(--overlay);
      position: fixed;
      height: 100vh;
      top: 0;
      left: 0;
      width: 100vw;
      z-index: 2;
    }

    &-box {
      background-color: var(--white);
      padding: 3rem 4rem;
      display: block;
      max-width: 830px;
      margin: 0 auto;
      position: relative;
      border-radius: 5px;
      top: 90px;
      max-height: 540px;
      overflow-y: scroll;

      h2 {
        font-size: 1.25rem;
        margin: 1.5rem 0;

        &:first-of-type {
          margin-top: 0;
        }

        strong {
          color: var(--hdi-green);
          font-weight: 500;
        }
      }

      .text-align-justify {
        font-weight: 400;
        text-align: left;
      }

      #modal_acept_terms {
        margin-left: 55%;
        margin-top: 1rem;
      }
    }

    &-close {
      position: absolute;
      right: 20px;
      top: 20px;
      display: block;
      text-indent: -9999px;
      background-image: url(../../images/icons/close.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 1.25rem;
      width: 1.25rem;
      cursor: pointer;
    }
  }
}
