.campaign--characteristics {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 3px 6px var(--shadow);
  flex-direction: row;
  margin-top: -4.5rem;
  max-height: 9.875rem;
  max-width: 65rem;
  padding: 3rem;

  .box-item {
    flex-basis: 33%;

    .header-caracteristics {
      .list-icon {
        display: flex;
        align-items: center;

        .list-icon__icon {
          img {
            height: auto;
            width: 3rem;
          }
        }
      }
    }
  }
}
