@use './banner.scss';
@use './campaign_characteristics.scss';
@use './landing_description.scss';
@use './cards.scss';
@use './channel_attention.scss';
@use './block_terms.scss';
@use './block_content.scss';
