.landing-description {
  margin-bottom: 2rem;
  max-width: 53rem;
  text-align: center;

  p {
    font-size: 1.125rem;
    color: var(--gray);

    strong {
      color: var(--hdi-green);
      display: block;
      font-size: 1.5625rem;
      margin: 1.5rem 0;
    }
  }
}
