// Storybook styling
.icons-demo {
  display: flex;
  flex-wrap: wrap;

  .icon {
    height: 100px;
    padding: $space-16;
    width: 100px;

    &--blue {
      fill: clr(primary);
    }

    &--white {
      fill: $white;
    }

  }

  pre {
    background-color: clr(muted);
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
  }
}

.icons-demo__item {
  border: 1px solid clr(muted);
  margin: $space-12;
}

.icon {
  &--blue {
    fill: clr(primary);
  }

  &--white {
    fill: $white;
  }

  &--secondary {
    fill: clr(secondary);
  }

  &--bluelight {
    fill: clr(secondary);
  }
  &--aqua {
    fill: clr(teal);
  }
  &--green {
    fill: clr(secondary-green);
  }
  &--terracotta {
    fill: clr(tertiary);
  }

  &--gray-component {
    fill: clr(gray-component);
  }

  &--gray-title {
    fill: clr(gray-title);
  }

  &--gray-body {
    fill: clr(gray-body);
  }
}
