/*
 * Generic header styles:
 * All arguments are optional. If not defined, the defaults below will be used
*/

$color-heading: clr(secondary);

$color-heading-gray: clr(text-dark);

$color-heading-white: clr(white);

$color-heading-gray-body: clr(text-dark);
$color-heading-gray-component: clr(text-light);
$color-heading-blue-primary: clr(secondary);

@mixin heading-large(
  $font-family: $font-heading,
  $font-size: 3rem,
  $line-height: 1.2,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 400,
  $margin: 0 0 1rem
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;
  font-stretch: normal;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-medium(
  $font-family: $font-heading,
  $font-size: 2.2rem,
  $line-height: 1.2,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 400,
  $margin: 0 0 2rem,
  $font-size-desk: 2rem
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;
  font-stretch: normal;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-small(
  $font-family: $font-heading,
  $font-size: 1.375rem,
  $line-height: 1.2,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 400,
  $margin: 0 0 1rem
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;
  font-stretch: normal;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-xs(
  $font-family: $font-heading,
  $font-size: 1.2rem,
  $line-height: 1.2,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 400,
  $margin: 0 0 1rem
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-xxs(
  $font-family: $font-heading,
  $font-size: 1rem,
  $line-height: 1,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: 0 0 1rem
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

.h1 {
  @include heading-large($font-size: 2.4rem);

  @include medium {
    @include heading-large();
  }

  &--gray {
    color: clr(text-dark);
  }

  &--white {
    color: clr(white);
  }
}

.h2 {
  @include heading-medium($font-size: 1.76rem);

  @include medium {
    @include heading-medium();
  }

  &--gray {
    color: clr(text-dark);
  }

  &--white {
    color: clr(white);
  }
}

.h3 {
  @include heading-small($font-size: 1.086rem);

  @include medium {
    @include heading-small();
  }

  &--gray {
    color: clr(text-dark);
  }

  &--white {
    color: clr(white);
  }
}

.h4 {
  @include heading-xs($font-size: 0.96rem);

  @include medium {
    @include heading-xs();
  }

  &--gray {
    color: clr(text-dark);
  }

  &--white {
    color: clr(white);
  }
}

.h5 {
  @include heading-xxs($font-size: 0.8rem);

  @include medium {
    @include heading-xxs();
  }

  &--gray {
    color: clr(secondary);
  }

  &--white {
    color: clr(white);
  }
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

h1 {
  @extend .h1;
}

h2 {
  @extend .h2;
}

h3 {
  @extend .h3;
}

h4 {
  @extend .h4;
}

h5 {
  @extend .h5;
}

.text-long {
  h1 {
    @extend .h1;
  }

  h2 {
    @extend .h2;
  }

  h3 {
    @extend .h3;
  }

  h4 {
    @extend .h4;
  }

  h5 {
    @extend .h5;
  }
}

// Example purpose
.text-examples {
  .heading-example {
    display: grid;
    grid-template-columns: 2fr 6fr 4fr;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
      line-height: 1.4;
    }

    .heading-bg {
      background-color: clr(secondary);
      color: white;
      display: flex;
      justify-content: flex-end;
      margin-right: 2rem;
      padding: 1rem;
    }

    div {
      border-left: 1px solid clr(text-dark);
      padding-left: 1rem;

      p {
        margin-bottom: 0.5rem;
      }
    }
  }
}
