@mixin image {
  display: block;
  height: 100%;
  max-width: 100%;
  position: relative;
  width: auto;
}

.image {
  position: relative;
  display: inline-block;
  overflow: hidden;

  &--blue {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: clr(primary);
      display: block;
      opacity: 0.9;
      height: 100%;
    }
  }

  &--black {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: clr(gray-dark);
      display: block;
      opacity: 0.7;
      height: 100%;
    }
  }

  &--black {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: clr(gray-dark);
      display: block;
      opacity: 0.7;
      height: 100%;
    }
  }

  &--linear-gradient-blue {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(
        359.49deg,
        #202d78 2.94%,
        rgba(32, 40, 87, 0.661458) 56.73%,
        rgba(33, 30, 23, 0) 99.46%
      );
      display: block;
      opacity: 0.7;
      height: 100%;
    }
  }

  &--icon {
    &::before {
      content: ' ';
      background-image: url('data:image/png;base64,PHN2ZyB3aWR0aD0iNzAiIGhlaWdodD0iNzAiIHZpZXdCb3g9IjAgMCA3MCA3MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcwIDMwLjU1MDNINjEuMDY3NEw2OC40MjI3IDI0LjE5MTJMNjYuMjgwOSAxOS4wMTA5TDU2LjU4NDQgMTkuNzA4Mkw2Mi44OTM3IDEzLjM...');
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
    }
  }

  .logo {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(50%);
    z-index: 20;
    height: 100%;
    width: auto;
    max-height: 340px;
    opacity: 0.2;
    max-width: 340px;

    .logo__iso {
      height: 100%;
      svg {
        height: 100%;
        width: auto;
      }
    }

    .image--nologo & {
      display: none;
    }
  }

  &--logo-top {
    .logo {
      top: 0;
    }
  }

  &--nologo {
    .logo {
      display: none;
    }
  }
}

img,
picture {
  @include image;
}

figure {
  margin: 0; /* override normalize */
}

.figure__caption {
  font-style: italic;
}

/* demo */
.content-images {
  display: flex;
  justify-content: space-between;
}

.image .h4--title-guia {
  position: absolute;
  top: 1rem;
  left: 50%;
  text-align: center;
  z-index: 100;
  display: block;
  transform: translateX(-50%);
  color: $white;
}
