{% set card_list_base_class = card_list_base_class|default('card-list') %}

{% if not card_list_modifiers %}
	{% set card_list_modifiers = [] %}
{% endif %}

{% if card_type %}
	{% set card_list_modifiers = card_list_modifiers|merge([card_type]) %}
{% endif %}

{% if card_list_columns %}
	{% set card_list_modifiers = card_list_modifiers|merge([card_list_columns]) %}
{% endif %}

{% if card_list_separator %}
	{% set card_list_modifiers = card_list_modifiers|merge([card_list_separator]) %}
{% endif %}

<div {{ bem(card_list_base_class, card_list_modifiers, card_list_blockname) }}>
	{% block card_list_content %}
		{% for item in items %}
			{% include "@organisms/card-list/_card-list-item.twig" %}
		{% endfor %}
	{% endblock %}
</div>

