@import '../mixins/responsive.scss';

#footer__right {
  display: none;
  flex-basis: 20%;
  padding-right: 2rem;
  padding-top: 2.5rem;

  @include tablet-landscape-up {
    display: block;
  }


  .navigation {
    & > .menu {
      & > li:last-of-type {
        margin-top: 1.5rem;
      }
    }
  }
}
