#footer__tool {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.4375rem;

  h2 {
    color: var(--black);
    font-size: .9rem;
    font-weight: bolder;
    margin-bottom: 1.5rem;
  }
}
