#footer__left {
  flex-basis: 100%;
  padding-top: 2.5rem;
  text-align: center;

  @include tablet-landscape-up {
    flex-basis: 80%;
    text-align: unset;
  }

  #block-hdi-portal-superintendenciafinanciera {
    img {
      left: 1.5rem;
      position: absolute;
      top: 8.625rem;
      width: 1.15rem;

      @include tablet-landscape-up {
        left: 2.6875rem;
        width: 1.25rem;
      }
    }
  }

  nav {
    &.navigation {
      & > .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        @include tablet-landscape-up {
          margin-left: 15rem;
          gap: 7rem;
        }
      }
    }
  }

  #block-hdi-portal-menufooter {
    & > .menu {
      li {
        display: none;

        @include tablet-landscape-up {
          display: block;
        }

        &:last-of-type {
          display: block;
          width: 100%;

          @include tablet-landscape-up {
            display: none;
          }

          & > .nav__mb {
            background-image: url(../../images/icon-plus.svg);
            background-color: var(--gray-30);
            background-size: 14px;
            background-position: 95% center;
            background-repeat: no-repeat;
            display: block;
            padding: 1.1rem;
            text-align: center;
            width: 100%;
            color: var(--hdi-green);
            font-weight: 500;
            margin-top: -2.2rem;
          }

          & > .menu {
            display: none;

            &.desplegado {
              display: block;
            }

            li {
              display: block;
            }
          }
        }
      }
    }
  }

  #block-hdi-portal-lineasdeasistenciamovil {
    margin: -2rem 0 2rem;
    line-height: 3;

    h3 {
      color: var(--hdi-green);
      font-size: 1.125rem;

      strong {
        color: var(--black);
      }
    }

    p {
      font-family: var(--hdi-font);

      strong {
        color: var(--black);
        text-decoration: underline;
      }
    }

    h5 {
      color: var(--hdi-green);
    }
  }
}
