#footer__terminos {
  background-color: var(--hdi-green);
  padding: 1rem;
  position: relative;

  #block-hdi-portal-terminosycondiciones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;

    @include tablet-landscape-up {
      flex-direction: row;
    }

    .logo {
      height: 2.5rem;

      @include tablet-landscape-up {
        position: absolute;
        right: 2.4375rem;
        top: 0;
        width: 2.625rem;
        height: 1.625rem;
      }
    }

    .social {
      display: flex;
      align-items: center;
      margin: 1rem 0;
      gap: 1rem;
      color: var(--white);
      flex-direction: column;

      .green {
        margin-bottom: 1rem;
      }

      & > div {
        display: flex;
        gap: 1rem;
      }
    }

    p {
      color: var(--white);
      font-family: var(--hdi-font);
      font-size: .9rem;
      font-weight: bolder;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include tablet-landscape-up {
        flex-direction: row;
      }

      a {
        color: var(--white);
        font-family: var(--hdi-font);
        font-size: .85rem;
        font-weight: lighter;
        display: block;

        @include tablet-landscape-up {
          margin-left: 1rem;
          padding-left: 1rem;
          border-left: 1px solid var(--white);
        }
      }
    }
  }

  .cog--mq {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: unset;
  }
}
