#footer__tool {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 2.4375rem;

  @include tablet-landscape-up {
    flex-direction: row;
  }

  #block-hdi-portal-interesadoennuestrosseguros {
    display: none;

    @include tablet-landscape-up {
      display: block;
    }
  }

  h2 {
    color: var(--black);
    font-size: .9rem;
    font-weight: bolder;
    margin-bottom: 1.5rem;
  }
}
