footer {
  position: relative;

  @include tablet-landscape-up {
    display: block;
  }

  .footer__top {
    align-items: stretch;
    display: flex;

    .footer__content {
      background-color: var(--gray-20);
      flex-basis: 100%;

      @include tablet-landscape-up {
        flex-basis: 80%;
      }

      &::before {
        background: linear-gradient(90deg, var(--hdi-universal-green) 40%, var(--hdi-green) 40%);
        content: " ";
        display: block;
        height: .625rem;
        position: absolute;
        top: 0;
        width: 100%;
      }

      & > div {
        display: flex;

        nav {
          &.navigation {
            & > .menu {
              & > li {
                & > a {
                  background-color: var(--hdi-universal-green);
                  color: var(--white);
                  display: inline-block;
                  margin-bottom: 1.5rem;
                  padding: .5rem 2rem;
                }
              }
            }

            li {
              padding: .375rem 0;

              a {
                color: var(--hdi-gray);
                font-family: var(--hdi-font)
              }
            }
          }
        }

        @import './footer_left.scss';

        @import './footer_tool.scss';

        @import './footer_right.scss';
      }

      @import './footer_logos.scss';
    }

    @import './footer_contact.scss';
  }

  @import './footer_terminos.scss';
}
