@use '../mixins/responsive' as *;
@use './footer_left.scss' as fl;
@use './footer_tool.scss' as fto;
@use './footer_right.scss' as fr;
@use './footer_logos.scss' as flo;
@use './footer_contact.scss' as fc;
@use './footer_terminos.scss' as ft;

footer {
  position: relative;

  @include tablet-landscape-up {
    display: block;
  }

  .footer__top {
    align-items: stretch;
    display: flex;

    .footer__content {
      background-color: var(--gray-20);
      flex-basis: 100%;

      @include tablet-landscape-up {
        flex-basis: 70%;
      }

      @include small-desktop {
        flex-basis: 75%;
      }

      @include desktop {
        flex-basis: 80%;
      }

      &::before {
        content: " ";
        display: block;
        height: .625rem;
        position: absolute;
        top: 0;
        width: 100%;

        @include tablet-landscape-up {
          background: linear-gradient(90deg, var(--hdi-universal-green) 35%, var(--hdi-green) 35%);
        }

        @include small-desktop {
          background: linear-gradient(90deg, var(--hdi-universal-green) 37%, var(--hdi-green) 37%);
        }

        @include desktop {
          background: linear-gradient(90deg, var(--hdi-universal-green) 40%, var(--hdi-green) 40%);
        }
      }

      &>div {
        display: flex;

        nav {
          &.navigation {
            &>.menu {
              &>li {
                &>a {
                  background-color: var(--hdi-universal-green);
                  color: var(--white);
                  display: inline-block;
                  margin-bottom: 1.5rem;
                  padding: .5rem 2rem;
                }
              }
            }

            li {
              padding: .375rem 0;

              a {
                color: var(--hdi-gray);
                font-family: var(--hdi-font)
              }
            }
          }
        }

        @include fl.footer-left();
        @include fto.footer-tool();
        @include fr.footer-right();
      }

      @include flo.footer-logos();
    }

    @include fc.footer-contact();
  }

  @include ft.footer-terminos();
}