<div class="content">
    <section class="component component__banner news-blog-banner cp-banner">
        <div class="cp-banner__image">
            {{ content.field_icon }}
        </div>
        <div class="cog--mq banner--container">
            <div class="cp-banner__heading">
                <div class="cp-banner__title">
                    <h1 class="c__title">{{ content.name[0]['#title']['#context']['value'] }} </h1>
                </div>
            </div>
        </div>
    </section>
    <div class="content">
        {{ content.field_componentes }}
    </div>
</div>
