.medical-network-form-container {
  &:not(.mobile) {
    background-color: #ffffff;
  }
  padding-bottom: 1rem;
  .medical-network-form {
    &:not(.mobile) {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 3px 8px #c0bfc0;
    }
    fieldset {
      border: none;
      margin: 0;
      padding: 0;
      &.plan-types {
        @media only screen and (max-width: 320px) {
          margin-top: -1.5rem;
        }
        .form-item {
          margin: 2.375rem 0;
          position: relative;
          text-align: center;
          label {
            color: #1a1446;
            font-size: 1.375rem;
            font-weight: bolder;
            left: 35%;
            position: absolute;
            top: 0;
            &::before {
              border: solid 1px #979797;
              border-radius: 50%;
              content: " ";
              height: 1.0625rem;
              left: -1.7568rem;
              position: absolute;
              top: .15rem;
              width: 1.0625rem;
            }
          }
          input {
            opacity: 0;
            &:checked ~ label::before {
              background-color: #00a1a7;
              border-color: #00a1a7;
              background-image: url('~@/assets/img/checkmark-on.svg');
              background-repeat: no-repeat;
              background-position: center center;
              background-size: .85rem;
              color: #fff;
            }
          }
        }
      }
      &.form-lists {
        padding: 0 1rem;
      }
      &.filter-icons {
        margin: 0;
        padding: 0;
        text-align: center;
        p {
          margin-bottom: 2rem;
        }
        .form-item {
          position: relative;
          label {
            display: block;
            margin-top: 1rem;
            cursor: pointer;
            position: relative;
            &::before {
              background-repeat: no-repeat;
              background-position: center center;
              border-radius: 50%;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
              content: "";
              display: block;
              height: 2.5rem;
              margin: -3rem auto 1rem;
              position: unset;
              width: 2.5rem;
            }
          }
          &.form-item-search-telemedicine {
            label {
              &::before {
                background-image: url('~@/assets/img/rm-telemedicina.svg');
                border: none;
              }
            }
          }
          &.form-item-search-institutions {
            label {
              &::before {
                background-image: url('~@/assets/img/rm-instituciones.svg');
              }
            }
          }
          &.form-item-search-specialists {
            label {
              &::before {
                background-image: url('~@/assets/img/rm-especialistas.svg');
              }
            }
          }
          input {
            height: 0;
            margin: 0;
            visibility: hidden;
            width: 0;
            & + label::before {
              content: "";
            }
            &:disabled ~ label::before {
              background-color: #f5f5f5;
            }
            &:checked ~ label::before {
              background-color: #99e3ea;
            }
          }
        }
      }
      .error {
        display: block;
        &.error-message {
          background-color: #fff;
          color: #f66c6a;
          font-size: .8rem;
        }
      }
      .glossary-link {
        color: #1a1446;
        cursor: pointer;
        position: relative;
        &::before {
          background-image: url('~@/assets/img/servicios-icon-red.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 1rem;
          content: "";
          height: 1rem;
          left: -1.25rem;
          position: absolute;
          top: .25rem;
          width: 1rem;
        }
      }
      &.bottom-form {
        border-top: 1px solid #d8d8d8;
        margin: 0 1.5rem;
        padding-top: 2rem;
        input[type="checkbox"] {
          height: 0;
          width: 0;
          & + label {
            top: 0;
          }
        }
        .button {
          background-color: #00b1b7;
          border-color: #00b1b7;
          border-radius: 3px;
          box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .15);
          color: #f5f5f5;
          margin-top: -.5rem;
          &:hover {
            background-color: #00a1a7;
            border-color: #00a1a7;
          }
        }
      }
    }
    &.mobile {
      .form-item {
        margin-bottom: 1.3rem;
        width: 100%;
        @media only screen and (max-width: 320px) {
          margin-bottom: .7rem;
        }
      }
      fieldset {
        &.plan-types {
          margin-bottom: 1rem;
          .form-item {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
            display: block;
            margin: 1rem;
            padding: 1rem;
            label {
              left: 0;
              position: relative;
              text-align: left;
              top: .25rem;
              width: 90%;
              &::after {
                content: "";
                background-image: url('~@/assets/img/elements-icon-glyph-arrow-right.svg');
                background-repeat: no-repeat;
                background-size: contain;
                height: 1rem;
                position: absolute;
                right: .5rem;
                top: .25rem;
                width: 1rem;
              }
            }
            &.selected {
              border-radius: 0;
              border-bottom: 2px solid #06748c;
              box-shadow: none;
              margin: 0;
              text-align: center;
              width: 100%;
              label {
                &::after {
                  content: unset;
                }
              }
            }
          }
        }
        &.form-lists {
          margin-bottom: -1rem;
          padding: 0;
        }
        &.filter-icons {
          display: block !important;
          padding: 0;
          & > div {
            p {
              margin-bottom: 1rem;
              width: 100%;
            }
            & > div {
              width: 33%;
              .form-item {
                flex: 0 1 30%;
                flex-direction: row;
                justify-content: space-evenly;
                margin: 0 .5rem;
                text-align: left;
                label {
                  margin: 2rem 0 1rem;
                }
                &.form-item-search-telemedicine,
                &.form-item-search-institutions,
                &.form-item-search-specialists {
                  label {
                    &::after {
                      left: 1.5rem;
                      bottom: 2rem;
                    }
                  }
                }
              }
            }
          }

          label {
            left: 0;
          }
        }
        &.bottom-form {
          justify-content: center;
          padding-top: .5rem;
          text-align: center;
          align-items: center;
          flex-direction: column;
          .glossary-link {
            bottom: 1rem;
            margin-top: 1rem;
            position: relative;
          }
        }
      }
    }
  }
  .preferential-medical-network {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
    margin-top: 1rem;
    padding: 2rem;
    span {
      color: #343741;
      padding-left: 1.5rem;
      position: relative;
      &.institutions, &.specialists {
        &::before {
          content: "";
          background-color: #f5f5f5;
          background-position: top right;
          background-repeat: no-repeat;
          background-size: 3rem;
          border-radius: 100%;
          border-top-right-radius: 2rem;
          height: 4rem;
          left: -6rem;
          margin: 0 3rem;
          position: absolute;
          top: -1.2rem;
          width: 4rem;
        }
      }
      &.institutions {
        &::before {
          background-image: url('~@/assets/img/rm-favorite.svg');
        }
      }
      &.specialists {
        &::before {
          background-image: url('~@/assets/img/rm-especialistas-favorite.svg');
        }
      }
      &.info {
        color: #06748c;
        cursor: pointer;
        font-size: .85rem;
        &::before {
          border-radius: 100%;
          content: "\24D8";
          display: block;
          font-weight: bolder;
          height: 1rem;
          left: 0;
          position: absolute;
          text-align: center;
          width: 1rem;
        }
      }
    }
    &.mobile {
      padding: 1rem;
      h4 {
        font-size: 1rem;
        margin-top: .5rem;
      }
      span {
        &.institutions, &.specialists {
          font-size: .9rem;
          &::before {
            background-size: 2.5rem;
            display: block;
            height: 3rem;
            left: 0;
            margin: 0 auto;
            position: relative;
            top: 0;
            width: 3rem;
          }
        }
        &.info {
          display: block;
          margin-top: 1rem;
          text-align: center;
          &::before {
            left: 6.5rem;
          }
        }
      }
      .back {
        background: #fff;
        display: block !important;
        left: 0;
        margin: 0 !important;
        padding: 2rem 2rem 2rem 3rem !important;
        position: fixed !important;
        top: 0;
        width: 100%;
        z-index: 9999999;
        &::before {
          left: 1rem !important;
          top: 2.25rem !important;
        }
      }
    }
  }
  .selected-filters {
    margin-top: 1rem;
    text-align: center;
    ul {
      list-style: none;
      li {
        background-color: #27a3af;
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        margin: 0 .3rem;
        padding: .1rem .5rem;
        span {
          background-color: #1f97a3;
          cursor: pointer;
          display: inline-block;
          margin-right: -.4rem;
          width: 1.5rem;
        }
      }
    }
    &.mobile {
      ul {
        li {
          display: block;
          font-size: 1.25rem;
          margin: 0 auto .2rem;
          width: fit-content;
        }
      }
    }
  }
}
