.modal {
  background-color: var(--overlay);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  .modal-content {
    @media only screen and (max-width: 320px) {
      padding: 0 .5rem;
    }

    background-color: #fff;
    border-radius: 5px;
    left: calc(50% - 29rem);
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 3rem 2rem 1rem;
    position: fixed;
    top: 10%;
    width: 56.4375rem;
    z-index: 1;

    &.small {
      left: calc(50% - 15rem);
      padding: 6rem 4rem;
      width: 30.9375rem;
    }

    .close-modal {
      background-color: #fff;
      background-image: url('~@/assets/img/close.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: none;
      border-radius: 100%;
      height: 1.5rem;
      padding: 1.3rem;
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 1.5rem;
      z-index: 2;
    }

    .modal-footer {
      text-align: center;
      margin: 1.5rem 0 -1rem;

      button {
        background-color: #99e5ea;
        border-color: #99e5ea;
        border-radius: 3px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .25);
        color: #1a1446;
        font-size: 1rem;
        text-transform: none;
      }
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(#191446, .8);
      border: 3px solid transparent;
      background-clip: content-box;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-track {
      background: #fff;
    }
    &::-webkit-scrollbar-track-piece {
      background: 0 0;
    }
  }
  &.mobile {
    .modal-content {
      left: .5rem;
      width: 95%;
    }
  }
}
.modal-white {
  background-color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  overflow-y: scroll;
  @media only screen and (max-width: 320px) {
    height: 120%;
  }
}
