.preferential-help {
  .modal-content {
    padding: 3rem;
    h2 {
      border-bottom: 1px solid #d8d8d8;
      font-size: 2.2rem;
      padding-bottom: 1rem;
    }
    p {
      color: #1a1446;
      font-size: 1.25rem;
      line-height: 1.4;
      padding: 0 1rem;
      text-align: center;
    }
  }
  &.mobile {
    .modal-content {
      padding: 2rem .7rem;
      p {
        padding: 0;
      }
    }
  }
}
