.medical-network-result-container {
  background-color: #fff;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  .actions {
    border-bottom: 1px solid #d8d8d8;
    margin: 1rem 0 2rem;
    padding-bottom: 0;
    button {
      background-color: #fff;
      border: none;
      border-radius: 3px;
      position: relative;
      font-size: .85rem;
      font-weight: 500;
      margin-right: 1rem;
      padding-left: 2rem;
      &::before {
        background-repeat: no-repeat;
        background-size: 1rem;
        content: "";
        height: 1rem;
        margin-left: -1.5rem;
        position: absolute;
        top: .8rem;
        width: 1rem;
      }
      &.show-results {
        &::before {
          background-image: url("~@/assets/img/servicios-icon-red.svg");
        }
      }
      &.show-map {
        &::before {
          background-image: url("~@/assets/img/view-map-red.svg");
        }
      }
      &.active {
        background-color: #f5f5f5;
        border-bottom: 2px solid #28a3af;
        font-weight: bolder;
      }
      &:focus {
        outline: none;
      }
    }
    .total-results {
      color: #06748c;
      font-size: .9rem;
      margin-top: .7rem;
      text-align: center;
    }
  }
  #map {
    min-height: 35rem;
    article.search-result {
      margin-bottom: 0;
      padding-bottom: 0;
      .info {
        width: 100%;
      }
    }
  }
  .no-results {
    margin: 5rem auto 2rem;
    max-width: 26rem;
    p {
      color: #1a1446;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.2;
      position: relative;
      text-align: center;
      &::before {
        background-image: url("~@/assets/img/no-results.svg");
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        display: block;
        height: 5rem;
        margin: -1rem auto 2rem;
        width: 5rem;
      }
    }
  }
  &.mobile {
    margin: 0;
    padding-top: .5rem;
    .actions {
      button {
        margin-right: 0;
      }
    }
  }
  .new-search {
    background-color: #99e5ea;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
    color: #1a1446;
    font-size: .95rem;
    margin: 1rem 0;
    padding: .3rem;
    text-transform: none;
    width: 100%;
  }
}
