.map-result {
  .modal-content {
    padding: 0;
    
    div#map {
      margin-top: 0;
      min-height: 30rem;

      .info {
        font-size: .95rem;
        padding: 0 1rem;
        width: 100%;
      }
    }
  }

  &.mobile {
    .modal-content {
      height: 100%;

      div#map {
        height: 100%;

        .info {
          span {
            &.address, &.phone, &.whatsapp {
              display: block;
            }
          }
        }
      }
    }
  }
}
