.glossary {
  h3 {
    text-align: center;
    font-size: 1.875rem;
    color: var(--hdi-universal-green);;
  }

  p {
    color: #707070;
    text-align: center;
    margin: 1.5rem 0;
  }

  ul.tabs {
    @media only screen and (max-width: 320px) {
      margin: 0 0 1rem 0;
      padding: 0;
    }

    list-style: none;
    margin-top: .5rem;
    text-align: left;

    li {
      color: var(--hdi-gray-70);
      cursor: pointer;
      display: inline-block;
      margin-bottom: 1rem;
      margin-right: .5rem;
      padding: .5rem 1rem !important;

      &.is-active {
        border-bottom: 2px solid var(--hdi-green);
        color: #1a1446;
        font-weight: bold;
      }
    }
    & + .tab-content {
      ul {
        list-style: none;
        margin-bottom: 1rem;
        padding: 0;
        text-align: left;
        li {
          color: #707070;

          &.letter {
            background-color: var(--hdi-green);
            border-radius: 3px;
            color: var(--white);
            display: inline;
            font-size: 1.5625rem;
            font-weight: bolder;
            padding: .2rem .7rem;
            text-align: left;
            font-family: var(--hdi-font);
            margin-bottom: 1rem;
            display: inline-block;
          }

          &.term {
            color: var(--hdi-universal-green);
            font-weight: 500;
          }
        }
      }
    }
  }
  &.mobile {
    .modal-content {
      max-height: 100%;
      top: 0;
      ul.tabs {
        li {
          padding: 0 .3rem;
        }
      }
    }
  }
}
