.vue-tooltip {
  &.custom-tooltip {
    background-color: var(--overlay);
    border-radius: 5px;
    color: var(--white);
    font-size: .75rem;
    line-height: 1.7;
    min-width: 21.5rem;
    padding: .5rem 1rem;
  }
  &[x-placement^=bottom] {
    .tooltip-arrow {
      border-bottom-color: var(--overlay) !important;
    }
  }
  &[x-placement^=top] {
    .tooltip-arrow {
      border-top-color: var(--overlay) !important;
    }
  }
}
