@import '../../mixins/responsive.scss';

.alias--siniestros-talleres-preferenciales, .car--cards {
  div[class*="js-view-dom-id"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    @include tablet-landscape-up {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .views-exposed-form {
      display: flex;
      gap: 1rem;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 100%;
      max-width: unset !important;

      .form-item {
        margin-bottom: 0;

        select {
          padding: .7rem;
        }
      }
    }

    .views-row {
      flex: 1 1 100%;
      box-shadow: 0 4px 16px 0 var(--shadow);
      padding: 7rem 1.5rem 1.5rem;
      border-radius: 5px;
      position: relative;
      max-width: 100%;

      @include tablet-landscape-up {
        flex: 0 0 calc(25% - 2rem);
        max-width: calc(25% - 2rem);
      }

      &::before {
        content: "";
        background-size: contain;
        background-position: center;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 2.5rem;
        left: calc(50% - 2rem);
        background-image: url(../../images/icon-taller.svg);

        @include tablet-landscape-up {
          left: calc(50% - 1.5rem);
        }
      }

      .views-field-title, .views-field-field-ubicacion {
        color: var(--hdi-green);
        font-family: var(--hdi-font);
        margin-bottom: .5rem;
        text-align: center;
      }

      .views-field-field-ubicacion {
        font-weight: 500;
        margin-bottom: .75rem;
      }

      .views-field:not(.views-field-title, .views-field-field-ubicacion) {
        font-size: .9rem;
        margin-bottom: .5rem;
        padding-left: 1.5rem;
        position: relative;
        color: var(--gray);
        overflow-wrap: break-word;
        overflow: hidden;

        &::before {
          content: "";
          background-size: 1rem;
          background-position: center;
          background-repeat: no-repeat;
          width: 1rem;
          height: 1rem;
          position: absolute;
          top: 0;
          left: 0;
        }

        &:is(.views-field-field-direccion) {
          &::before {
            background-image: url(../../images/map-mb.svg);
          }
        }

        &:is(.views-field-field-nombre), &:is(.views-field-field-contacto) {
          &::before {
            background-image: url(../../images/ingresar-mb.svg);
          }
        }

        &:is(.views-field-field-telefono) {
          &::before {
            background-image: url(../../images/contac-mb.svg);
          }
        }

        &:is(.views-field-field-vehiculo-recibido) {
          &::before {
            background-image: url(../../images/exclamation-green.svg);
          }
        }

        &:is(.views-field-field-horario-semana) {
          &::before {
            background-image: url(../../images/schedule.svg);
          }
        }

        &:is(.views-field-field-email) {
          &::before {
            background-image: url(../../images/email.svg);
          }
        }
      }
    }
  }

  .component__cards--funciones {
    background-color: var(--hdi-yellow);
    margin: 1.5rem 0;
    padding: 1.5rem;

    .component__content {
      .cog--items {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .component__card {
          flex-basis: 33%;
          text-align: center;
        }
      }
    }
  }
}
