@import '../../mixins/responsive.scss';

.component__view--productos {
  &.interesado-home {
    .component__heading {
      h2 {
        color: var(--hdi-universal-green);
      }
    }
  }

  .component__heading {
    text-align: center;

    h2 {
      color: var(--gray);
      font-size: 2rem;
    }
  }

  .component__content {
    margin: 0 0 2rem;

    @include tablet-landscape-up {
      margin: 2rem 0;
    }

    .slick-list {
      .slick-track {
        .slick-slide {
          .slick__slide {
            &.slide {
              align-items: center;
              border: 3px solid var(--hdi-gray-30);
              display: flex !important;
              flex-direction: column;
              justify-content: flex-start;
              margin-bottom: 1rem;
              min-height: 25rem;
              padding: 1.6875rem;
              padding-bottom: 5rem;
              position: relative;
              text-align: center;


              @include tablet-landscape-up {
                margin-right: 1rem;
              }

              .field-icon {
                margin-bottom: 1.5rem;

                img {
                  width: 2.625rem;
                }
              }

              h2 {
                margin-bottom: 1.5rem;

                a {
                  color: var(--hdi-universal-green);
                  font-size: 1.5rem;
                }
              }

              p {
                margin: 1rem 0;

                @include phone-only {
                  width: 12rem;
                }
              }

              a.button {
                bottom: 1.5rem;
                position: absolute;

                @include phone-only {
                  color: var(--black);
                  font-weight: normal;
                  font-size: 1rem;
                }
              }
            }

            &:hover {
              border-color: var(--hdi-universal-green);

              h2 {
                a {
                  color: var(--hdi-green);
                }
              }
            }
          }

          div:not(.slick__slide) {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

  &.interesado-home {
    .component__content {
      header {
        background-color: var(--hdi-yellow);
        box-shadow: unset;
        margin-bottom: 2rem;
        text-align: center;

        h4 {
          font-size: 2rem;
          color: var(--hdi-universal-green);
          font-family: var(--hdi-font);
          font-weight: 500;
        }
      }

      .slick-list {
        .slick-track {
          .slick-slide {
            .slick__slide {
              &.slide {
                border: none;
                min-height: 28rem;
                padding: 1rem;

                @include phone-only {
                  min-height: 23rem;
                }
              }
            }
          }
        }
      }

      footer {
        align-items: center;
        background-image: url(../../images/bg-seguros.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 300px;
        display: flex;
        height: 225px;
        justify-content: flex-end;
        margin-bottom: -3rem;
        position: relative;
        text-align: center;

        @include phone-only {
          height: 14rem;
          background-image: none;
          flex-direction: column;
          justify-content: space-evenly;
          margin-top: 3rem;
        }


        p {
          &:first-of-type {
            color: var(--hdi-green);
            flex-basis: 90%;
            font-size: 1.25rem;
            font-weight: 500;
            margin-left: 3rem;
            margin-right: 3rem;

            @include phone-only {
              flex-basis: 0%;
              hyphens: manual;

              .block_card-link a {
                text-transform: uppercase;
                font-weight: 400;
              }
            }
          }

          &:last-of-type {
            flex-basis: 10%;
          }
        }
      }
    }
  }
}
