@import '../../mixins/responsive.scss';

.component__view--faqs {
  .component__content {
    .item-list {
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
          align-items: center;
          display: flex;
          flex-basis: unset;
          padding: 1rem;

          @include tablet-landscape-up {
            flex-basis: 50%;
          }

          &:nth-child(odd) {
            border-right: 1px solid var(--gray-20);
          }

          .field-icon {
            margin-right: 1rem;
            width: 1.5rem;
          }

          .title {
            @include phone-only {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
