@import '../../mixins/responsive.scss';

.view-categories-taxonomies {
  padding-bottom: 4rem;
  padding-top: 2rem;

  .view-content {

    @include tablet-landscape-up {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .views-row {
      width: calc(33.3333% - 1.375rem);
      box-shadow: 0 4px 16px 0 var(--shadow);
      border: none;
      padding: 2rem 4rem;
      position: relative;
      min-height: 20rem;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .views-field-field-icon {
      margin-bottom: 2rem;

      .card__img--oval {
        height: 8rem;
        width: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include phone-only {
          height: 7rem;
        }
      }

      .field-content {
        img {
          width: 100%;
          max-width: 4rem;
        }
      }
    }

    .views-field-name {
      h3 {
        font-size: 1.5rem;
        text-align: center;
        color: var(--hdi-universal-green);
      }
    }

    .views-field-field-cta a {
      min-width: 10rem;
      margin: 2rem 0 0;

      @include phone-only {
        left: 1.5rem;
      }
    }
  }

  .preguntas {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    background-color: #f5f5f5;
    box-shadow: inset 0px 9px 5px 0px rgba(0, 0, 0, 0.07);
    border-top: 3px solid #278384;
    z-index: 100;

    @include phone-only {
      position: relative;
      left: -2rem;
      width: calc(100% + 4rem);
      margin-top: 5rem;
    }

    li {
      list-style: none;
      border-bottom: 1px solid #e6e6e6;
      margin: 0.7rem;
      text-align: left;
    }

    ul{
      padding: 1rem;
    }
  }

  .show-all{
    text-align: center;
    padding-bottom: 1rem;

    @include phone-only {
      display: block !important;
      margin-top: 31.5rem;
      position: absolute;
    }
  }

   .views-field-nothing a{
    bottom: 1rem;
    color: var(--white);
    margin-bottom: 0;
    left: 5.5rem;
    min-width: 10rem;
    position: absolute;

    @include phone-only {
      left: 3rem;
    }
  }
}

.view-faqs {
  padding-bottom: 4rem;
  padding-top: 2rem;

  .view-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet-landscape-up {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .views-row {
    width: 100%;
    padding: 0rem 2rem 0.5rem 1rem;
    display: inline-flex;
    align-items: flex-start;

    @include tablet-landscape-up {
      flex-basis: calc(50% - 1rem);
      margin-left: -1rem;
      padding: 0 1rem 1.5rem 2rem;
    }

    &:nth-child(odd) {
      @include tablet-landscape-up {
        border-right: 1px solid var(--hdi-gray-30);
      }
    }

    .field.field-icon {
      flex-shrink: 0;

      a {
        margin-right: 1rem;
        width: 100%;
      }
    }
  }
}

.component.component__drupal-block.component__select-cta.component__select-cta--documents {
  .views-exposed-form {
    margin-top: -4rem;
    position: relative;
    z-index: 2;
    width: 100%;
    background: var(--white);
    padding: 0rem 0rem 2rem 0rem;
    box-shadow: 0 26px 70px 0 var(--shadow);
    display: flex;
    justify-content: center;
    border-radius: 4px;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 0;
    width: 60rem;
    max-width: 100% !important;

    @include phone-only {
      display: block;
    }

    .form-item {
      margin: 0;
      margin-right: 2rem;

      input {
        padding: .7rem;
      }
    }
  }

  .form-actions{
    @include phone-only {
      display: block;
      margin: 1rem 0;
    }

    input {
      width: 100%;
    }
  }
}

.viewsreference--view-title {
  text-align: center;

  h2 {
    margin-bottom: 1.5rem;
  }
}

.documentos-frecuentes, .documentos-por-categoria, .documentos--lista {
  margin: 2rem 0;

  .component__content {
    margin-top: 1.5rem;

    div[class*='js-view-dom'] {
      display: flex;
      flex-direction: row;
      gap: 1.25rem;
      flex-wrap: wrap;

      .views-row {
        display: flex;
        gap: 1rem;
        flex: 0 0 30%;
        line-height: 1.5;
        hyphens: auto;

        .field-icon {
          flex-shrink: 0;

          img {
            width: 1rem;
          }
        }

        .title {
          a:hover {
            font-weight: 500;
          }
        }
      }
    }
  }
}
