.component__view--faqs {
  .component__content {
    .item-list {
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
          align-items: center;
          display: flex;
          flex-basis: 50%;
          padding: 1rem;

          &:nth-child(odd) {
            border-right: 1px solid var(--gray-20);
          }

          .field-icon {
            margin-right: 1rem;
            width: 1.5rem;
          }
        }
      }
    }
  }
}
