<div class="lib-comp-qa">
    <h2 class="lib-comp-qa__title">Preguntas Frecuentes</h2>
    <div class="lib-comp-qa__accordion">
        {# Accordion item #}
        <div class="lib-comp-qa__item">
            <div class="lib-comp-qa__question">Pregunta</div>
            <div class="lib-comp-qa__answer">Respuesta</div>
        </div>
        {# End Accordion item #}
    </div>
</div>