@mixin input-base {
  border: 1px solid clr(gray-4);
  padding: $space-16;
  max-width: 100%;
  width: 100%;
  height: 3rem;
  border-radius: 4px;
  color: clr(text-dark);
  outline: none;
  font-size: 0.8125rem;

  &:disabled {
    background-color: clr(gray-4);
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
  }

  &:focus,
  &:hover {
    border-color: clr(teal-40);
  }

  &::placeholder {
    color: clr(text-dark);
  }

  &:disabled {
    border: none;
    background-color: clr(gray-4);
    z-index: 3;
    opacity: 0.5;
    user-select: none;
  }
}

// input error
@mixin input-error {
  border-color: clr(error);

  &:hover {
    border-color: clr(error);
  }

  &::placeholder {
    color: clr(error);
  }
}

@mixin input-medium {
  @include medium {
    border-radius: 4px;
  }
}

@mixin input-search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: (($space-16 * 2) + $space-24) * 2;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='file'],
input[type='datetime-local'],
textarea {
  @include input-base;
  @include input-medium;
  .form-item--error & {
    @include input-error;
  }

  &.search {
    @include input-search;
  }
}

input[type='file'] {
  background-image: url('../images/icons/file-upload.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  background-size: 20px;
}

input[type='file']::-webkit-file-upload-button {
  display: none;
  background: transparent;
  border: none;
  color: clr(text-dark);
}

input[type='date'],
input[type='time'],
input[type='datetime-local'] {
  -webkit-appearance: none;
  -webkit-min-logical-width: calc(100% - 16px);
  background-color: $white;

  &::placeholder {
    color: clr(text-dark);
  }
}

input[type='submit'] {
  &:focus-visible {
    outline: none;
  }
}

.form-item {
  width: 100%;

  .container-inline {
    margin: 0;
  }
}

.form-fieldset {
  legend {
    display: block;
    font-weight: 600;
    margin-left: 1rem;
    color: clr(secondary);
    font-size: 0.8125rem;
  }
}

.form-item__description {
  font-size: 0.75rem;
  font-weight: 500;
  color: clr(text-dark);
}

.error.form-item--error-message {
  font-size: 0.75rem;
  margin-top: 0.3em;
  color: clr(error);
  font-weight: 500;
}

textarea[data-drupal-selector='edit-comments'] {
  height: 6rem;
  @include medium {
    height: 3rem;
  }
}

.form-item__file-manager {
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    display: block;
    font-size: 0.8rem;
    white-space: nowrap;

    @include medium {
      width: 100px;
    }

    @include breakpoint(880px) {
      width: 130px;
    }

    @include breakpoint(1240px) {
      width: 200px;
    }
  }
}


.input-password-lock {
  position: relative;
}
.icon-lock-password {
  background-image: url('../images/icons/padlock.svg');
  background-repeat: no-repeat;
  position: absolute;
  bottom: 1rem;
  right: $space-24;
  padding: rem(10px);
  width: 11px;
  cursor: pointer;
  height: 15.52px;

  &--show {
    background-image: url('../images/icons/padlock-open.svg');
  }
}
