{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
    {% if multiple %}
      <div class='field__items'>
    {% endif %}
    {% for item in items %}
        <p>{{ item.content }}</p>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
