<div class="glosario-ls">
  <div class="glosario-ls__header">
    <h3 class="glosario-ls__title glosario-ls__title_main">{{ node.label }}</h3>
  </div>
  <div class="glosario-ls__content">
    {{ content.body }}
  </div>
</div>
