<div class="accordion-ls">
  <div class="accordion-ls__header">
    <h2>
      <button>
        <span class="accordion-ls__title">{{ node.label }}</span>
      </button>
    </h2>
  </div>
  <div class="accordion-ls__content">
    {{ content.body }}
  </div>
</div>
