// Base HTML Elements.
html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: $font-size-pr;
  overflow-x: hidden;

  @include browser(Trident) {
    overflow-x: hidden;
  }

  @media screen and (max-width: $medium-max) {
    font-size: $font-size-mb;
  }
}

body {
  font-family: $body_font;
  line-height: 165%;
}

div,
nav {
  box-sizing: border-box;
}

// Base Headings
//
// Markup: headlines.twig
//
// Style guide: base.headlines
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading;
  font-family: $heading_font;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  line-height: 3.375rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 3rem;

  @media screen and (max-width: $medium-max) {
    padding-left: 1.1875rem;
    padding-right: 1.1875rem;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: bold;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.6rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

body .menu-item {
  padding-top: 0;
  margin: 0;
}

// Base Text
//
// Markup: text.twig
//
// Style guide: base.text
a,
a:link,
a:visited {
  text-decoration: none;
  color: $link;
  cursor: pointer;

  &.button.button--primary {
    color: $blanco-pl;
  }
}

body p {
  margin: 0.4rem 0;
  color: $gris-pr;
  font-size: 1rem;
  line-height: 1.8;
}

// Responsive Images
img {
  max-width: 100%;
  height: auto;
  padding: 0;
}

svg {
  max-width: 128px;
  height: auto;
}

// Blockquote & Pre
//
// Markup: blockquote.twig
//
// Style guide: base.blockquote
blockquote {
  padding: 0 15px;
  color: $link;
  border-left: 4px solid $blanco-sc;

  &:last-child {
    margin-bottom: 0;
  }
}

pre {
  white-space: pre-wrap;
  overflow-x: auto;

  code {
    border: 1px dotted $link;
    background: $blanco-sc;
    padding: 2px 9px;
    display: block;
    font-size: 85%;
  }
}

// List Types
//
// Markup: lists.twig
//
// Style guide: base.lists
// OL items
ol {
  padding: 0 0 0 10px;
  margin: 0 0 10px;

  li {
    margin: 4px 0;
    padding: 0;
  }
}

ol ol {
  padding: 0 0 0 22.5px;
}

ol ol ol {
  padding: 0 0 0 22.5px;
}

// UL items
ul {
  padding: 0 0 0 10px;
  margin: 0 0 10px;

  li {
    margin: 4px 0;
    padding: 0;
  }
}

ul ul {
  padding: 0 0 0 22.5px;
}

ul ul ul {
  padding: 0 0 0 22.5px;
}

// Tables
//
// Markup: table.twig
//
// Style guide: base.table
table {
  width: 100%;

  th {
    font-weight: 600;
    text-align: left;
    background-color: $blanco-sc;
    padding: 4px 5px;
  }

  td {
    border: 0;
    outline: none;
    padding: 4px 5px;
  }

  thead {
    border: 1px solid $blanco-sc;
    border-bottom: 0;
  }

  tbody {
    border: 1px solid $blanco-sc;
  }

  tbody tr:nth-child(even) {
    background-color: $blanco-sc;
    border-top: 1px solid $blanco-sc;
    border-bottom: 1px solid $blanco-sc;
  }
}

button {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.8rem;
  color: $azul-os-pr;
  border: 1px solid $azul-os-pr;
  padding: 0 1.5rem;
  border-radius: 1.3rem;
  box-shadow: none;
}

main {
  position: relative;
}

:focus {
  outline-style: solid;
  outline-color: $petroleo-tr;
  outline-width: medium;
}

.embedded-entity {
  margin-top: 3rem;
}

.container__flex {
  display: flex;
  flex-wrap: wrap;
}

#component-13601 {
  .component__heading {
    background-color: #f2f2f2;
  }

  .component__title {
    text-align: left;
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 0 !important;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
  }
}

#component-13586,
#component-13606 {
  margin-top: -5px;

  .component__heading {
    background-color: #f2f2f2;
    padding-top: 2rem;
  }

  .component__title {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem !important;
    margin-bottom: 1.5rem;
  }
}

#component-13611,
#component-13626 {
  .component__content {
    padding: 1px 0 1px 0;
  }
}

.date-created {
  font-size: 1rem;
  font-weight: 500;
  color: #1b1446;
}

.field--name-field-relacionados {
  border-top: 1px solid #ccc;
  margin-top: 2rem;

  .field__label {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: #1e1145;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }
}

.video__share {
  position: absolute;
  bottom: 7px;
  right: 0px;
  width: 60px;
  height: 60px;
  background-color: white;
  padding: 1rem 0;
  box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.16);
  border-radius: 12px 0 0 0;
  overflow: hidden;
  transition: height 0.4s;

  @media screen and (max-width: 480px) {
    top: 7px;
    bottom: auto;
    border-radius: 5px 0 0 5px;
  }

  .share__item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: block;
    padding-bottom: 12px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &:hover {
    height: 215px;
    background-color: #f0fbfc;
  }

  span {
    text-indent: -9999px;
    display: block;
    width: 32px;
    height: 32px;
    background-position: center;
    margin: 0 auto;
  }

  .share__facebook {
    span {
      background: url(../images/icons/icon-share-facebook.svg) no-repeat;
      background-position: center;
    }
  }

  .share__twitter {
    span {
      background: url(../images/icons/icon-share-twitter.svg) no-repeat;
      background-position: center;
    }
  }

  .share__linkedin {
    span {
      background: url(../images/icons/los-segura/linkedin.svg) no-repeat;
      background-position: center;
    }
  }

  .share__link {
    span {
      background: url(../images/icons/icon-share.svg) no-repeat;
      background-position: center;
    }
  }
}

/* Estilo de mensaje en cotizacion */

.msg-description {
  display: none;
  max-width: 450px;
  margin: 0 auto;
  font-size: 0.8rem;
  line-height: 1.4;
}

.form-item-adjuntar-archivos #edit-adjuntar-archivos--2--label {
  position: inherit !important;
  left: 0;
  top: 0;
}

.form-item-adjuntar-archivos .description {
  font-size: 0.8rem;
  color: #28a3af;
  line-height: 1.2;
  margin: 0.5rem 0 0;
  width: 7.8rem;
}

#pqr-form #edit-adjuntar-archivos-upload--2 {
  color: transparent;
}

.form-item-adjuntar-archivos #edit-adjuntar-archivos--label {
  position: inherit !important;
  top: 0;
  left: 0;
}

.form-item-adjuntar-archivos .webform-element-description {
  font-size: 0.8rem;
  color: #28a3af;
  line-height: 1.2;
  margin: 0.5rem 0 0;
}

.form-item-adjuntar-archivos .webform-file-button {
  padding: 0 1rem;
  background-color: #28a3af;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  position: inherit;
  margin: 0 0 0.5rem;
}

.ui-dialog {
  .ui-dialog-content {
    position: relative;
    padding: 0.5em 1em;
    overflow: auto;
    background: #f0fbfc;
    border: 1px solid #eaeaea;
    border-radius: 10px;
  }

  .ui-dialog-titlebar {
    padding: 0.4em 1em;
    position: relative;
    top: 0;
    z-index: 2;
  }

  .ui-dialog-titlebar-close {
    position: absolute;
    right: 0.5em;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
  }
}

button {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.8rem;
  color: #1a1446;
  border: none;
  padding: 0 1.5rem;
  border-radius: 1.3rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

.ui-button-icon-only {
  width: 2em;
  box-sizing: border-box;
  text-indent: 0;
  white-space: nowrap;
}

.text_file_error {
  display: none;
}

.text_file_error2 {
  display: none;
}

.ui-dialog {
  &:focus {
    outline: none;
  }

  .ui-dialog-content {
    position: relative;
    padding: 0.5em 1em;
    overflow: auto;
    background: #f0fbfc;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    text-align: center;
  }

  .ui-dialog-titlebar {
    padding: 0.4em 1em;
    position: relative;
    top: 40px;
    z-index: 2;
  }

  .ui-dialog-titlebar-close {
    padding-left: 9px;
    text-indent: -9999px;

    &:focus {
      outline: none;
    }

    &::before {
      content: " ";
      text-indent: 0;
      margin-right: 10px;
      display: block;
      height: 20px;
      width: 3px;
      background: gray;
      transform: rotate(45deg);
      position: absolute;
      top: 0;
    }

    &::after {
      content: " ";
      height: 20px;
      width: 3px;
      background: gray;
      display: block;
      transform: rotate(-45deg);
      position: absolute;
      top: 0;
    }
  }
}

.form-type-managed-file {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;

  label {
    position: relative !important;
    padding-bottom: 1rem;
  }
}

.centrado {
  max-width: 1024px;
  margin: auto;
}

.tabs_centrado {
  a {
    position: relative !important;
    left: unset !important;
  }
}

.title_terms {
  color: #27a3af;
}

#pqr-form {
  hr {
    width: 45%;

    @media screen and (max-width: 480px) {
      width: 80%;
    }
  }
}

#pqr-form--2 {
  hr {
    width: 45%;
    margin-bottom: 37px;

    @media screen and (max-width: 480px) {
      width: 80%;
      margin-bottom: 37px;
    }
  }
}

.itemsLg {
  &.fieldgroup {
    margin-top: 20px;
    margin-bottom: 0px;

    @media screen and (max-width: 480px) {
      margin-top: 20px;
      width: 100%;
    }
  }

  .fieldset-wrapper {
    div {
      margin-top: 10px;
      display: flex;
    }
  }

  .form-item {
    position: relative !important;
    z-index: unset !important;
    top: unset !important;
    right: unset !important;
    width: 100% !important;
    height: unset !important;
    border: 1px solid #c0bfc0;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 9px;
    padding-left: 25px;
    margin-right: 50px;
    margin-left: 20px;

    @media screen and (max-width: 480px) {
      float: left;
      margin: 10px;
      padding: 5px;
    }

    label {
      left: 3rem;
      top: 17px;

      @media screen and (max-width: 480px) {
        left: 29px;
        top: 8px;
      }
    }

    input {
      margin-left: 5px;
      margin-top: 8px;
    }
  }
}

.tooltip {
  position: relative;
  margin-left: 8px;
  display: inline-block;
  border-bottom: 1px dotted black;
  background-color: #8fcfd6;
  border-radius: 8rem;
  width: 24px;
  font-size: 13px;
  height: 24px;
  text-align: center;
}

.tooltip .tiptext {
  visibility: hidden;
  width: 400px;
  background-color: #1b1c46;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 480px) {
    width: 200px;
  }
}

.tooltip .tiptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.tooltip:hover .tiptext {
  visibility: visible;
}

.tooltip.top .tiptext {
  margin-left: -200px;
  bottom: 150%;
  left: 50%;

  @media screen and (max-width: 480px) {
    margin-left: 0;
  }
}

.tooltip.top .tiptext::after {
  margin-left: -5px;
  top: 100%;
  left: 50%;
  border-color: #2e2e2e transparent transparent transparent;
}

.terms-modal {
  &-wrap {
    display: none;

    &.display {
      display: block;
    }
  }

  &-overlay {
    background: #1a1446f5;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
  }

  &-box {
    background-color: white;
    padding: 2rem 3rem;
    display: block;
    max-width: 830px;
    margin: 8% auto;
    position: relative;
    border-radius: 5px;
    top: 90px;
    max-height: 540px;
    overflow-y: scroll;

    @media screen and (max-width: 480px) {
      max-width: 90%;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: black;
      border-radius: 20px;
      border: none;
    }

    p {
      text-align: justify;
    }

    form {
      .form-item:not(#edit-processed-text) {
        max-width: 320px;
        margin: 0 auto 0.5rem;
      }

      .form-actions {
        text-align: center;
      }
    }
  }

  &-text {
    h3 {
      font-weight: 500;
      line-height: 1.3;
      padding: 1rem;
      font-size: 1.2rem;
    }
  }

  &-icon {
    height: 100px;
    width: 100px;
    background-image: url(../images/icons/form.svg);
    background-size: 96px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.5rem auto;
  }

  &-close {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    text-indent: -9999px;
    background-image: url(../images/icons/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
}

.text-modal {
  text-align: left !important;
}

.container-buttons {
  text-align: center;

  span {
    background-color: #99e3ea;
    line-height: 1.4;
    padding: 0.7rem 1.5rem;
    font-size: 0.95rem;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    border-radius: 0.25rem;
  }
}
