// body {
//   button.tabledrag-toggle-weight {
//     margin: 5px;
//   }
//   td.field-multiple-drag {
//     max-width: 30px;
//   }
//   .inline {
//     display: inline-block;
//   }
//   ul.links.inline {
//     padding: 0;
//     margin: 0;
//     li {
//       @extend .no-ul-list;
//       padding: 0 9px 3px 0;
//       display: inline-block;
//     }
//   }
// }
// form .form-item {
//   padding: 0 0 7px;
//   &.form-type-textarea {
//     padding-bottom: 0;
//   }
// }
// form .description {
//   font-style: italic;
//   font-size: 90%;
//   margin-bottom: 3px;
// }
// .layout-node-form .layout-region-node-secondary > .form-wrapper {
//   @extend .blocked-style;
//   h3,
//   h4 {
//     font-size: inherit;
//   }
// }
// .layout-node-form .layout-region-node-footer {
//   padding-top: 20px;
//   margin-top: 20px;
//   border-top: 1px solid $blanco-sc;
// }
// form details.js-form-wrapper {
//   cursor: pointer;
// }
// .js input.form-autocomplete,
// .js input.form-autocomplete.ui-autocomplete-loading {
//   background-position: 100% center;
//   background-repeat: no-repeat;
// }
// .js[dir="rtl"] input.form-autocomplete,
// .js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading {
//   background-position: 0% center;
//   background-repeat: no-repeat;
// }
.views-exposed-form {
    .form-item {
        label {
            position: initial;
            margin: .5rem 0;
        }
        select {
            color: initial;
            line-height: 1rem;
            margin: .5rem auto;
            width: 20.125rem;
            margin: auto;
            @include breakpoint($small) {
                width: 100%;
            }
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    .tooltiptext {
        width: 2rem;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        //bottom: 150%;
        //left: 50%;
        margin-left: -1rem;
    }
    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
}

.is-fixed-global {
    @include breakpoint($small) {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100vh !important;
        background-color: $blanco-pl !important;
        z-index: 100 !important;
    }
}

.nodetype--faq {
    h2 {
        margin-bottom: 1rem;
    }
    .block-system-main-block {
        p {
            @include breakpoint($small) {
                padding: 0 1.1875rem;
                text-align: justify;
            }
        }
    }
}

.nodetype--document {
    a {
        &.back {
            background-image: url(../images/icons/elements-icon-glyph-arrow-left2.svg);
            background-repeat: no-repeat;
            background-size: 21px;
            background-position: left 0;
            position: absolute;
            left: 0;
            padding-left: 2rem;
            @include browser(Trident) {
                background-size: 60px;
                background-position: left center;
                padding-left: 3rem;
            }
        }
    }
}
.ui-dialog {
    .ui-dialog-content {
      position: relative;
      border: 0;
      padding: .5em 1em;
      background: none;
      overflow: auto;
      background: #F0FBFC;
      border: 1px solid #EAEAEA;
      border-radius: 10px;
      text-align: center;
    }
  

    .ui-dialog-titlebar {
      padding: .4em 1em;
      position: relative;
      top: 40px;
      z-index: 2;
    }
  
    .ui-dialog-titlebar-close {
    padding-left: 13px;
    }
}
  
button {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.8rem;
    color: #1A1446;
    border: none;
    padding: 0 1.5rem;
    border-radius: 1.3rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
}
  
.ui-button-icon-only {
    width: 2em;
    box-sizing: border-box;
    text-indent: 0;
    white-space: nowrap;
}
.form-item-adjuntar-archivos {
	label {
		left: 0rem !important;
	}
}




    