// Forms
//
// Base form elements.
//
// Markup: form_html.twig
//
// Style guide: form.common
main {
  form {
    margin: 0 0 1em;
  }
  .form-item {
    position: relative;
    margin: 0 auto 2rem auto;
    width: 100%;
    max-width: 30.8125rem;
    @media screen and (max-width: $small-max) {
      width: 90%;
    }
    label {
      display: inline-block;
      position: absolute;
      color: $gris-pr;
      font-weight: normal;
      top: 10px;
      left: 1rem;
      padding-right: 4px;
      vertical-align: top;
      transition: all 0.1s ease;
      z-index: 1;
      @include breakpoint($small) {
        font-size: 0.9rem;
      }
      &.error {
        position: relative;
        padding: 0.5rem;
      }
    }
    &.form-item-file-attach {
      > label {
        position: inherit !important;
        left: 0;
        top: 0;
      }

      .webform-file-button {
        padding: 0 1rem;
        background-color: $petroleo-tr;
        color: white;
        border: 1px solid white;
        cursor: pointer;
        position: inherit;
        margin: 0 0 0.5rem;
      }

      .description {
        font-size: 0.8rem;
        color: $petroleo-tr;
        line-height: 1.2;
        margin: 0.5rem 0 0;
      }
    }
  }

  .form__input--activo {
    label:not(.error) {
      color: #808080;
      font-weight: 500;
      top: 0;
      font-size: 0.8rem;
    }
    select,
    .select2 {
      color: $azul-os-pr;
      line-height: normal;
      padding-top: 1rem;
    }
    label + select,
    label + .select2 {
      @include browser(Trident) {
        top: -4px;
      }
    }
    label + input[type="text"],
    label + input[type="password"],
    label + input[type="date"],
    label + input[type="email"] {
      padding: 1rem 1rem 0;
      @include browser(Trident) {
        padding: 0.2rem 1rem 0;
      }
    }
  }
  input[type="text"],
  input[type="password"],
  input[type="date"],
  textarea,
  select,
  .select2 {
    background-color: white;
    font-family: inherit;
    border: 1px solid $gris-sc;
    box-shadow: none;
    color: #343741;
    display: block;
    border-radius: 0.312rem;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.45s ease-in-out;
    height: 50px;
    appearance: none;
    @include browser(Trident) {
      background-size: 50px !important;
      line-height: 1rem;
    }
    @media screen and (max-width: $small-max) {
      width: 100%;
    }
    &:focus {
      box-shadow: none;
      border-color: $petroleo-tr;
      outline: none;
      border-width: 2px;
    }
    &:active {
      border-color: $petroleo-tr;
    }
    &::-ms-expand {
      @include browser(Trident) {
        display: none;
      }
    }
    &[disabled="disabled"] {
      background-color: $blanco-sc !important;
      border-color: $gris-sc !important;
    }
  }
  select,
  .select2 {
    background-image: url(../images/icons/elements-icon-glyph-arrow-down-gris.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: 95% center;
    color: transparent;
  }
  select::-ms-value,
  .select2::-ms-value,
  select[disabled="disabled"]::-ms-value,
  .select2[disabled="disabled"]::-ms-value {
    @include browser(Trident) {
      background-color: transparent;
      color: inherit;
    }
  }
  .select2 {
    width: 100%;
    padding: 0;
    .select2-selection {
      border-color: none;
      height: 100%;
      line-height: 3rem;
      background-color: transparent;
      border: none;
      .select2-selection__arrow {
        display: none;
      }
      .select2-selection__rendered {
        padding-top: 1rem;
      }
    }
  }
  textarea {
    height: auto;
    line-height: 1.5;
    padding-top: 2rem;
    @include browser(Trident) {
      padding-top: 1.5rem;
    }
    &:focus {
      background: white;
    }
  }
  input[type="file"],
  input[type="checkbox"],
  input[type="radio"],
  select {
    margin: 0 0 1em;
  }
  input[type="file"] {
    width: 100%;
  }
  fieldset {
    border: solid 1px $gris-sc;
    padding: 1.25em;
    margin: 1.125em 0;
  }
  fieldset legend {
    font-weight: bold;
    background: #fff;
    padding: 0 0.1875em;
    margin: 0;
    margin-left: -0.1875em;
  }
  // buttons /////////////////////////
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    @include borderradius();
    border: 1px solid $azul-os-pr;
    padding: 0 3.125rem;
    background: none;
    color: $azul-os-pr;
    line-height: 2.75rem;
    text-transform: none;
    display: inline-block;
    margin-bottom: 1.5625rem;
    font-weight: bold !important;
  }
  // Error conditions ////////////////////////////
  .error,
  .error textarea,
  .error select {
    border-color: $rojo;
    background-color: rgba(198, 15, 19, 0.1);
    margin-bottom: 0;
  }
  .error input:focus,
  .error textarea:focus,
  .error select:focus {
    background: $petroleo-pr;
    border-color: $gris-sc;
  }
  .error label,
  .error label.error {
    color: $rojo;
  }
  .error > small,
  .error small.error {
    display: block;
    padding: 0.375em 0.25em;
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 0.75em;
    font-weight: bold;
    background: $rojo;
    color: #fff;
  }
  .error span.error-message {
    display: block;
  }
  input.error,
  textarea.error {
    border-color: $rojo;
    background-color: rgba(198, 15, 19, 0.1);
    margin-bottom: 0;
  }
  input.error:focus,
  textarea.error:focus {
    background: $blanco;
    border-color: $gris-sc;
  }
  .error select {
    border-color: $rojo;
    background-color: rgba(198, 15, 19, 0.1);
  }
  .error select:focus {
    background: $blanco;
    border-color: $gris-sc;
  }
  label.error {
    color: $rojo;
  }
  // Form HTML5
  //
  // Markup: form_html5.twig
  //
  // Style guide: form.html5
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"] {
    background-color: white;
    font-family: inherit;
    border: 1px solid $gris-sc;
    box-shadow: none;
    color: #343741;
    line-height: 3.125rem;
    display: block;
    border-radius: 0.312rem;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.45s ease-in-out;
    height: 50px;
    appearance: none;
    @media screen and (max-width: $small-max) {
      width: 100%;
    }
    &:focus {
      box-shadow: none;
      border-color: $petroleo-tr;
      background: white;
      outline: none;
      border-width: 2px;
    }
    &:active {
      border-color: $petroleo-tr;
    }
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    box-shadow: 0 0 0 30px $blanco-pl inset !important;
    transition: background-color 5000s ease-in-out 0s;
  }
  //
  form button,
  form input {
    // simple transitions ////////////////////
    transition: all 0.3s ease;
    &[disabled] {
      background-color: $blanco-sc;
      box-shadow: none;
      transition: auto;
    }
  }
  .group-field {
    h3 {
      font-size: 1.1rem;
      text-align: left;
      margin-bottom: 2rem;
      line-height: 1.1rem;
      font-weight: normal;
    }
  }
  .form-actions {
    text-align: center;
    @include breakpoint($small) {
      margin-bottom: calc(5rem + 10vh);
    }
    .button {
      margin: 0 2rem;
      @include breakpoint($small) {
        display: block;
        margin: 1rem 0;
        width: 100%;
      }
    }
  }
  .webform-confirmation {
    background: #f0fbfc;
    text-align: center;
    padding: 4rem;
    h2 {
      margin-bottom: 0;
    }
    p {
      text-align: center;
      color: #343741;
      line-height: 1.6;
      margin: 0 auto;
      padding-bottom: 2.06rem;
      max-width: 26rem;
    }
  }
  .element-msn-error {
    font-size: 0.7rem;
    color: #ff1c38;
    font-weight: 600;
  }
}

.actions-form {
  display: flex;
  justify-content: center;
}

.ui-datepicker {
  margin-top: 0;
  background: #fff;
  border: 1px solid #c0bfc0;
  background-color: #fff;
  dl {
    position: relative;
  }
  .ui_tpicker_hour_label,
  .ui_tpicker_minute_label {
    display: none;
  }
  .ui_tpicker_minute {
    position: absolute;
    top: 36px;
    left: 77px;
  }
  .ui-datepicker-month,
  .ui-datepicker-year {
    font-weight: 600;
  }
  select {
    background: transparent;
  }
  button {
    border-radius: 3px !important;
    font-size: 1rem !important;
    line-height: 2.25rem !important;
    padding: 0 1rem !important;
    background-color: $azul-hielo-tr;
    border-color: $azul-hielo-tr;
    text-transform: capitalize;
  }
  .ui-datepicker-next {
    background-image: url(../images/icons/elements-icon-glyph-arrow-right.svg);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .ui-datepicker-prev {
    background-image: url(../images/icons/elements-icon-glyph-arrow-left.svg);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.button {
  @include borderradius();
  border: 1px solid $charcoal-grey;
  padding: 0 3.125rem;
  background: none;
  color: $azul-os-pr;
  line-height: 2.75rem;
  text-transform: none;
  display: inline-block;
  margin-bottom: 1.5625rem;
  font-weight: bold !important;
  @include breakpoint($small) {
    padding: 0 1rem;
  }
  &:hover {
    background-color: $petroleo-tr !important;
    border-color: $petroleo-tr !important;
    color: $blanco-pl !important;
    text-decoration: none;
  }
  &[disabled="disabled"] {
    background-color: $blanco-sc !important;
    border-color: $gris-sc !important;
    color: $gris-qi !important;
    &:hover {
      border-color: $gris-sc !important;
    }
  }
}

.container-mas-info-form {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  background-color: $blanco-pl;
  height: 100vh;
  overflow: auto;
  @media screen and (min-width: $small-max) {
    background: rgba($negro-pl, 0.85);
  }
  form.formulario-mas-informacion {
    padding: 3rem 0 4rem;
    @media screen and (min-width: $small-max) {
      background: $blanco-pl;
      margin: 2rem auto;
      padding: 3rem 6rem;
      margin-left: 50%;
      transform: translateX(-50%);
      position: relative;
    }
    h2 {
      margin-bottom: 0;
    }
    h3 {
      color: $charcoal-grey;
      font-weight: normal;
      font-size: 1.125rem;
      text-align: center;
      @include breakpoint($small) {
        font-size: 1rem;
      }
    }
  }
  #close {
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/close-form.svg);
    background-size: 20px;
    text-indent: -999px;
    overflow: hidden;
    display: block;
    position: absolute;
    top: -2rem;
    right: 0rem;
    z-index: 100;
    @media screen and (min-width: $small-max) {
      top: -1.7rem;
      right: -5.625rem;
      z-index: 100;
    }
  }
  .form-confirmation {
    #close {
      top: -4rem;
      right: -3rem;
    }
  }
}

#block-renderviewsearchmedicalnetwork,
.mapa-redmedica-popup {
  .view-filters {
    display: none;
  }
  .form-item-geolocation-geocoder-google-geocoding-api {
    display: none;
  }
  .view-header {
    @include breakpoint($small) {
      text-align: center;
    }
  }
  .options-results-rm {
    padding-top: 1rem;
    border-bottom: 1px solid $gris-tr;
    padding-bottom: 1rem;
    @include breakpoint($small) {
      margin-top: 1rem;
      display: inline-flex;
      justify-content: center;
      box-shadow: 1px 0 4px 0 rgba(26, 20, 70, 0.25);
      border-radius: 3px;
    }
    li {
      display: inline;
      a {
        padding: 1rem 1.5rem;
        font-size: 0.875rem;
        img {
          margin-right: 0.5rem;
          width: 18px;
        }
      }
      &.active {
        a {
          background-color: $blanco-sc;
          font-weight: bold;
          border-radius: 3px;
          border-bottom: 2px solid $petroleo-tr;
          @include breakpoint($small) {
            padding: 1rem 1rem;
          }
        }
      }
    }
    .results {
      font-size: 0.8125rem;
      color: $petroleo-sc;
      padding-left: 3rem;
      @include breakpoint($small) {
        position: absolute;
        left: 0;
        top: -80px;
        width: 100%;
        text-align: center;
        padding-left: 0;
      }
    }
  }
}

.component__form--office {
  background-color: $azul-hielo-sc;
  padding: 4rem 0 3rem 0;
  h2 {
    margin-bottom: 0;
  }
  h3 {
    font-weight: normal;
  }
  margin-top: -4rem;
  text-align: center;
}

.component__form--red-medica {
  background-color: $azul-hielo-sc;
  padding: 2.5rem 0 1rem 0;
  .content-fields-rm {
    width: 100%;
    &.active {
      display: flex;
      @include breakpoint($small) {
        display: none;
        //margin-top: 3rem !important;
        width: 90%;
        margin: 4rem auto 3rem auto;
      }
    }
  }
  .component__content {
    margin-top: 2rem;
    @include breakpoint($small) {
      margin-top: 2rem;
    }
  }
  .wrapper-form-search {
    background-color: $blanco-pl;
    box-shadow: 0 12px 88px 0 rgba(40, 163, 175, 0.28);
    padding: 1.5rem;
    padding-bottom: 0;
    &.is-fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: $blanco-pl;
      transition: all 0.2s ease-in-out;
      z-index: 100;
      .content-fields-rm {
        .active {
          display: block;
        }
      }
      .form-item {
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        max-width: 100%;
        margin: 0.9rem 0;
        padding: 0;
        display: block;
        background-image: none;
        label {
          position: absolute;
        }
      }
      .content {
        .form-item {
          text-align: center;
        }
      }
      .form-item-plan-type {
        // padding: .5rem;
        width: 50%;
        margin: auto;
        // margin-bottom: 2rem;
      }
      &.transform-up {
        height: 105vh !important;
        top: -94% !important;
        box-shadow: 0 26px 70px 0 rgba(52, 55, 65, 0.09);
        .close-filter {
          top: auto !important;
          bottom: 12px;
        }
      }
      &.transform-media {
        top: 0 !important;
        box-shadow: 0 26px 70px 0 rgba(52, 55, 65, 0.09);
        overflow: auto;
        .close-filter {
          top: 1rem !important;
        }
        .js-form-type-radio {
          .option {
            font-size: 2rem;
            padding-bottom: 0.5rem;
          }
        }
        .form-item-plan-type {
          @include breakpoint($small) {
            width: 75%;
            position: relative;
            top: 40px;
          }
          label {
            @include breakpoint($small) {
              font-size: 1.5rem !important;
              text-align: center !important;
              &::after {
                display: none;
              }
            }
          }
        }
        .content-fields-rm.active {
          display: block;
        }
      }
    }
    @include breakpoint($small) {
      background-color: transparent;
      box-shadow: none;
      padding: 0;
    }
    #edit-plan-type {
      @include breakpoint($small) {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
        padding-top: 2rem;
        // position: relative;
        label {
          padding-left: 1rem;
          margin-left: 0;
          margin-top: 0;
          width: 100%;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            border-bottom: 2px solid #1a1446;
            border-right: 2px solid #1a1446;
            transform: rotate(-45deg);
            height: 10px;
            width: 10px;
            top: 35%;
            right: 10px;
          }
        }
        input:checked + label {
          padding-left: 2rem;
          left: 50%;
          transform: translateX(-50%);
          margin-left: 0;
        }
      }
      .close-filter {
        position: absolute;
        z-index: 100;
        top: 7px;
        display: block;
        text-align: center;
        width: 100%;
        color: $petroleo-tr;
        background-image: url(../images/icons/back-filters.svg);
        background-position: 10% center;
        background-repeat: no-repeat;
        background-size: 1rem;
        font-size: 1.2rem;
        margin-left: -1rem;
      }
      display: flex;
      width: 75%;
      margin-left: 13%;
      justify-content: center;
      .form-item {
        @media screen and (min-width: $small-max) {
          display: flex;
          justify-content: center;
          flex-flow: column;
          padding: 1rem 0;
          align-items: flex-start;
          width: 33.3333%;
          &:first-child {
            width: 25%;
          }
          &:last-child {
            width: 18%;
          }
        }
        input {
          margin-bottom: 0;
          @include breakpoint($small) {
            margin-bottom: 0.2rem;
          }
        }
      }
    }
    .form-item {
      width: 25%;
      margin: 0.9rem;
      @include breakpoint($small) {
        width: 100%;
        background-color: $blanco-pl;
        box-shadow: 0 2px 8px 0 rgba($charcoal-grey, 0.24);
        max-width: 100%;
        margin: 0.9rem 0;
        padding: 2rem 0.5rem;
        display: flex;
        align-items: center;
        background-image: url(../images/icons/elements-icon-glyph-arrow-right-blue.svg);
        background-position: 90% center;
        background-repeat: no-repeat;
        background-size: 1rem;
      }
      &.form-item-search-word {
        width: 40%;
        @include breakpoint($small) {
          width: 100%;
        }
      }
      label {
        @include breakpoint($small) {
          position: relative;
          margin-bottom: 5px;
          margin-left: 10px;
          left: 0;
          top: 0;
        }
      }
      input[type="radio"] {
        @include breakpoint($small) {
          margin-bottom: 0;
          margin-left: 0.5rem;
        }
      }
    }
    .content {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      border-top: 2px solid $gris-tr;
      align-items: center;
      padding: 2rem 0;
      @include breakpoint($small) {
        display: flex;
        flex-direction: column;
      }
      .form-item {
        margin: 0;
        @include breakpoint($small) {
          margin-top: 0.5rem;
          order: 2;
        }
        .form-submit {
          margin: 0;
        }
      }
      .form__input--activo {
        text-align: center;
        margin-top: 0;
      }
      .check {
        position: absolute;
        left: 1rem;
        width: 10rem;
        top: 37%;
        @include breakpoint($small) {
          position: relative;
          text-align: left;
        }
        label {
          font-size: 1rem;
          margin-left: 0.5rem;
          margin-top: -9px;
        }
        .form-item {
          width: 100%;
          margin: 0;
          text-align: left;
        }
      }
    }
    .js-form-type-radio {
      label {
        font-size: 1.25rem;
        font-weight: bold;
        margin-left: 0.5rem;
        color: $azul-os-pr;
        line-height: 2rem;
        padding-left: 1rem;
        width: max-content;
        white-space: nowrap;
        @include breakpoint($small) {
          white-space: normal;
          width: 70%;
          margin: 0;
        }
      }
      input {
        margin-left: 1.5rem;
        transition: none;
      }
      input:checked {
        visibility: hidden;
        position: absolute;
        & + label {
          border-bottom: 2px solid $petroleo-tr;
          padding-left: 2rem;
          &::before {
            content: "";
            background: $azul-hielo-sc
              url("../images/icons/elements-icon-glyph-checkmark-on.svg")
              no-repeat center center;
            background-size: 10px;
            display: block;
            width: 1rem;
            height: 1rem;
            background-color: $petroleo-tr;
            border-radius: 100%;
            position: absolute;
            left: 0;
            top: 0.45rem;
          }
        }
      }
    }
  }
  .show-filters--mb {
    text-align: center;
    display: block;
    margin-top: 5rem;
    color: $petroleo-tr;
    background-image: url(../images/icons/back-filters.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 1rem;
  }
  .special-filters {
    text-align: center;
    @media screen and (min-width: $small-max) {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }
    margin-top: 1rem;
    margin-bottom: 0;
    li {
      list-style: none;
      background-color: $petroleo-tr;
      margin-right: 0.5rem;
      border-radius: 3px;
      display: inline-block;
      padding: 0.15rem 2.5rem 0.1rem 1rem;
      position: relative;
      &:last-child {
        @include breakpoint($small) {
          margin-bottom: 5rem;
        }
      }
      a {
        color: $blanco-pl;
        display: inline-flex;
        line-height: 1rem;
        align-items: center;
        justify-content: space-between;
        img {
          padding: 6px 8px;
          width: 12px;
          position: absolute;
          right: 0;
          top: 0;
          background-color: rgba($petroleo-sc, 0.3);
        }
      }
    }
  }
}

.button--secondary {
  background: $amarillo-pr !important;
  color: $charcoal-grey !important;
  border-color: $amarillo-pr !important;
  border-radius: 3rem;
  &:hover {
    background-color: $azul-os-pr !important;
    border: none;
  }
}

.button--inverse {
  background: $blanco-pl;
  color: $charcoal-grey;
  border-color: $blanco-pl;

  &:hover {
    background: $blanco-pl !important;
    color: $charcoal-grey !important;
    border-color: $blanco-pl !important;
  }
}

.button--yellow {
  background: $verde-claro-hdi;
  color: $blanco-pl !important;
  border-color: $verde-claro-hdi;

  &:hover {
    background: $verde-claro-hdi !important;
    color: $blanco-pl !important;
    border-color: $verde-claro-hdi !important;
  }
}

.button--primary {
  background: $azul-hielo-tr !important;
  color: $charcoal-grey !important;
  border-color: $azul-hielo-tr !important;
  border-radius: 3rem;
  &:hover {
    background-color: $nc-darkteal !important;
    border: none;
  }
}

.button--alpha{
  background: $azul-os-pr;
  color: $blanco-pl;
  border-color: $azul-os-pr;
  border-radius: 3rem;
  &:hover {
    background-color: #06748C !important;
    border: none;
  }
}

.button--large {
  line-height: 3.125rem;
}

.button--small {
  line-height: 2.25rem;
}

.button--small-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

div.switch {
  margin: -1.5rem 0 0 -1rem;
  .btn {
    background: transparent;
    border: 1px solid $gris-sc;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: background-color 300ms ease, color 300ms ease;
  }
  .btn-left {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  .btn-right {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
  input[type="radio"].toggle {
    display: none;
    & + label {
      cursor: pointer;
      min-width: 7.5rem;
      &:hover {
        background: none;
        color: $gris-pr;
      }
      &:after {
        background: transparent;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        transition: left 100ms cubic-bezier(0.77, 0, 0.175, 1);
        width: 100%;
        z-index: -1;
      }
    }
    &.toggle-left + label {
      border-right: 0;
      @include breakpoint($small) {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #c0bfc0;
        margin-bottom: 1rem;
        margin-left: -0.3rem;
      }
      &:after {
        left: 100%;
      }
    }
    &.toggle-right + label {
      margin-left: -4px;
      @include breakpoint($small) {
        width: 100%;
        min-width: 100%;
        box-sizing: border-box;
      }
      &:after {
        left: -100%;
      }
    }
    &:checked + label {
      cursor: default;
      background-color: $petroleo-tr;
      border-color: $petroleo-tr;
      color: #fff;
      transition: color 100ms;
      @include breakpoint($small) {
        width: 100%;
        box-sizing: border-box;
      }
      &:after {
        left: 0;
      }
    }
  }
}

.form-type-checkbox {
  input[type="checkbox"] {
    opacity: 0;
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 3px;
    z-index: 1000;
    -webkit-appearance: none;
    & + label {
      position: relative !important;
      margin-left: 1rem;
      //text-transform: capitalize;
      &:before {
        content: " ";
        display: block;
        width: 1.1rem;
        border: 2px solid $gris-sc;
        height: 1.1rem;
        border-radius: 2px;
        position: absolute;
        left: -2.4rem;
        top: 0;
        background-color: #ffffff;
      }
    }
    &:checked + label {
      &:before {
        border-color: $petroleo-tr;
        background-image: url(../images/icons/checkmark-on.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1rem;
      }
    }
  }
}

#close {
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/close-form.svg);
  background-size: 20px;
  text-indent: -999px;
  overflow: hidden;
  display: block;
  position: absolute;
  top: -2rem;
  right: 0rem;
  z-index: 100;
  @media screen and (min-width: $small-max) {
    top: -1.7rem;
    right: -5.625rem;
    z-index: 100;
  }
}

#block-liberty-public-content {
  > .cog--mq {
    padding: 3rem 0;
    max-width: 915px;
    h2 {
      text-align: left;
      font-size: 2rem;
    }
  }
}

#edit-declarant-same-third {
  &.switch {
    margin: 0 0 0 -1rem;
  }
}

#search-medical-network-form--2 {
  margin: 0;
}

.text-count-message {
  color: $gris-qi;
  font-size: 0.8rem;
}

#block-liberty-public-content {
  .component__form--red-medica {
    .component__heading {
      .component__title {
        margin-bottom: 2rem;
      }
    }
    .search-medical-network-form {
      form {
        .ctn-footer {
          .check {
            .form-type-checkbox input[type="checkbox"] {
              width: auto;
              height: auto;
            }
          }
        }
      }
    }
  }
}

.component__tabs--contact {
  .webform-submission-add-form {
    margin: 0;
    width: 100%;
    main {
      .form-item {
        width: 100%;
      }
    }
  }
}

#sinister-notific-insured-form {
  .form-actions {
    margin-bottom: calc(5rem + 10vh);
  }
}

// Estilos Calendario
.ui-datepicker-calendar {
  tbody {
    tr {
      td {
        &.ui-state-disabled {
          .ui-state-default {
            color: #929292;
          }
        }
        a,
        span {
          text-align: center;
          &.ui-state-default {
            color: #1a1446;
            font-weight: bold;
          }
          &.ui-state-active {
            background: #99e5ea;
            border-radius: 50%;
            color: #404040;
          }
        }
      }
    }
  }
}

.alias--zona-de-cliente-contactanos {
  #block-liberty-public-content {
    .ctn-confirm-msg-pqr {
      background: #f0fbfc;
      text-align: center;
      padding: 4rem;
      margin-bottom: 4.5rem;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        background: #f0fbfc;
        height: 100%;
        top: 0;
        z-index: -1;
        width: 800px;
        left: -800px;
      }
      &:after {
        content: "";
        position: absolute;
        height: 100%;
        background: #f0fbfc;
        top: 0;
        z-index: -1;
        width: 800px;
        right: -800px;
      }
      h2 {
        margin-bottom: 1rem;
      }
      p {
        text-align: center;
        color: #343741;
        line-height: 1.6;
        margin: 0 auto;
        padding-bottom: 2.06rem;
        max-width: 26rem;
      }
    }
  }
}
