.form-item {
  color: clr(text);
  margin-bottom: .7em;

  @include clearfix;
}

.form-item__label {
  display: block;
  font-weight: 600;

  @include xs {
    display: block;
    margin-right: 2%;
    padding: 0.6em 0;
  }
}

.form-text,
.form-textarea,
.form-email {
  border: 1px solid $color-gray-border;
  padding: 1rem;
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
  font-size: .9rem;
  background-color: white;

  .form-item.active & {
    padding: 1.5rem 1rem .5rem;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $color-text-light;
  }

  &:-internal-autofill-selected {
    background-color: $white;
  }

  &:-webkit-autofill {
    background-color: $white;
  }
}

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  border: none;
  margin-bottom: 2em;
  padding: 0;

  .form-item {
    margin-left: 1em;
    max-width: 31em;
  }
}
