#block-sitebranding{
    img{
      margin: 0;
      width: 77px;
      display: block;
        @media screen and (min-width: $small-max) {
          width: 106px;
          margin: 0 5rem 0 0;
        }
    }
}
