@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

.helpButton {
  display: none;
}

.embeddedServiceHelpButton .helpButton {
  .uiButton:focus {
    outline: 1px solid #005290;
  }

  right: 230px !important;
  bottom: 16px !important;
}

.embeddedServiceSidebarMinimizedDefaultUI {
  right: 230px !important;
  bottom: 16px !important;
}

.embeddedServiceHelpButton {
  width: 100% !important;
}

.embeddedServiceSidebarMinimizedDefaultUI {
  .content {
    padding: 0 !important;
    justify-content: flex-start !important;
  }

  width: 113px !important;

  .embeddedServiceIcon {
    display: none !important;
  }
}

.embeddedServiceHelpButton .helpButton .uiButton {
  border-radius: 0.3rem !important;
  background-color: #ffffff !important;
  color: #1a1446 !important;
  font-weight: 500 !important;
  box-shadow: 0 2px 10px 0 rgba(26, 20, 70, 0.3) !important;
  line-height: 46px !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  border: none !important;
  padding-right: 3rem !important;
  background-image: url("../images/icons/chat.svg") !important;
  background-repeat: no-repeat !important;
  background-position: 79% center;
  background-size: 24px !important;
  padding-left: 1rem !important;
  min-width: 7rem !important;
}

.embeddedServiceSidebarMinimizedDefaultUI {
  &.helpButton {
    border-radius: 0.3rem !important;
    background-color: #ffffff !important;
    color: #1a1446 !important;
    font-weight: 500 !important;
    box-shadow: 0 2px 10px 0 rgba(26, 20, 70, 0.3) !important;
    line-height: 46px !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 16px !important;
    border: none !important;
    padding-right: 3rem !important;
    background-image: url("../images/icons/chat.svg") !important;
    background-repeat: no-repeat !important;
    background-position: 79% center;
    background-size: 24px !important;
    padding-left: 1rem !important;
    min-width: 7rem !important;
  }

  border-radius: 0.3rem !important;
  background-color: #ffffff !important;
  color: #1a1446 !important;
  font-weight: 500 !important;
  box-shadow: 0 2px 10px 0 rgba(26, 20, 70, 0.3) !important;
  line-height: 46px !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  border: none !important;
  padding-right: 3rem !important;
  background-image: url("../images/icons/chat.svg") !important;
  background-repeat: no-repeat !important;
  background-position: 79% center;
  background-size: 24px !important;
  padding-left: 1rem !important;
  min-width: 7rem !important;
}

.dockableContainer iframe.snapins_postChat #details {
  font-family: "Roboto", sans-serif !important;
  padding: 3rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

.embeddedServiceSidebarHeader.noAnimate .headerText button {
  height: 40px;
  position: absolute;
  top: 0;
  border: none !important;
  width: 100%;
  display: flex;
  justify-content: center;
}

.select {
  background-image: url("../images/icons/elements-icon-glyph-arrow-down-gris.svg");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 90% center;
}

.embeddedServiceSidebarHeader.noAnimate {
  .headerText {
    position: relative;
    overflow: visible;
  }

  #headerTextLabel {
    font-family: "Roboto", sans-serif !important;
    color: #1a1446 !important;
    text-transform: none !important;
    font-size: 1.1rem !important;
    font-weight: 400 !important;
  }
}

.embeddedServiceSidebar.layout-docked .dockableContainer {
  right: 230px !important;
}

.embeddedServiceHelpButton .uiButton .helpButtonLabel .message {
  font-weight: 500 !important;
  text-overflow: initial !important;
  color: #1a1446 !important;
  width: 37px !important;
  text-transform: none !important;
}

.embeddedServiceSidebarMinimizedDefaultUI {
  .messageContent {
    font-weight: 500 !important;
    text-overflow: initial !important;
    color: #1a1446 !important;
    width: 37px !important;
    text-transform: none !important;

    .message:before {
      content: "Chat";
      display: inline;
    }
  }

  &.newMessage {
    width: 120px;
  }

  min-width: 7rem !important;

  .minimizedText > .message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: initial !important;
    color: #1a1446 !important;
    font-weight: 500 !important;
    width: 33px !important;
    font-size: 1rem;
  }
}

.embeddedServiceLiveAgentStateChatAction.uiButton {
  svg {
    fill: transparent !important;
  }

  background-image: url("../images/icons/attachments.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;

  &.Cargar:last-child {
    background-image: url("../images/icons/send.svg");
  }

  &.Elimina {
    background-image: none;

    svg {
      fill: #1a1446 !important;
    }
  }
}

.embeddedServiceLiveAgentStateChatInputFooter {
  .fileUploadControls {
    display: flex;
    position: relative;
    background-color: #99e5ea !important;
    width: 100%;
    align-items: center;
    margin: 0.3rem 0;
    border-radius: 25px;
  }

  .fileIcon {
    display: none;
  }
}

.embeddedServiceHelpButton .helpButtonDisabled {
  background-position: 85% center !important;
  width: 165px;
  text-align: left;

  .helpButtonLabel {
    display: block;
  }
}

.embeddedServiceLiveAgentStateChatInputFooter .fileInfo {
  flex-direction: row !important;
  align-items: center;
}

.embeddedServiceSidebarButton .label {
  color: #1a1446 !important;
  font-weight: 500 !important;
}

.embeddedServiceHelpButton .helpButtonDisabled .helpButtonLabel .message {
  width: 95px !important;
  line-height: 47px;
}

.embeddedServiceLiveAgentStateChatHeader .content {
  justify-content: flex-start;
  height: 439px;
}

.label {
  text-transform: none !important;
}

.embeddedServiceLiveAgentStateChatInputFooter .chasitorText.textAreaIsFocused {
  border: none !important;
}

.embeddedServiceHelpButton .embeddedServiceIcon {
  display: none !important;
}

.embeddedServiceLiveAgentStateChat .messageArea:focus {
  border: none !important;
}

.embeddedServiceHelpButton .helpButton .uiButton:hover {
  background-color: #ffffff !important;
}

.prechatFields {
  .required {
    display: none;
  }

  > div {
    .uiInputSelect:last-child,
    .uiOutputText:last-child {
      display: none;
    }
  }
}

.embeddedServiceHelpButton .helpButton .uiButton:hover:before {
  display: none;
}

.dockableContainer .cChatService_cmp {
  .input,
  .select {
    width: 100%;
    height: 40px !important;
    border-radius: 0.3em;
    font-size: 0.8em;
    padding: 0.4em;
    color: #343741 !important;
    box-sizing: border-box;
    outline: 0;
    border-bottom: none !important;
    border: 1px solid #c0bfc0 !important;
    background-color: transparent !important;
    font-family: "Roboto", sans-serif !important;
    -webkit-appearance: none;
    padding-right: 2rem;
  }
}

.queuePositionMessage p,
.queuePositionCounter,
.queuePositionNumber {
  display: none !important;
}

.uiOutputText {
  color: #343741 !important;
  font-weight: normal !important;
}

.dockableContainer .cChatService_cmp {
  .input::placeholder {
    color: transparent;
  }

  .select {
    &::placeholder {
      color: transparent;
    }

    &.selected {
      color: #343741 !important;
    }
  }
}

.embeddedServiceSidebarHeader .embeddedServiceIcon svg {
  fill: #1a1446 !important;
}

.prechatFields > div {
  margin-top: 0 !important;
  margin-right: 1.4rem !important;
  margin-left: 1.4rem !important;
  display: grid;
  grid-template-areas: "labeluno labeluno labeluno labeluno" "inputuno inputuno inputuno inputuno" "labeldos labeltres labeltres labeltres" "inputdos inputtres inputtres inputtres" "labelcuatro labelcuatro labelcuatro labelcuatro" "inputcuatro inputcuatro inputcuatro inputcuatro" "labelcinco labelcinco labelcinco labelcinco" "inputcinco inputcinco inputcinco inputcinco";
  grid-gap: 10px;
  grid-row-gap: 5px;
}

span[data-aura-rendered-by="37:115;a"],
.prechatFields > div > span:nth-of-type(2) {
  grid-area: labeluno;
}

div[data-aura-rendered-by="273:0"],
.prechatFields > div > div:nth-of-type(1) {
  grid-area: inputuno;
}

span[data-aura-rendered-by="50:115;a"],
.prechatFields > div > span:nth-of-type(4) {
  grid-area: labeldos;
}

div[data-aura-rendered-by="282:0"],
.prechatFields > div > div:nth-of-type(2) {
  grid-area: inputdos;
}

span[data-aura-rendered-by="65:115;a"],
.prechatFields > div > span:nth-of-type(6) {
  grid-area: labeltres;
}

div[data-aura-rendered-by="291:0"],
.prechatFields > div > div:nth-of-type(3) {
  grid-area: inputtres;
}

span[data-aura-rendered-by="76:115;a"],
.prechatFields > div > span:nth-of-type(7) {
  grid-area: labelcuatro;
}

div[data-aura-rendered-by="300:0"],
.prechatFields > div > div:nth-of-type(4) {
  grid-area: inputcuatro;
}

span[data-aura-rendered-by="87:115;a"],
.prechatFields > div > span:nth-of-type(8) {
  grid-area: labelcinco;
}

div[data-aura-rendered-by="309:0"],
.prechatFields > div > div:nth-of-type(5) {
  grid-area: inputcinco;
}

span[data-aura-rendered-by="98:115;a"],
.prechatFields > div > span:nth-of-type(9) {
  display: none;
}

.cChatService_cmp .prechatFields .titulo:before {
  content: "¡Hola!";
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-bottom: 4px;
}

.embeddedServiceLiveAgentStateChatItem.chatMessage {
  background-color: #e6f8fa !important;
}

.embeddedServiceLiveAgentStateChat .messageArea {
  padding-top: 20px !important;
  background-color: #e6f8fa !important;
}

.embeddedServiceLiveAgentStateChatHeader.alert .message {
  background-color: rgba(255, 255, 255, 0.9215686275);
  margin-top: -55px;
  position: absolute;
  top: 54px;
  height: 440px;
  left: 0;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

.cChatService_cmp .prechatFields .titulo {
  font-size: 0.9rem !important;
  padding: 0;
  text-align: center !important;
  display: block;
  font-family: "Roboto", sans-serif !important;
}

.startButtonWrapper {
  margin: 1.4rem;
  margin-top: 9px;

  .customButton {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    height: 40px;
    box-shadow: none;
    text-shadow: none;
    line-height: 40px !important;
    border: none;
    background: #99e5ea !important;
    padding-top: 0 !important;

    &:focus,
    &:hover {
      color: #1a1446 !important;
      text-shadow: none !important;
    }
  }
}

.uiButton--default {
  &:hover .label,
  &:focus .label {
    color: #1a1446 !important;
    text-shadow: none !important;
  }
}

.embeddedServiceSidebarHeader .shortHeaderContent {
  background-color: #ffffff;
}

.cChatService_cmp {
  .uiOutputText {
    margin: 0 !important;
  }

  .uiInput {
    margin-bottom: 7px !important;
  }
}

.uiButton--default .label {
  text-transform: none !important;
}

.embeddedServiceSidebarExtendedHeader {
  color: #1a1446 !important;
  background-color: #fff !important;
  font-family: "Roboto", sans-serif !important;
}

.embeddedServiceLiveAgentStateWaitingHeader .waitingGreeting {
  font-size: 1.56rem !important;
}

.embeddedServiceSidebarDialogState {
  #dialogTextBody {
    display: none;
  }

  #dialogTextTitle {
    color: #1a1446 !important;
    font-size: 1.5rem !important;
    font-family: "Roboto", sans-serif !important;
    font-weight: 500 !important;
  }
}

.embeddedServiceSidebarButton.dialog-button-0 .label {
  font-family: "Roboto", sans-serif !important;
  color: #1a1446 !important;
  font-weight: 500 !important;
}

.embeddedServiceLiveAgentQueuePosition {
  &.queuePositionWaiting .queuePositionNumber,
  .queuePositionMessage,
  .embeddedServiceIcon > svg {
    display: none;
  }
}

.embeddedServiceLiveAgentStateWaitingHeader .waitingMessage {
  margin-top: 3px !important;
}

.embeddedServiceSidebarButton.uiButton--inverse {
  &:not(:disabled):focus {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  .label {
    color: #1a1446 !important;
    font-weight: 400;
    font-family: "Roboto", sans-serif !important;
  }

  margin-bottom: 50px;
}

.embeddedServiceHelpButton .helpButton .helpButtonEnabled:focus::before {
  display: none !important;
}

div[data-aura-class="embeddedServiceLiveAgentStateWaitingHeader"] {
  display: block !important;
}

/* .embeddedServiceLiveAgentStateChatHeader{
      height: 0;
    overflow: hidden;
} */

.embeddedServiceSidebarExtendedHeader {
  background-color: transparent !important;

  .agentInfo,
  .chatOptions {
    display: none;
  }
}

.embeddedServiceLiveAgentStateChatHeader:not(.alert) .message {
  color: transparent;
}

.embeddedServiceSidebarButton.dialog-button-0 {
  background: #99e5ea !important;
  font-family: "Roboto", sans-serif !important;
  height: 40px !important;
}

.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.agent.plaintextContent {
  background: #f2feff !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  margin-top: 5px;
}

.embeddedServiceLiveAgentStateChatBubble.chasitor .chatContent {
  background: #ffffff !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  margin-top: 5px;
}

.embeddedServiceLiveAgentStateChatFileTransferMessage
  .fileIcon.embeddedServiceIcon
  > svg
  > {
  g > path:first-of-type {
    fill: #99e5ea !important;
  }

  path {
    fill: #1a1446 !important;
  }
}

.embeddedServiceLiveAgentStateChat .endChatContainer .endChatButton {
  background-color: #99e5ea !important;
  font-family: "Roboto slab", sans-serif !important;
}

.embeddedServiceLiveAgentStateChatFileTransferMessage
  .fileInfo
  .fileDescription {
  font-size: 0.8rem;
  color: #27a2ae !important;
}

.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.chasitor.plaintextContent {
  background: #fff !important;
  color: #333 !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  margin-top: 5px;
}

.prechatFields .uiOutputText:first-child {
  color: lime;
}

/*div[data-aura-class="embeddedServiceSidebarHeader"] .extendedHeader{
  display: none;
}*/

div[data-aura-class="embeddedServiceLiveAgentStateWaiting"] .extendedHeader {
  display: block;
}

.embeddedServiceLiveAgentStateChatInputFooter {
  &.chasitorInputWrapper {
    background-color: #e6f8fa !important;
  }

  &.dynamicResizeTextOneRow .chasitorText {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  }
}

.embeddedServiceSidebarButton:focus {
  box-shadow: none !important;
  text-decoration: none !important;
}

.embeddedServiceSidebarHeader .headerItem:focus:after {
  border: none !important;
}

.embeddedServiceSidebarMinimizedDefaultUI.newMessage .minimizedText > .message {
  width: 33px !important;
  font-size: 1rem;
}

.d-none {
  display: none !important;
}

.prechatFields > div > br br[data-aura-rendered-by="11:115;a"],
br[data-aura-rendered-by="7:115;a"] {
  display: none;
}

.prechatFields > br {
  &:nth-of-type(1),
  &:nth-of-type(2) {
    display: none;
  }
}

#blocks-necesecitas-ayuda .menu li a.chat {
  display: block !important;
}

.dockableContainer .cChatService_cmp {
  input.inputrequired,
  .select.inputrequired {
    background-color: rgba(233, 34, 67, 0.1098039216) !important;
    border-color: #e92243 !important;
  }
}

.embeddedServiceLiveAgentStateChatEventMessage
  .eventMessage
  > .uiOutputRichText {
  padding: 0 0px !important;
}

@media (max-width: 480px) {
  .embeddedServiceSidebar.modalContainer {
    z-index: 9999999;
  }

  .embeddedServiceHelpButton .helpButton,
  .embeddedServiceSidebarMinimizedDefaultUI {
    right: 90px !important;
    bottom: 16px !important;
  }

  .embeddedServiceLiveAgentStateChat .messageArea {
    max-height: calc(100vh - 50px) !important;
  }

  .embeddedServiceSidebar .activeFeature {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    height: calc(90vh - 85px) !important;
  }

  .embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #ededed;
    border-radius: 0 0 8px 8px;
    bottom: 50px;
    z-index: 999999999;
  }

  .embeddedServiceSidebar.layout-docked .dockableContainer {
    right: 0 !important;
    min-height: 100vh !important;
    width: 100% !important;
    border-radius: 0 !important;
    height: auto !important;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-top: 0;
  }

  .embeddedServiceSidebarHeader {
    .shortHeader {
      border-radius: 0 !important;
    }

    border-radius: 0 !important;
  }
}

.minimizeButton {
  margin-bottom: 0;
  position: relative !important;
  left: -220px !important;
  background-image: url("../images/icons/minimize.svg") !important;
  background-repeat: no-repeat !important;
  background-size: 14px !important;
  background-position: center !important;

  &:focus {
    box-shadow: none !important;
    outline: none;
  }
}

.closeButton {
  margin-bottom: 0;
  background-image: url("../images/icons/close.svg") !important;
  background-repeat: no-repeat !important;
  padding-left: 25px;
  background-position: center !important;
  margin-right: -5px;

  &:focus {
    box-shadow: none !important;
    outline: none;
  }
}

.sidebarHeader[embeddedService-chatHeader_chatHeader] {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  padding: 0 14px;
  height: 50px;
  max-height: 64px;
  background-color: white;
  color: #1a1446;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

h2[embeddedService-chatHeader_chatHeader] {
  padding-left: 2rem;
}

.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.chasitor.plaintextContent
  a {
  color: #1a1446 !important;
}

p.text.announcement,
.text[embeddedService-chatHeaderAnnouncement_chatHeaderAnnouncement] {
  background: #fff;
  width: 90%;
  margin: 5%;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: #1b1445;
  border-radius: 6px;
}
