// Mixins 

/// Mixin - medium Breakpoint
/// Allows easier @include medium {} syntax
@mixin compmedium {
  @include breakpoint(768px) {
    @content;
  }
}

/// Mixin - large Breakpoint
/// Allows easier @include large {} syntax
@mixin complarge {
  @include breakpoint(960px) {
    @content;
  }
}

// Components

.hero-promo {
  display: block;
  padding-bottom: 1rem;

  &--edge2edge {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
  }

  &__banner {
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    position: relative;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    order: 2;

    @include compmedium {
      order: 1;
    }
  }

  &__image {
    order: 1;

    @include compmedium {
      order: 2;
    }
  }

  &__container {
    position: relative;
    background-color: #FFF;
    padding: 2rem;
    margin: -40px 2rem 0;
    border-radius: 6px;
    box-shadow: 0 0 10px #00000030;

    @include compmedium {
      position: absolute;
      margin: unset;
      top: 80px;
      max-width: 450px;
      border-radius: unset;
      box-shadow: unset;
    }

    a {
      background-color: #78E1E1;
      color: #1A1446;
      font-weight: bold;
      font-size: 13px;
      padding: .4rem 1.2rem;
      border-radius: 20px;
      text-decoration: none;
      margin: .8rem 0;
      display: inline-block;
      transform: scale(1);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }
    }

    h2 {
      color: #1A1446;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Roboto', arial, sans-serif;
      line-height: 1.2;
      margin: 15px 0;
      text-align: left;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 2rem 2rem;
    background-color: #FFF;
    position: relative;
    max-width: 1024px;
    border-radius: 6px;
    box-shadow: 0 0 10px #00000030;
    gap: 1rem;
    padding: 1.5rem 0;

    @include compmedium {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      min-height: 100px;
      margin: -50px auto 50px;
      gap: unset;
      padding: unset;
    }

    .hero-promo--default & {
      background-color: unset;
      box-shadow: unset;
      border-radius: unset;

      @include compmedium {
        margin: -70px auto 50px;
      }
    }
  }

  &__item {
    border-right: none;
    width: 100%;
    padding: 0 1rem;
    line-height: 1.3;

    @include compmedium {
      border-right: 1px solid #e4e4e4;
    }

    &:last-child {
      @include compmedium {
        border-right: none;
      }
    }

    div {
      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        color: #343741;
        text-decoration: none;
      }
    }

    &:hover {
      .card-icon-basic svg {
        transform: scale(1.2);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  .card-icon-basic {
    display: flex;
    justify-content: center;

    svg,
    img {
      width: 40px;
      height: 40px;
      margin-right: 1rem;
      fill: #1A1446;
      transform: scale(1);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;

      @include compmedium {
        width: 60px;
        height: 60px;
      }
    }

    .field-lib-media-icon img {
      width: 40px;
      height: 40px;
      margin-right: 1rem;

      @include compmedium {
        width: 60px;
        height: 60px;
      }

    }
  }

  &__icons {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
    overflow-x: scroll;

    @include compmedium {
      justify-content: space-around;
    }

    .hero-promo__item {
      border-right: none;
      color: #1A1446;
      font-family: 'Roboto', arial, sans-serif;
      font-size: 17px;
    }

    svg {
      fill: #1A1446;
      height: 60px;
      width: 60px;
      transform: scale(1);
    }

    .find-icon-circle {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: center;
      gap: .5rem;
      padding: 1rem;

      >div>div>div {
        height: 100px;
        width: 100px;
        background-color: #78E1E1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

        &:hover {
          transform: scale(1.1);
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
        }

        &.contextual {
          display: none !important;
        }
      }
    }
  }
}

.banner-cards {
  display: block;
  padding-bottom: 1rem;

  &--edge2edge {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
  }

  &__wrapper {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    z-index: 1;
  }

  &__container {
    position: absolute;
    background-color: #FFF;
    padding: 2rem;
    top: 80px;
    max-width: 450px;

    a {
      background-color: #78E1E1;
      color: #1A1446;
      font-weight: bold;
      font-size: 13px;
      padding: .4rem 1.2rem;
      border-radius: 20px;
      text-decoration: none;
      margin: .8rem 0;
      display: inline-block;
      transform: scale(1);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }
    }

    h2 {
      color: #1A1446;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Roboto', arial, sans-serif;
      line-height: 1.2;
      margin: 15px 0;
      text-align: left;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: -50px auto 50px;
    position: relative;
    max-width: 1024px;
    padding: 0 2rem;


    @include compmedium {
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0;
    }
  }
}

.card-icon {
  border-radius: 6px;
  background-color: #FFF;
  box-shadow: 0 0 10px #00000030;
  height: 100%;
  position: relative;

  &__media {
    img {
      width: 50px;
      height: 50px;
    }
  }

  &__button {
    text-transform: uppercase;
  }

  &__heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1.5rem;
    line-height: 1.2;
    color: #1A1446;
    min-height: 100px;

    .plan-list--default & {
      background-color: #FFD000;
      min-height: 80px;
      margin-bottom: 1rem;
      border-radius: 6px 6px 0 0;
      padding: .5rem 2rem;
    }

    h3 {
      margin: 0;
    }

    svg {
      width: 50px;
      height: 50px;
      margin-right: .8rem;
      fill: #1A1446;
      transform: scale(1);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
  }

  &__info {
    padding: 0 2rem 4rem;
    line-height: 1.3;

    a.button {
      background-color: #78E1E1;
      color: #1A1446;
      font-weight: bold;
      font-size: 13px;
      padding: .4rem 1.2rem;
      border-radius: 20px;
      text-decoration: none;
      margin: .8rem 0;
      display: inline-block;
      transform: scale(1);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      position: absolute;
      bottom: 1rem;
      left: 2rem;

      &:hover {
        transform: scale(1.1);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

a.button-landing {
  background-color: #78E1E1;
  color: #1A1446;
  font-weight: bold;
  font-size: 13px;
  padding: .4rem 1.2rem;
  border-radius: 20px;
  text-decoration: none;
  margin: .8rem 0;
  display: inline-block;
  transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 1rem;
  left: 2rem;

  &:hover {
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.button-landing {
  a {
    background-color: #78E1E1;
    color: #1A1446;
    font-weight: bold;
    font-size: 13px;
    padding: .4rem 1.2rem;
    border-radius: 20px;
    text-decoration: none;
    margin: .8rem 0;
    display: inline-block;
    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.1);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
  }
}

.section {
  &--light-blue {
    background-color: #f6fdfd;
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
  }
}

.card-image {
  &--wrapper {
    border-radius: 6px;
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 10px #00000030;
    position: relative;


    &:hover {
      .card-image--image {
        img {
          transform: scale(1.1);
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }

  &--content {
    padding: .5rem 1rem 1rem;

    h3 {
      color: #1A1446;
      font-size: 17px;
      font-weight: bold;
      font-family: 'Roboto', arial, sans-serif;
      line-height: 1.2;
      margin: 15px 0;
    }
  }

  &--image {
    position: relative;
    overflow: hidden;

    &-logo {
      &::before {
        content: " ";
        height: 55px;
        width: 55px;
        background-color: #FFD000;
        position: absolute;
        top: 15px;
        left: 15px;
      }
    }

    img {
      transform: scale(1);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      aspect-ratio: 3/2;
      object-fit: cover;
    }
  }
}

.card-button {
  a {
    background-color: #78E1E1;
    color: #1A1446;
    font-weight: bold;
    font-size: 13px;
    padding: .4rem 1.2rem;
    border-radius: 20px;
    text-decoration: none;
    margin: .8rem 0;
    display: inline-block;
    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: absolute;
    bottom: 1rem;
    left: 2rem;

    &:hover {
      transform: scale(1.1);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
  }
}

.card-list {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;

  @include compmedium {
    padding: 2rem 0;
  }

  h2 {
    color: #1A1446;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', arial, sans-serif;
    line-height: 1.2;
    margin: 15px 0;
    text-align: center;
    margin-bottom: 3rem;
  }
}

.breaker {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 0;
  position: relative;

  &__wrapper {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 0 1rem;

    @include compmedium {
      flex-direction: row;
      padding: unset;
    }

    h3::after {
      content: " ";
      background-color: #FFD000;
      height: 5px;
      width: 0;
      position: absolute;
      left: 0;
      bottom: -8px;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      .breaker__info h3::after {
        width: 150px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  &--imgleft {
    .breaker__wrapper {
      flex-direction: column;

      @include compmedium {
        flex-direction: row;
      }
    }
  }

  &--imgright {
    .breaker__wrapper {
      flex-direction: column;

      @include compmedium {
        flex-direction: row-reverse;
      }
    }
  }

  &__image {
    border-radius: 6px;
    overflow: hidden;
    position: relative;

    @include compmedium {
      flex-basis: 480px;
    }
  }

  &--label-logo {
    .breaker__image {
      &::before {
        content: " ";
        height: 55px;
        width: 55px;
        background-image: url(../images/icons/lib-logo-corner.png);
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 50%;
        z-index: 1;
      }
    }
  }

  &__info {
    @include compmedium {
      padding: 2rem;
      flex: 1;
    }

    h3 {
      color: #1A1446;
      font-weight: bold;
      font-family: 'Roboto', arial, sans-serif;
      line-height: 1.2;
      margin: 15px 0;
      font-size: 22px;
      position: relative;
    }
  }
}

.scrollspy {
  display: flex;
  text-transform: uppercase;
  color: #1A1446;
  padding: .5rem 2rem;

  &--item {
    border-right: 1px solid #e4e4e4;

    &:last-child {
      border-right: none;
    }
  }
}

.plan-list {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;

  @include compmedium {
    padding: 2rem 0 3rem;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    @include compmedium {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__heading {
    text-align: center;
    padding: 1rem 0 3rem;
  }

  &__title {
    color: #1A1446;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', arial, sans-serif;
    line-height: 1.2;
    margin: 15px 0;
  }
}

.card-plan {
  border-radius: 6px;
  background-color: #FFF;
  box-shadow: 0 0 10px #00000030;
  height: 100%;
  position: relative;

  &__heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1.5rem;
    line-height: 1.2;
    color: #1A1446;
    min-height: 100px;

    h3 {
      margin: 0;
    }

    svg {
      width: 50px;
      height: 50px;
      margin-right: .8rem;
      fill: #1A1446;
      transform: scale(1);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
  }

  &__info {
    padding: 0 2rem 1rem;
    line-height: 1.3;

    a.button {
      background-color: #78E1E1;
      color: #1A1446;
      font-weight: bold;
      font-size: 13px;
      padding: .4rem 1.2rem;
      border-radius: 20px;
      text-decoration: none;
      margin: .8rem 0;
      display: inline-block;
      transform: scale(1);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      position: absolute;
      bottom: 1rem;
      left: 2rem;

      &:hover {
        transform: scale(1.1);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  &__items {
    list-style: none;
    padding-left: 1.5rem;
  }

  &__item {
    padding: .3rem 0;
    position: relative;

    &::before {
      content: " ";
      height: 20px;
      width: 20px;
      margin-right: .3rem;
      background-image: url(../images/icons/check.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
      position: absolute;
      left: -25px;
      top: 4px;
    }
  }
}

.icons-columns {
  &--wrapper {
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: 0 0 10px #00000030;
  }

  &--heading {
    color: #1A1446;
    padding: .5rem 1rem;
  }

  &--content {
    padding: .5rem 1rem;
  }
}

.tab {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;

  @include compmedium {
    flex-direction: row;
  }

  &-content {
    padding: 3rem;
    background-color: transparent;
    text-align: center;

    .button {
      border: 0px !important;
    }

    &__item {
      padding: 2rem 0;
    }
  }

  &-nav__item {
    color: #1A1446;
    padding: .5rem;
    text-align: center;
    border-bottom: 8px solid #FFF;
    width: 100%;

    &.is-active {
      border-bottom: 8px solid #78E1E1;
    }

    a {
      text-decoration: none;
      color: #1A1446;
      font-size: 17px;
    }
  }

  &-item {
    display: none;

    &.is-active {
      display: block;
    }
  }

  &_item__link {
    padding-top: 1rem;

    a.button {
      background-color: #78E1E1;
      color: #1A1446;
      font-weight: bold;
      font-size: 13px;
      padding: .4rem 1.2rem;
      border-radius: 20px;
      text-decoration: none;
      margin: .8rem 0;
      display: inline-block;
      transform: scale(1);
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      position: absolute;
      bottom: 1rem;
      left: 2rem;

      &:hover {
        transform: scale(1.1);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  &_item__title {
    color: #1A1446;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', arial, sans-serif;
    line-height: 1.2;
    margin: 15px 0;
    padding-top: 1rem;
  }
}

.card-tab {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
  flex-direction: column;

  @include compmedium {
    flex-direction: row;
  }
}

.multimedia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: .5rem;

  &--left-content {
    padding-top: 2rem;
  }

  &--videos {
    display: grid;
    grid-template-columns: 1fr;

    @include compmedium {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.icon-circle {
  background-color: #78E1E1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  margin: 0 auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.2);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    svg {
      transform: scale(1);
    }
  }

  img {
    height: 50px;
    width: 50px;
    transform: scale(1);
  }

  svg {
    height: 50px;
    width: 50px;
    transform: scale(1);
  }
}

.big-padding-top-bottom {
  padding: 4rem 0;
}

.hero-breaker {
  overflow: hidden;

  .breaker-item {
    // display: unset;
    // transform: translateX(1024px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    &.is-active {
      // display: unset;
      // transform: translateX(0);
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    @-webkit-keyframes fade {
      from {
        opacity: .4
      }

      to {
        opacity: 1
      }
    }

    @keyframes fade {
      from {
        opacity: .4
      }

      to {
        opacity: 1
      }
    }

  }

  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    flex-direction: column;

    @include compmedium {
      flex-direction: row;
    }
  }

  &__content {
    .breaker-item {
      display: none;

      &.is-active {
        display: block;
      }
    }
  }

  li.breaker-nav {
    width: 100%;
    text-align: center;
    background-color: #e4e4e4;
    color: #1A1446;
    padding: .8rem;

    a {
      color: #1A1446;
      text-decoration: none;
    }

    &.is-active {
      background-color: #78E1E1;
    }
  }
}

.card-list-mmedia {
  max-width: 1024px !important;
  margin: auto;
  padding: 2rem;

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;

    @include compmedium {
      grid-template-columns: 2fr 3fr;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include compmedium {
      flex-direction: row;
    }
  }

  &__header {
    padding-bottom: 2rem;

    h2 {
      color: #1A1446;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Roboto', arial, sans-serif;
      line-height: 1.2;
      margin: 15px 0;
      text-align: left;
    }
  }

  &__bottom {
    padding: 2rem 0 0;
  }
}

.menu-scrollspy {
  &__wrapper {
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
    background: #FFF;

    &.sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 99;
    }
  }

  &__container {
    margin: 0 auto;
    max-width: 1024px;
  }

  &__nav {
    list-style: none;
    margin: 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;

    @include compmedium {
      flex-direction: row;
    }
  }

  &__item {
    text-transform: uppercase;
    padding: .5rem 1.5rem;
    font-size: .9rem;

    @include compmedium {
      border-right: 1px solid #1A1446;
      padding: 0 1.5rem;
    }

    &:last-child {
      border-right: none;
    }

    a {
      color: #1A1446;
      text-decoration: none;
    }
  }
}

.card-media {
  &__mmedia {
    .quickedit-field {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__title {
    color: #1A1446;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Roboto', arial, sans-serif;
    line-height: 1.2;
    margin: 15px 0;
  }
}

.card-list.grid,
.plan-list__container.grid,
.banner-cards__items.grid {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  padding: 0;
}

.grid {
  &--card {
    margin-bottom: 2rem;
  }

  &-col-2 {
    grid-template-columns: 1fr;

    @include compmedium {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-col-3 {
    grid-template-columns: 1fr;

    @include compmedium {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-col-4 {
    grid-template-columns: 1fr;

    @include compmedium {
      grid-template-columns: repeat(2, 1fr);
    }

    @include complarge {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}