<!-- Add you custom twig html here -->

{# También te puede interesar #}

<div class="lib-comp-breaker">
  <div class="lib-comp-breaker__wrapper">
    <div class="lib-comp-breaker__image">
      {{ content.field_lib_media_image }}
    </div>
    <div class="lib-comp-breaker__info">
      <h3>
        {{ content.field_lib_heading }}
      </h3>
      {{ content.field_lib_body }}
      <a href="#" class="lib-comp-button lib-comp-card__button">
        {{ item.field_lib_v2_cards_link }}
      </a>
    </div>
  </div>
</div>
