.component__acordeon--coberturas {
  h3 {
    color: var(--hdi-universal-green);
  }

  .component__heading {
    h3 {
      font-size: 1.25rem;
      padding: 1rem 0;
    }
  }

  .component__content {
    .js-accordion-options {
      margin-bottom: 1.5rem;

      .option {
        .component__single-text {
          ul {
            margin-bottom: 1.5rem;
            margin-left: 1.5rem;

            &:last-of-type {
              margin-bottom: 0;
            }

            li {
              list-style: disc;
            }
          }
        }
      }
    }
  }
}
