@import '../mixins/responsive.scss';

.component {
  &__banner {
    &.cp-banner-bottom {
      position: relative;

      .banner--container {
        position: relative;
        right: 0;
        width: auto;

        @include tablet-landscape-up {
          position: absolute;
          right: 11rem;
          top: 2rem;
          width: 30rem;
        }

        .cp-banner__heading {
          background-color: white;
          padding: 3rem;
          text-align: center;

          @include phone-only {
            padding: 2rem 1rem 2rem 1rem;
          }

          h2 {
            p {
              color: var(--hdi-universal-green);
              font-size: 1.5rem;
              font-weight: normal;

              @include tablet-landscape-up {
                font-size: 2.5rem;
                font-weight: lighter;
                line-height: 1.3;
              }
            }
          }
        }
      }
    }
  }
}
