#blocks-necesecitas-ayuda {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 10;

  #show-menu-help {
    background-image: url(../../images/need-help.svg);
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    bottom: 2.875rem;
    cursor: pointer;
    font-size: 1rem;
    padding: .6875rem 3.875rem .6875rem 2.875rem;
    position: absolute;
    right: 2.875rem;
  }

  .menu {
    background: var(--white);
    border-radius: 6px;
    bottom: 6.5rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
    overflow: hidden;
    padding: 1rem 0 0 0;
    position: absolute;
    right: 2.875rem;
    width: 17.5rem;

    li {
      &.close {
        background-image: url(../../images/close.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 1rem) top;
        background-size: 1rem;
        border: none;
        cursor: pointer;
        display: block;
        height: 1rem;
      }

      &:not(.close) {
        border-bottom: 1px solid var(--gray-20);
        list-style: none;
        margin: 0;
        padding: 0;

        &:hover {
          background-color: var(--gray-20);
        }

        a {
          background-repeat: no-repeat;
          background-position: 2rem center;
          background-size: 1.25rem;
          display: block;
          font-size: 1rem;
          padding: 1rem 2rem 1rem 4rem;
        }
      }
    }
  }
}
