#blocks-necesecitas-ayuda {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 10;

  #show-menu-help {
    background-image: url(../../images/need-help.svg);
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    bottom: 2.875rem;
    cursor: pointer;
    font-size: 1rem;
    padding: .6875rem 3.875rem .6875rem 2.875rem;
    position: absolute;
    right: 2.875rem;

    @include phone-only {
      background-position: 50% center;
      overflow: hidden;
      text-indent: -9999rem;
      white-space: nowrap;
      background-size: 3rem;
      background-color: var(--hdi-green-70) !important;
      border-radius: 50%;
      padding: 0em;
      right: 1rem;
      height: 4rem;
      width: 4rem;
      bottom: 1.4rem;
      right: 1.4rem
    }
  }

  .menu {
    background: var(--white);
    border-radius: 6px;
    bottom: 6.5rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
    overflow: hidden;
    padding: 1rem 0 0 0;
    position: absolute;
    right: 2.875rem;
    width: 17.5rem;

    @include phone-only {
      bottom: 6.5rem;
      right: 1.4rem;
    }

    li {
      &.close {
        background-image: url(../../images/close.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 1rem) top;
        background-size: 1rem;
        border: none;
        cursor: pointer;
        display: block;
        height: 1rem;

        @include phone-only {
          display: none;
        }
      }

      &:not(.close) {
        border-bottom: 1px solid var(--gray-20);
        list-style: none;
        margin: 0;
        padding: 0;

        &:hover {
          background-color: var(--gray-20);
        }

        a {
          background-repeat: no-repeat;
          background-position: 2rem center;
          background-size: 1.25rem;
          display: block;
          font-size: 1rem;
          padding: 1rem 2rem 1rem 4rem;
        }
      }
    }
  }
}

#show-menu-help > .block_card-link a--alpha.active, .button--alpha.active {
  @include phone-only {
    background-image: url(../../images/need-help-close.svg) !important;
    background-color: ar(--hdi-green-70);
    font-size: 0.875rem;
    border: none;
  }
}
