@import '../mixins/responsive.scss';

.content-wrapper.blog-news {
  cursor: pointer;

  .field-image img {
    width: 100%;
    height: 10.188rem;

    @include phone-only {
      height: auto;
    }
  }

  .text-container {
    padding: 1rem;
    text-align: left;
    border-style: solid; 
    border-width: 0 0.063rem 0.063rem 0.063rem;
    border-radius: 0 0 0.188rem 0.188rem;
    border-color: var(--gray-90);

    @include phone-only {
      padding: 0.75rem;
    }

    .field-category a {
      color: var(--hdi-green);
      font-weight: normal;
      font-size: 1rem;
      margin: 0.438rem 0;

      @include phone-only {
        font-size: 0.875rem;      }
    }

    .field-label {
      color: var(--hdi-universal-green);
      font-size: 1.5rem;
      font-weight: bold;

      @include phone-only {
        font-size: 1.25rem;
      }
    }

    .field-summary {
      color: var(--gray);
      font-size: 1rem;
      margin: 0.375rem 0 1rem;

      @include phone-only {
        font-size: 0.875rem;
        margin-bottom: 0.75rem;
      }
    }

    .blog-news__link {
      font-size: 0.875rem;
      color: var(--hdi-green);
      font-weight: bold;

      @include phone-only {
        font-size: 0.813rem;
      }
    }
  }

  &:hover {
    .text-container {
      border-width: 0 0.075rem 0.075rem 0.075rem;
      border-left-color: var(--hdi-green);
      border-right-color: var(--hdi-green);
      border-bottom-color: var(--hdi-green);

      .field-category a {
        color: var(--hdi-universal-green);
      }
      .field-label {
        color: var(--hdi-green);
      }
      .link {
        text-decoration: underline;
      }
    }
  }
}
