@import "../mixins/responsive.scss";

.content-wrapper {
  &.blog-news {
    cursor: pointer;

    .text-container {
      padding: 1rem 1rem 2rem 1rem;
      text-align: left;
      border-style: solid;
      border-width: 0 0.063rem 0.063rem 0.063rem;
      border-radius: 0 0 0.188rem 0.188rem;
      border-color: var(--gray-90);

      @include phone-only {
        padding: 0.75rem;
      }
    }

    &:hover {
      .text-container {
        border-width: 0 0.075rem 0.075rem 0.075rem;
        border-left-color: var(--hdi-green);
        border-right-color: var(--hdi-green);
        border-bottom-color: var(--hdi-green);

        .field-category {
          color: var(--hdi-universal-green);
        }
        .field-label {
          color: var(--hdi-green);
        }
        .link {
          text-decoration: underline;
        }
      }
    }
  }

  &.blog-news__with-social-networks {
    @include phone-only {
      margin-bottom: 2.188rem;
    }
  }

  &.blog-news__destacado-preview,
  &.blog-news__with-social-networks {
    cursor: default;

    .text-container {
      padding: 1rem 1rem 2rem 0;
      text-align: left;

      .link {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    @include phone-only {
      .field.field-image img {
        height: 13.25rem;
      }

      .text-container {
        padding: 1.438rem;
        border-radius: 0 0 0.188rem 0.188rem;
        box-shadow: 0 0 0.75rem var(--shadow);
      }
    }
  }

  &.blog-news__with-social-networks,
  &.blog-news {
    .field-image img {
      height: 10.188rem;
    }
  }

  &.blog-news__destacado-preview {
    .field-image img {
      height: 18.75rem;
    }
    @include phone-only {
      margin: 2.063rem 0;
    }
  }

  &.blog-news,
  &.blog-news__destacado-preview,
  &.blog-news__with-social-networks {
    .field-image img {
      width: 100%;
      border-radius: 0.188rem 0.188rem 0 0;

      @include phone-only {
        height: auto;
      }
    }
    .text-container {
      .field-label {
        color: var(--hdi-universal-green);
        font-size: 1.5rem;
        font-weight: bold;

        @include phone-only {
          font-size: 1.25rem;
        }
      }

      .field-category {
        color: var(--hdi-green);
        font-weight: normal;
        font-size: 1rem;
        margin: 0.438rem 0;

        @include phone-only {
          font-size: 0.875rem;
        }
      }

      .field-summary {
        color: var(--gray);
        font-size: 1rem;
        margin: 0.375rem 0 1.75rem;

        @include phone-only {
          font-size: 0.875rem;
          margin-bottom: 0.75rem;
        }
      }

      .blog-news__link {
        font-size: 0.875rem;
        color: var(--hdi-green);
        font-weight: bold;

        @include phone-only {
          font-size: 0.813rem;
        }
      }
    }
  }
}

.component__drupal-view.featured-news {
  padding: 0 6rem 2.5rem;
  background-color: #f5f5f5;

  .component__heading {
    .component__title {
      text-align: left;
      color: var(--hdi-green);
      font-size: 2rem;
      padding: 4.563rem 0 1.875rem;
      margin: 0;
    }
  }

  @include phone-only {
    padding: 1.688rem;

    .component__heading {
      .component__title {
        padding-top: 1.938rem;
      }
    }
  }
}

.component__drupal-view {
  &.featured-news,
  &.news-list {
      @include phone-only {
        .views-view-responsive-grid.views-view-responsive-grid--horizontal {
          display: grid;
          grid-template-columns: 1fr;
          gap: 10px;
        }
    }
  }
}

.blog-news__full {
  margin-bottom: 2.188rem;

  .news-container {
    padding: 0 6.8rem;

    .field-created {
      font-size: 1rem;
      color: #c0bfc0;
      margin-top: 1.594rem;
    }
    .field-category {
      font-size: 1.125rem;
      color: var(--hdi-green);
      margin: 1.25rem 0;
    }
  }

  @include phone-only {
    .news-container {
      padding: 0 2.438rem;

      .field-created {
        margin-top: 1.438rem;
      }
    }
  }
}
