@import "../mixins/responsive.scss";

.content-wrapper {
  &.blog-news {
    cursor: pointer;

    .text-container {
      padding: 1rem 1rem 2rem 1rem;
      text-align: left;
      border-style: solid;
      border-width: 0 0.063rem 0.063rem 0.063rem;
      border-radius: 0 0 0.188rem 0.188rem;
      border-color: var(--gray-90);

      @include phone-only {
        padding: 0.75rem;
      }
    }

    &:hover {
      .text-container {
        border-width: 0 0.075rem 0.075rem 0.075rem;
        border-left-color: var(--hdi-green);
        border-right-color: var(--hdi-green);
        border-bottom-color: var(--hdi-green);

        .field-category {
          color: var(--hdi-universal-green);
        }
        .field-label {
          color: var(--hdi-green);
        }
        .link {
          text-decoration: underline;
        }
      }
    }
  }

  &.blog-news__with-social-networks {
    @include phone-only {
      margin-bottom: 2.188rem;
    }
  }

  &.blog-news__destacado-preview,
  &.blog-news__with-social-networks {
    cursor: default;

    .text-container {
      padding: 1rem 0 2rem 0;
      text-align: left;

      .link {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    @include phone-only {
      .field.field-image img {
        height: 13.25rem;
      }

      .text-container {
        padding: 1.438rem;
        border-radius: 0 0 0.188rem 0.188rem;
        box-shadow: 0 0 0.75rem var(--shadow);
      }
    }
  }

  &.blog-news__with-social-networks,
  &.blog-news {
    .field-image img {
      height: 10.188rem;
    }
  }

  &.blog-news__destacado-preview {
    .field-image img {
      height: 18.75rem;
    }
    @include phone-only {
      margin: 1rem 0;
    }
  }

  &.blog-news,
  &.blog-news__destacado-preview,
  &.blog-news__with-social-networks {
    .field-image img {
      width: 100%;
      border-radius: 0.188rem 0.188rem 0 0;

      @include phone-only {
        height: auto;
      }
    }
    .text-container {
      .field-label {
        color: var(--hdi-universal-green);
        font-size: 1.5rem;
        font-weight: bold;

        @include phone-only {
          font-size: 1.25rem;
        }
      }

      .field-category {
        color: var(--hdi-green);
        font-weight: normal;
        font-size: 1rem;
        margin: 0.438rem 0;

        @include phone-only {
          font-size: 0.875rem;
        }
      }

      .field-summary {
        color: var(--gray);
        font-size: 1rem;
        margin: 0.375rem 0 1.75rem;

        @include phone-only {
          font-size: 0.875rem;
          margin-bottom: 0.75rem;
        }
      }

      .blog-news__link {
        font-size: 0.875rem;
        color: var(--hdi-green);
        font-weight: bold;

        @include phone-only {
          font-size: 0.813rem;
        }
      }
    }
  }

  &.blog-news__full,
  &.blog-news__destacado-preview,
  &.blog-news__with-social-networks {
    .news-blog-footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: 1rem 0;

      .field-social {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-end;

        .likeit {
          cursor: pointer;

          &:hover {
            .like {
              .icon-like {
                stroke: var(--hdi-universal-green);
              }
            }

            .likeit__count {
              color: var(--hdi-universal-green);
              font-weight: 500;
            }
          }

          .like {
            .icon-like {
              width: 1rem;
              stroke: var(--hdi-gray-50);
            }
          }

          .likeit__count {
            color: var(--hdi-gray-50);
            font-size: 0.85rem;
          }
        }

        .social-share {
          color: var(--hdi-gray-50);
          cursor: pointer;
          font-size: 0.85rem;
          position: relative;
          display: block;
          width: 1rem;
          height: 1rem;
          text-indent: -9999px;

          &::before {
            background-image: url("../../images/share_default.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            content: "";
            display: block;
            height: 18px;
            left: 0;
            position: absolute;
            top: 0;
            width: 18px;
          }

          &:hover {
            color: var(--hdi-universal-green);
            font-weight: 500;

            &::before {
              background-image: url("../../images/share_active.svg");
            }
          }

          .social-share-links {
            background-color: var(--overlay-news);
            border-radius: 3px;
            display: none;
            position: absolute;
            right: 0;
            top: -3rem;

            &::after {
              border-color: var(--overlay-news) transparent transparent
                transparent;
              border-style: solid;
              border-width: 9px;
              content: " ";
              position: absolute;
              right: 0.5rem;
              top: 100%;
            }

            .block-social-sharing-buttons-block {
              .social-sharing-buttons {
                margin: unset;
                padding: 0 0.5rem;

                a {
                  padding: 0.5rem 0.25rem;

                  svg {
                    border: 1px solid var(--white);
                    border-radius: 50% !important;
                    fill: var(--white);
                    height: 1.5rem;
                    width: 1.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
    .text-container_title_and_social {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &.blog-news__full {
    margin-bottom: 2.188rem;

    .news-container {
      .news-blog-footer {
        margin: 1rem 0 5rem;
      }
      .news-blog-content,
      .content-data,
      .news-blog-footer .likeit {
        font-family: var(--hdi-font);
      }

      .content-data {
        display: block;
        margin-top: 1.594rem;

        .field-created {
          font-size: 1rem;
          color: #c0bfc0;
        }
        .field-category {
          font-size: 1.125rem;
          color: var(--hdi-green);
          display: block;
          margin: 1.25rem 0;
        }
      }
    }

    @include phone-only {
      .news-container {
        padding: 0 2.438rem;

        .content-data {
          .field-created {
            margin-top: 1.438rem;
          }
        }
      }
    }

    @include tablet-portrait-up {
      .news-container {
        padding: 0 2.188rem;
      }
    }

    @include tablet-landscape-up {
      .news-container {
        padding: 0 6.8rem;
      }
    }
  }
}

.component__drupal-view.featured-news {
  background-color: #f5f5f5;

  .component__heading {
    .component__title {
      text-align: left;
      color: var(--hdi-green);
      font-size: 2rem;
      padding: 4.563rem 0 1.875rem;
      margin: 0;
    }
  }

  @include phone-only {
    padding: 1.688rem;

    .component__heading {
      .component__title {
        padding-top: 1.938rem;
      }
    }
  }

  @include tablet-portrait-up {
    padding: 1.688rem;
    .component__heading {
      .component__title {
        padding-top: 0.563rem;
      }
    }
    .component__content {
      .views-view-responsive-grid.views-view-responsive-grid--horizontal {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  @include tablet-landscape-up {
    padding: 0 6rem 2.5rem;

    .component__content {
      .views-view-responsive-grid.views-view-responsive-grid--horizontal {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}

.component__drupal-view {
  &.featured-news,
  &.news-list {
    @include phone-only {
      .views-view-responsive-grid.views-view-responsive-grid--horizontal {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
      }
    }

    @include tablet-portrait-up {
      .views-view-responsive-grid.views-view-responsive-grid--horizontal {
        grid-template-columns: 1fr 1fr;
      }
    }

    @include tablet-landscape-up {
      .views-view-responsive-grid.views-view-responsive-grid--horizontal {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
