@import '../mixins/responsive.scss';

.component__cards {
  .component__heading {
    .cog--mq {
      h2, h4 {
        text-align: center;
      }

      h4 {
        color: var(--hdi-universal-green);
        font-size: 2.5rem;
        font-weight: 500;
      }

      p {
        &.lead {
          font-size: 1.25rem;
          margin: 1.5rem ;
          text-align: center;
        }
      }
    }
  }

  &.component__documents {
    .component__heading {
      .cog--mq {
        h4 {
          font-size: 2rem;
        }
      }
    }
  }

  .component__content {
    .cog--flex {
      .component__card {
        .card__img--oval {
          height: 8.75rem;
          margin: 2rem auto 0;
          position: relative;
          width: 8.75rem;

          svg, img {
            left: calc(50% - 2rem);
            position: absolute;
            top: calc(50% - 2rem);
            width: auto;
            height: 4rem;
          }
        }

        h3 {
          color: var(--hdi-green);
          font-size: 1.5rem;
          margin: 1.5rem 0;

          @include phone-only {
            font-weight: 500 !important;
            text-align: center;
          }
        }

        p {
          color: var(--gray);
          margin-bottom: 1.5rem;

          @include phone-only {
            text-align: center;
          }
        }
      }
    }
  }

  @include phone-only {
    #component-112 h3 {
      font-size: 2.2rem !important;
      text-align: center;
      font-weight: 500;
    }
  }

  @import './cards/formas_pago.scss';
  @import './cards/two_colums.scss';
  @import './cards/cifras.scss';
  @import './cards/image_cta.scss';
  @import './cards/valores.scss';
  @import './cards/certificaciones.scss';
  @import './cards/informes.scss';
  @import './cards/hdi_tools.scss';
  @import './cards/siniestros.scss';
  @import './cards/situacion_discapacidad.scss';
  @import './cards/productos.scss';
}
