@use '../mixins/responsive'as *;
@use './cards/formas_pago'as fp;
@use './cards/two_colums'as tc;
@use './cards/cifras'as cs;
@use './cards/image_cta.scss'as ic;
@use './cards/valores.scss'as va;
@use './cards/certificaciones.scss'as cer;
@use './cards/informes.scss'as inf;
@use './cards/hdi_tools.scss'as ht;
@use './cards/siniestros.scss'as sin;
@use './cards/situacion_discapacidad.scss'as sd;
@use './cards/productos.scss'as prod;

.component__cards {
  .component__heading {
    .cog--mq {

      h2,
      h4 {
        text-align: center;
      }

      h4 {
        color: var(--hdi-universal-green);
        font-size: 2.5rem;
        font-weight: 500;
      }

      p {
        &.lead {
          font-size: 1.25rem;
          margin: 1.5rem;
          text-align: center;
        }
      }
    }
  }

  &.component__documents {
    .component__heading {
      .cog--mq {
        h4 {
          font-size: 2rem;
        }
      }
    }
  }

  .component__content {
    .cog--flex {
      .component__card {
        .card__img--oval {
          height: 8.75rem;
          margin: 2rem auto 0;
          position: relative;
          width: 8.75rem;

          svg,
          img {
            position: relative;
            top: calc(50% - 2rem);
            width: auto;
            height: 4rem;
            margin: 0 auto;
          }
        }

        h3 {
          color: var(--hdi-green);
          font-size: 1.5rem;
          margin: 1.5rem 0;

          @include phone-only {
            font-weight: 500 !important;
            text-align: center;
          }
        }

        p {
          color: var(--gray);
          margin-bottom: 1.5rem;

          @include phone-only {
            text-align: center;
          }
        }
      }
    }
  }

  @include phone-only {
    #component-112 h3 {
      font-size: 2.2rem !important;
      text-align: center;
      font-weight: 500;
    }
  }

  @include fp.formas-pago();
  @include tc.two-columns();
  @include cs.cifras-style();
  @include ic.image-cta();
  @include va.valores();
  @include cer.certificaciones();
  @include inf.informes();
  @include ht.hdi-tools();
  @include sin.siniestros();
  @include sd.situacion-discapacidad();
  @include prod.productos();
}