@import '../mixins/responsive.scss';

.component__tabs {

  &--erescliente-home,
  &--general {
    margin-bottom: 6rem;

    @include phone-only {
      margin-bottom: 0rem !important;
    }

    .component__heading {
      h2 {
        font-size: 2rem;

        @include phone-only {
          font-size: 1.6rem;
          padding-left: 3.5rem;
          padding-right: 3.5rem;
          hyphens: manual;
        }
      }
    }

    .component__content {

      .ui-widget.ui-widget-content,
      .cog--flex {
        border: none;
      }

      &.cp-cards__list {
        .cp-tabs {
          &>.cog--flex {
            flex-direction: row;
            flex-wrap: wrap;
            margin: unset;
            width: 100%;
            z-index: 1;

            @include tablet-landscape-up {
              margin: auto;
              width: 100%;
            }

            &.ui-widget-header,
            &:hover {
              background-color: unset;
              border: unset;

              .ui-tab {
                border-bottom: 0.08rem solid var(--gray-50);
                background-color: unset;
                padding: unset;
                font-weight: 350;
                margin-bottom: 0;

                a {
                  color: var(--gray-50);
                }

                &.ui-state-active {
                  border-bottom-color: var(--hdi-universal-green);
                  border-bottom-width: 0.33rem;

                  &>div {

                    a {
                      color: var(--gray);
                      font-weight: 700;

                      @include phone-only {
                        font-weight: 500;
                      }

                      img {
                        filter: unset;
                      }
                    }
                  }
                }

                &:not(.ui-state-active) {
                  a {
                    margin-bottom: 0.188rem;
                  }

                  &:hover {
                    a {
                      color: var(--hdi-gray-50);
                      font-weight: 350;
                    }

                    img {
                      <<<<<<< HEAD filter: contrast(0.2);
                      =======filter: constrast(0.2);
                      >>>>>>>a2c4c2d9022c233ce002afcd8994fc9f28df0c49
                    }
                  }
                }

                &>div {
                  display: flex;
                  justify-content: center;

                  a {
                    align-items: center;
                    color: var(--gray-50);
                    display: flex;
                    color: var(--gray-50);
                    font-size: 1rem;

                    @include phone-only {
                      font-weight: 300;
                    }

                    img {
                      filter: contrast(0.1);
                      margin-right: 1.5rem;
                      width: 2rem;

                      @include phone-only {
                        width: 1.5rem;
                      }
                    }
                  }
                }
              }
            }

            li.ui-tabs-tab a {
              padding: 1.5rem 2rem .7rem;
            }

            @include phone-only {
              &.ui-widget-header {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
              }

              li.ui-tabs-tab a {
                padding: 1rem 1rem .5rem 1rem;
              }
            }
          }
        }
      }

      .tab-img-bg {
        @include phone-only {
          background-image: none !important;
        }

        @include tablet-landscape-up {
          height: 20rem;
        }

        .component__cards {
          .cog--items {
            align-items: stretch;
          }

          .component__card {
            background: var(--white);
            border-radius: 2px;
            box-shadow: 0px 2px 4px #1A144633;
            flex: 1;
            margin-bottom: 1rem;
            min-height: auto;
            padding: 1.875rem;

            @include tablet-landscape-up {
              margin: 5rem 1.25rem;
              margin-left: 0;
              padding-bottom: 4rem;
            }

            h3 {
              margin-top: 0;
            }

            p {
              font-family: var(--roboto-font);
              font-weight: 300;
            }

            .field__items {
              a {
                color: var(--hdi-universal-green);

                @include phone-only {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }

  &--contact {
    .header-tabs {
      .ui-tab {

        &:hover,
        &.ui-tabs-active {
          .component__card {
            background-color: var(--hdi-light-green-10);
            border-bottom: 5px solid var(--hdi-universal-green);
            border-radius: 3px;
            box-shadow: 0px 3px 8px var(--shadow);
          }
        }

        .component__card {
          text-align: center;
          flex: 0 1 30%;
          padding: 2rem 1rem;

          .card__img--oval {
            display: grid;
            height: 8.75rem;
            margin: 0 auto 1rem;
            place-content: center;
            width: 8.75rem;

            img {
              height: 4.375rem;
              width: auto;
            }
          }

          .name {
            color: var(--hdi-green);
            font-family: var(--hdi-font);
            font-size: 1.5rem;
            font-weight: 500;
            margin: 0 auto;
            max-width: 14.625rem;
            white-space: break-spaces;
          }

          .lead {
            margin: 1.5rem 0;
            max-width: 16.625rem;
            white-space: break-spaces;
          }

          .cta {
            .ui-tabs-anchor {
              float: unset;
            }
          }
        }
      }
    }
  }
}