.component__lista--producto-beneficios {
  margin: 2rem 0;

  .component__heading {
    h3 {
      color: var(--gray);
      font-size: 1.375rem;
    }
  }

  .component__content {
    margin-top: 1rem;

    .component__item-lista {
      align-items: center;
      display: inline-flex;
      padding: .5rem 0;

      img {
        margin-right: 1rem;
        width: 1rem;
      }
    }
  }
}
