.unificacion-modal {
  background-color: var(--white);
  border-radius: 8px;
  left: 50%;
  max-width: 45rem;
  overflow: hidden;
  padding: 2rem 3rem 8rem;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 100%;

  @include phone-only {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .modal-close{
    background-image: url(../../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    cursor: pointer;
    height: 1.1rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 1.1rem;
  }

  .header {
    box-shadow: none;

    img {
      margin: 0 auto;
    }
  }

  .post-header {
    width: 80%;
    margin: 2rem 4rem;

    h2 {
      text-align: center;
      margin: 1rem 0;
      font-size: 2rem;
      color: var(--hdi-universal-green);
    }

    h3 {
      color: var(--gray);
      font-size: 1rem;
      font-weight: 100;
      text-align: center;
    }
  }

  .post-button{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;

    @include phone-only {
      flex-direction: column;
      gap: 2rem;
    }

    .container-button{
      margin: 0rem;
      width: 90%;
      text-align: center;
    }

    .button {
      width: 100%;

      &.whatsapp {
        padding-left: 4.5rem;
        &::before {
          content: "";
          position: absolute;
          background-image: url(../../images/whatsapp-popup.svg);
          background-repeat: no-repeat;
          background-size: contain;
          width: 1.5rem;
          height: 1.2rem;
          z-index: 100;
          margin-left: -1.5rem;
        }
        &::after {
          content: "";
          margin-left: 1rem;
        }
      }
    }

  }

  .text-button {
    font-size: 0.7rem;
  }

  .post-warning{
    width: 100%;
    margin: 1rem auto 0;
    position: relative;

    .container-warning {
      border: 1px solid #b85d00;
      display: block;
      border-left-width: 3.125rem;
      position: relative;
      margin-top: 1rem;
      border-radius: 3px;
      padding: 1rem;

      @include phone-only {
        margin-bottom: 3rem;
      }

       &::before {
        content: "";
        position: absolute;
        background-image: url(../../images/bell-popup.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 1.5rem;
        height: 1.3rem;
        z-index: 100;
        left: -2.2rem;
      }

      .warning-text{
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }

  .container-footer{
    width: 100%;
    background-color: var(--gray-10);
    font-size: 1.1125rem;
    text-align: center;
    position: absolute;
    text-align: center;
    margin: 2.5rem -3rem 0;
    position: absolute;
    padding: 1rem 0;
    bottom: 0;

    .container-footer-first {
      margin-bottom: .5rem;
    }

    .container-footer-second {
      display: flex;
      flex-direction: row;
      justify-content: center;

      @include phone-only {
        flex-direction: column;
      }

      .footer-text-tel{
        color: #00a3a8;
        font-weight: 600;
      }
    }
  }

  .modal-img {
    background-image: url(../../images/alter_icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 7rem;
    margin: 0 auto;
    width: 7rem;
  }

  p {
    color: var(--gray);
    font-size: 1.1rem;
    font-weight: normal;
  }
}
