.component__multi-tabs {
  .cp-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    .component__heading {
      width: 100%;
      background-color: var(--gray-10);

      .cog--mq {
        ul {
          display: flex;
          justify-content: space-between;
          background-color: transparent;
          overflow-x: scroll;
          overflow-y: hidden;

          li {
            padding: 1rem;

            a {
              display: flex;
              align-items: center;

              img {
                width: auto;
                height: 1.5rem;
                margin-right: 1rem;
              }
            }

            &.ui-state-active {
              border-bottom: 2px solid var(--hdi-universal-green);
            }
          }
        }
      }
    }

    #sub-tabs {
      .component__heading {
        background-color: unset;

        ul {
          background-color: var(--hdi-light-green-10);

          @include phone-only {
            width: 100vw;
            margin-left: -2rem;
          }
        }
      }
    }
  }

  .tab--accordion-mb {
    display: none;
  }
}
