#block-hdi-portal-faqspopups {
  .component__view--categorias-documentos {
    h2.component__title {
      color: var(--hdi-universal-green);
      font-size: 2rem;
    }

    .component__content {
      .views-element-container {
        & > div {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: stretch;

          .views-row {
            flex-basis: 30%;
            display: flex;
            box-shadow: 1px 2px 5px var(--shadow);
            flex-direction: column;
            align-items: center;
            margin: 1rem 0px;
            padding: 2rem;
            border-radius: 3px;
            height: 14rem;
            justify-content: space-between;

            .card__img--oval {
              img {
                width: auto;
                height: 2.5rem;
              }
            }

            h3 {
              color: var(--hdi-universal-green);
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .documentos--lista {
    .viewsreference--view-title {
      text-align: center;
      margin-bottom: 2rem;

      h2 {
        font-size: 1.5rem;
      }
    }

    & > div:not(.viewsreference--view-title) {
      max-width: 80%;
      margin: 2rem auto 0;

      .views-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        margin-bottom: 1rem;

        a {
          font-size: 1rem;
        }
      }
    }
  }
}
