form, .view-filters {

  &:not(.view-filters) {
    margin: 2rem auto;
    text-align: center;
  }

  @include tablet-landscape-up {
    &:not(.glb-form, .medical-network-form, .view-filters, .webform-submission-form) {
      max-width: 30.8125rem !important;
    }
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .form-item:not(.form-type-radios, .form-type-checkbox) {
    margin: 0 auto 1.5rem auto;
    position: relative;
    width: 100%;

    label {
      color: var(--gray-50);
      display: inline-block;
      font-weight: normal;
      left: .7rem;
      padding-right: 4px;
      position: absolute;
      top: 1rem;
      transition: all 0.1s ease;
      vertical-align: top;
      z-index: 1;

      &.error {
        background-image: url(../../images/exclamation.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: .8rem;
        color: var(--hdi-red);
        font-size: .8rem;
        left: 0;
        padding-left: 1.3rem;
        position: absolute;
        top: -1.2rem;
      }
    }

    &.form__input--activo, &.form-type-date, &.form-type-webform-document-file {
      label:not(.error) {
        font-size: .8rem;
        top: .3rem;
      }

      select {
        color: var(--dark-blue-70);
      }
    }
  }

  .captcha {
    margin-bottom: 1.5rem;

    legend {
      display: none;
    }
  }

  .form-type-radios, .form-type-checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: center;
  }

  &.view-filters {
    .form-actions {
      display: none;
    }
  }
}
