input[type="text"]:not(.glb-form-text),
input[type="number"],
input[type="email"],
input[type="password"],
select:not(.glb-form-element),
textarea:not(.glb-form-element) {
  background-color: var(--white);
  border-radius: 3px;
  border: 1px solid var(--hdi-gray-50);
  display: inline-block;
  color: var(--dark-blue-70);
  padding: 1.5rem .7rem .5rem;
  position: relative;
  width: 100%;

  &:hover {
    border-color: var(--hdi-green-70);
  }

  &:active, &:focus {
    border-color: var(--hdi-green-70);
    border-width: 2px;
    outline: none;
  }

  &:disabled, &.disabled {
    background-color: var(--hdi-gray-30);
    border-color: var(--hdi-gray-50);
  }

  &.error, &:user-invalid {
    background-color: var(--hdi-red-10);
    border-color: var(--hdi-red-90);
  }
}

select:not(.glb-form-element) {
  padding-right: 2rem;
  background-image: url(../../images/select-down.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 1rem;

  &.select-cta {
    color: var(--dark-blue-70);
    padding: 1rem;
  }
}

input[type="checkbox"]:not(.glb-form-element) {
  appearance: none;
  background-color: var(--white);
  border: 1px solid var(--gray-50);
  border-radius: 2px;
  display: grid;
  font: inherit;
  height: 1.15em;
  margin: 0;
  place-content: center;
  transform: translateY(-0.075em);
  width: 1.5em;

  & + label {
    margin-left: .5rem;
    position: relative;
    top: 0;
  }

  &:hover {
    border-color: var(--hdi-universal-green);
  }

  &:focus {
    border-width: 2px;
  }

  &::before {
    content: "";
    background: transparent url(../../images/checkmark-on.svg) no-repeat center;
    height: .85em;
    transform: scale(0);
    width: .85em;
  }

  &:checked {
    &::before {
      transform: scale(1);
    }

    &:hover, &:focus {
      border-color: var(--hdi-universal-green);
    }
  }
}
