@use "scss/block";
@use "scss/form";
@use "scss/single_result";
@use "scss/pagination";
@use "scss/modal";
@use "scss/tabs";
@use "scss/preferential_help";
@use "scss/single_map";
@use "scss/tooltips";
@use "scss/error_form";
@use "scss/banner_footer";

html {
  scroll-behavior: smooth;

  &.is-modal {
    overflow: hidden;
  }

  .component__form--red-medica {
    min-height: 35rem;
    overflow-x: unset;
  }

  @media only screen and (max-width: 768px) {
    .hide-mobile {
      visibility: hidden;
      height: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
      width: 0 !important;
    }
  }
}