html {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: $hdi-gray-light;
}

body {
  background-color: clr(background);
  color: clr(text);

  @include body-copy;
}



*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  @include wrapper;

  display: block;
  padding: 0 2rem !important;
  margin-bottom: 42px !important;
}


.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.g-recaptcha {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

#edit-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
