body {
  color: var(--gray);
  font-family : var(--roboto-font);
  overflow-x: hidden;

  main {
    position: relative;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--gray);
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  h2 {
    color: var(--hdi-universal-green);
    font-family: var(--hdi-font);
    font-size: 2.0625rem;
    font-weight: 400;
  }

  h3 {
    color: var(--hdi-gray);
    font-family: var(--hdi-font);
    font-size: 1.17em;
    font-weight: bold;
    line-height: 1.59375rem;
  }

  a {
    color: var(--gray);
    font-size: .9rem;

    &:hover, &:visited, &:active {
      color: var(--gray);
    }
  }

  img {
    height: auto;
    max-width: 100%;
    padding: 0;
  }

  p {
    color: var(--gray);
    font-size: 1rem;
    line-height: 1.59375rem;
  }

  strong {
    font-weight: 500;
  }

  .is-hidden {
    display: none !important;
  }

  div[role="contentinfo"] {
    background-color: var(--hdi-light-blue-30);
    color: var(--blue-70);
    display: flex;
    padding: 1rem;
    width: 100%;

    em {
      color: var(--blue);
      padding: 0 1rem;
    }
  }

  .ajax-progress {
    background-color: #003960F2;
    background-image: url("../../images/loader.svg"), url('../../images/logo-loader.svg');
    background-size: 12.5rem, 6rem;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 100vh;
    left: 0;
    position: fixed !important;
    top: 0;
    width: 100vw;
    z-index: 10000;
  }

  .ajax_display {
    display: none;
  }
}
