.grid {
  display: grid;
  justify-items: center;

  &--col1 {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    justify-items: center;

    .card-service {
      @media (min-width: 720px) {
        min-width: 480px;
      }
    }
  }

  &--col2 {
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    @media (min-width: 720px) {
      grid-template-columns:repeat(2, 1fr);
      max-width: 1024px;
      margin: 0 auto;
    }
  }

  &--card {
    margin-bottom: 2rem;
  }

  &__item {
    flex: 1 1 100%;
    margin-bottom: 2rem;

    @media (min-width: 920px) {
      margin:0 2rem 0 0;
      flex-basis: 30%;
    }

    &:last-child {
      margin-right: 0;
    }

    &--example {
      background-color: var(--hdi-gray-30);
      padding: 4rem;
    }
  }
}
