@mixin phone-only {
  @media (max-width: 599px) { @content; }
}

@mixin tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}

@mixin desktop {
  @media (min-width: 1200px) { @content; }
}

@mixin big-desktop {
  @media (min-width: 1800px) { @content; }
}

.container {
  &--flex {
    display: block;

    @include tablet-landscape-up {
      align-items: center;
      display: flex;
    }

    &-between {
      justify-content: space-between;
    }

    &-around {
      justify-content: space-around;
    }

    &-center {
      align-items: center;
      justify-content: center;
    }

    &-row {
      flex-direction: row;
    }

    &-colum {
      flex-direction: column;
    }
  }

  &--mq {
    margin: auto;
    max-width: 1309px;
    padding-bottom: 1px;
    position: relative;
    width: 100%;
  }
}

.is-mobile {
  display: block;

  @media (min-width: 900px) {
    display: none !important;
  }
}

.is-desktop {
  display: none;

  @media (min-width: 900px) {
    display: block;
  }
}
