.accordion-term {
    padding-top: 2rem;

    &__tab1,
    &__tab2 {
        color: $color-primary;
        cursor: pointer;
        font-weight: 700;
        padding: 1.2rem 1rem;
        border-bottom: 1px solid $color-primary;
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center right;
        background-image: url(../images/icons/dropdown.svg);

        &.is-active {
            font-weight: 700;
            background-image: url(../images/icons/up.svg);
        }
    }

    &__content1,
    &__content2 {
        display: none;
        padding: 1rem 0;

        &.is-open {
            display: block;
        }
    }
}
