// CSS-only select styling (from https://github.com/filamentgroup/select-css)

.form-item__dropdown {
  display: block;
  position: relative;

  @media (prefers-color-scheme: dark) {
    background-color: clr(background-inverse);
  }
}

.form-item__select {
  padding: 1rem;
  max-width: 100%;
  width: 100%;
  border-radius: 4px;

  &:focus {
    border-color: clr(accent-high);
  }

  &::placeholder {
    color: $color-text-light;
  }
}

@supports (-webkit-appearance: none) or (appearance: none) or
  ((-moz-appearance: none) and (mask-type: alpha)) {
  /* Show custom arrow */
  .form-item__dropdown::after {
    display: block;
  }

  /* Remove select styling */
  // .form-item__select {
  //   padding-right: 2em; /* Match-01 */

  //   /* inside @supports so that iOS <= 8 display the native arrow */
  //   background: none; /* Match-04 */

  //   /* inside @supports so that Android <= 4.3 display the native arrow */
  //   border: 1px solid transparent; /* Match-05 */
  //   -webkit-appearance: none;
  //   -moz-appearance: none;
  //   appearance: none;

  //   &:focus {
  //     border-color: clr(accent);
  //     border-radius: 0;
  //   }
  // }

  .form-select {
    background-color: white;
    border: 1px solid $color-gray-border;
    padding: 1rem;
    max-width: 100%;
    width: 100%;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: .9rem;
    background-image: url(../images/icons/dropdown.svg);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;

    .form-item.active & {
      padding: 1.5rem 1rem .5rem;
    }

    &::-ms-expand {
      display: none;
    }
  
    &:focus {
      outline: none;
    }
  
    &::placeholder {
      color: $color-text-light;
    }
  }
}
