.header-white {
  /* background-color: #ffffff !important; */
  background-color: #ffffff !important;
}

.header-blue {
  /* background-color: #1a1446 !important; */
  background-color: #ffffff !important;
}

.header-yellow {
  /* background-color: #ffd000 !important; */
  background-color: #ffffff !important;
}

.header-orange {
  /* background-color: #ff6600 !important; */
  background-color: #ffffff !important;
}

.nodisplay {
  display: none !important;
}
