.header-white {
  background-color: #ffffff !important;
}

.header-blue {
  background-color: #ffffff !important;
}

.header-yellow {
  background-color: #ffffff !important;
}

.header-orange {
  background-color: #ffffff !important;
}

.nodisplay {
  display: none !important;
}
