// CSS-only select styling (from https://github.com/filamentgroup/select-css)

.form-item__dropdown {
  border: 1px solid clr(text-white-atmosphere);
  display: block;
  position: relative;

  &::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid clr(secondary);
    content: ' ';
    position: absolute;
    top: 42%;
    right: 1em;
    z-index: 2;

    /* These hacks make the select behind the arrow clickable in some browsers */
    pointer-events: none;
    display: none;
  }

  &:hover {
    border-color: clr(gray-5);
  }
}
@supports (-webkit-appearance: none) or (appearance: none) or
  ((-moz-appearance: none) and (mask-type: alpha)) {
  /* Show custom arrow */
  .form-item__dropdown::after {
    display: block;
  }

  /* Remove select styling */
  .form-item__select {
    padding-right: 2em; /* Match-01 */

    /* inside @supports so that iOS <= 8 display the native arrow */
    background: none; /* Match-04 */

    /* inside @supports so that Android <= 4.3 display the native arrow */
    border: 1px solid transparent;/* Match-05 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      border-color: clr(blue-90);
      border-radius: 1rem;

      @include medium(){
        border-radius: 0;
      }
    }
  }
}


.form-item--disabled{

  .form-item__label {
    color: clr(gray-5);
    font-weight: 800;

    &:hover {
      color: clr(gray-5);
    }
  }

  .form-item__select {
    background-color: clr(gray-5);
    opacity: .5;
    pointer-events: none;

    &:hover,
    &:focus {
      border-color: clr(gray-5);
      border-radius: 1rem;
    }
  }
  .form-item__icon .form-item__icon-round-arrow-right-icon .round-arrow-right-icon {
    stroke: clr(gray-5);
  }
}
.form-item__select {
  border: 1px solid clr(gray-5);
  height: 3rem; // set height required for discrepancy between .form-item__dropdown border and the select :focus border
  font-size: 0.8125rem;
  margin: 0;
  outline: none;
  padding: 14px 1rem;
  max-width: 100%;
  border-radius: 1rem;
  position: relative;
  width: 100%;
  color: clr(text-dark);
  padding-right: 2.3rem;

  @include medium(){
    border: none;
    border-bottom: 1px solid clr(gray-5);
    border-radius: 0;
  }

  &::placeholder {
    color: clr(gray-5);

    @include medium(){
      border-radius: 0;
    }
  }

  &:hover {
    border-color: clr(blue-90);
    ~.form-item__icon .form-item__icon-round-arrow-right-icon .round-arrow-right-icon {
        stroke: clr(blue-90);
    }

    @include medium(){
      border-radius: 0;
    }
  }

  &:disabled {
    background-color: clr(gray-5);
    opacity: .5;
    pointer-events: none;

    @include medium(){
      border-radius: 0;
    }
  }



  :focus {
    outline: none;
    color: clr(yellow);

    @include medium(){
      border-radius: 0;
    }
  }
}

.form-item__dropdown--select {
  display: flex;
  justify-content: end;
}

.form-item__icon {
  position: absolute;
  display: flex;
  z-index: 1;
  width: ($space-16*2)+$space-24;
  height: 100%;

  &--events{
    pointer-events: none;
  }

  button{
    background: none;
    border: none;
    padding: 0;
  }

  &-round-arrow-right-icon {
    height: $space-24;
    width: $space-24;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .round-arrow-right-icon{
    stroke: clr(gray-dark);
    display: flex;
    width: $space-16;
    height: $space-16;
    transform: rotate(90deg);
  }
}


