{#
/**
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
<div class="text">
	<h1>Bienvenido</h1>

	<p>Más de 100 años de experiencias en el mundo de los seguros</p>
	
	<h3>Oferta válida solo para Usuarios del Banco BBVA</h3>

	<h2>Auto Plus</h2>
	
</div><!--end .text-->
