<div id="liberty-error-message" class="liberty-form-query__message liberty-form">
  <div class="liberty-form-message liberty-form-message--{{ type|default('info') }}">
    <span class="liberty-form__heading">{{ heading }}:</span>
    <span class="liberty-form__summary">{{ summary }}</span>
  </div>
</div>
