@import '../mixins/responsive.scss';

.alias--pagos {
  .ui-widget-content a {
    color: initial;
  }

  .ui-tabs-tab {
    .normal-tab {
      a {
        color: var(--gray);
      }
    }
  }

  .columns__formas-de-pago {
    .component__heading {
      .component__subtitle {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }

    & > .component__content {
      margin-top: 2rem;

      .cog--mq {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: space-evenly;

        .component__column {
          border: 1px solid var(--gray-30);
          flex-grow: 1;
          padding: 1.5rem;
          box-shadow: 0px 4px 8px var(--shadow);
          border-radius: 3px;

          .section__content-inner {
            display: flex;
            flex-direction: column;
            align-items: center;

            .block__card-image {
              img {
                display: block;
                margin: 0 auto 1rem;
                height: 2rem;
                width: auto;
              }
            }

            h3 {
              color: var(--hdi-universal-green);
              font-size: 1.125rem;
              font-weight: normal;
            }
          }
        }
      }
    }
  }

  .tabs__formas-de-pago {
    .ui-tabs .ui-tabs-panel {
      padding: 1rem 0 0;
    }

    .component__cards {
      &:not(.card-list--beneficios) {
        .component__heading {
          .component__title {
            margin-top: -3rem;
          }
          .component__subtitle {
            font-size: 1.5rem;
            font-weight: 400;
          }
        }

        .component__content {
          .cog--items {
            flex-direction: row;
            gap: 3rem;
            justify-content: space-evenly;
            margin-top: 1.5rem;

            .component__card {
              border: 1px solid var(--gray-30);
              flex-grow: 1;
              padding: 1.5rem;
              box-shadow: 0px 4px 8px var(--shadow);
              border-radius: 3px;
              display: flex;
              flex-direction: column;
              align-items: center;

              &.card--logo {
                flex-grow: 0;
                flex-basis: 20%;
                height: 9rem;
                display: grid;
                place-content: center;

                .card__img--oval {
                  border: none;
                  background-color: unset;
                  margin: unset;
                  border-radius: 0;
                  height: 100%;
                  width: 100%;
                }
              }
            }
          }
        }
      }

      &.card-list--beneficios {
        margin-top: -3rem;
        padding: 1rem 0 5rem;

        .component__content {
          .cog--items {
            gap: 2rem;
          }
        }
      }
    }

    .component__acordeon {
      padding: 2rem 0;

      .component__title {
        color: var(--hdi-universal-green);
        font-family: var(--hdi-font);
        font-size: 1.75rem;
        font-weight: 500;
        text-align: center;
      }

      .component__subtitle {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 1.5rem 0;
      }

      .cog--items {
        .js-accordion-row {
          border-radius: 3px;
          box-shadow: 0 2px 8px 0 var(--shadow);
          background-color: var(--white);
          margin: 0 0 1rem;
          padding: 0px;
          cursor: pointer;

          .js-accordion {
            background-color: var(--white);
            padding: 0.7rem 1rem;
            border: 1px solid var(--hdi-gray-40);
            background-image: url(../../images/icon-question.svg);
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: 20px center;
            padding-left: 4rem;
            font-size: 1rem;
            position: relative;

            h3 {
              font-family: var(--hdi-font);
              color: var(--gray);
              font-weight: 400;
            }

            .icon-arrow {
              display: block;
              background-image: url(../../images/menu-dropown.svg);
              background-size: 14px;
              background-position: center;
              width: 2.25rem;
              height: 2.225rem;
              background-repeat: no-repeat;
              align-self: center;
              background-color: var(--white);
              position: absolute;
              right: 0.625rem;
              top: 8px;
            }
          }

          .js-accordion-options {
            .option {
              padding: 0 0 1rem;

              @include tablet-landscape-up {
                padding: 1rem 1rem 1rem 4rem;
              }
            }
          }
        }
      }
    }

    .banner--hero {
      .cp-banner__image {
        height: 530px;
        overflow: hidden;
      }

      .banner--container {
        position: absolute;
        width: 100%;
        top: 0;
        height: 100%;

        .cp-banner__heading {
          border-radius: 5px;
          position: absolute;
          top: 50%;
          width: 30%;
          transform: translateY(-50%);
          left: 2rem;
          background-color: var(--white);
          flex-basis: 35%;
          padding: 2.5rem;
          height: auto;

          .c__title {
            margin-bottom: 0;
            font-size: 2rem;
            font-weight: normal;
            text-align: center;
          }
        }
      }
    }
  }

  .component__lista {
    .component__content {
      .cog--items {
        border-radius: 3px;
        padding: 1.5rem;

        .component__item-lista {
          font-size: 1rem;
          display: flex;
          padding: 0.5rem;

          img {
            width: 20px;
            margin-right: 1rem;
            height: fit-content;
          }
        }
      }
    }
  }

  .canales-pago {
    .payment-row {
      margin-bottom: 5rem;

      @include tablet-landscape-up {
        display: block;
        margin-bottom: 2.5rem;
      }
    }

    .payment-channel {
      text-align: center;

      .option__image {
        display: none;
      }

      h3 {
        color: var(--hdi-universal-green);
        font-family: var(--hdi-font);
        font-size: 2rem;
      }
    }

    .payment-options {
      width: 100%;

      @include tablet-landscape-up {
        flex-wrap: wrap;
      }

      .option {
        width: 9.6875rem;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--hdi-gray-40);
        padding: 1rem;
        border-radius: 3px;
        margin: 0.625rem 0.625rem 1.5rem;
        align-items: center;
        white-space: break-spaces;

        @include tablet-landscape-up {
          width: 30%;
          margin: 1rem;
        }

        .option__image {
          display: inline-block;
          padding: 0.5rem;
          min-height: 3.75rem;
          border-radius: 10px;
          border: 1px solid rgba(26, 20, 70, 0.2);
          text-align: center;
          margin-bottom: 0.625rem;
        }
      }
    }
  }
}
