.component__block--siniestros-promocional {
  background-color: var(--white);

  @media only screen and (max-width: 979px) {
    padding: 2rem 0 3rem 0;
  }

  .component__content {
    .cog--mq {
      &.single_text_class {
        margin-bottom: 2rem;
        text-align: center;

        a {
          color: var(--hdi-gblue-80);
          padding-right: 1.5rem;
          position: relative;
          font-size: 1rem;

          &::after {
            content: " ";
            background-image: url(../images/elements-icon-glyph-arrow-right-green.svg);
            background-repeat: no-repeat;
            background-position: center center;
            height: 1rem;
            position: absolute;
            right: 0;
            top: 0.15rem;
            width: 1rem;
          }
        }
      }
    }

    .block-content--view-mode-promocional-siniestros {
      display: flex;
      margin: auto;
      width: 70%;
      padding: 3.75rem 0 5.875rem 0;
      align-items: center;

      @media only screen and (max-width: 979px) {
        background-color: var(--white);
        width: 90%;
        box-shadow: 0 2px 8px 0 var(--shadow);
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 2rem;
      }

      .button--primary {
        @media only screen and (max-width: 979px) {
          margin-bottom: 0;
          margin-top: 1.25rem;
        }
      }

      .field--type-content {
        margin: 0 2rem;
      }

      img {
        max-width: 5rem;
        min-width: 5rem;
      }
    }
  }
}

.component__block--siniestros-lineas {
  background-color: var(--white);
  padding-top: 4rem;
  margin-bottom: 0;
  text-align: center;

  @media only screen and (max-width: 979px) {
    margin-bottom: 3rem;
  }

  h2 {
    margin-bottom: 0;
  }

  .lead {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    font-weight: 300;
  }

  .block--attention-lines {
    display: flex;
    background-color: var(--white);
    padding: 1.5rem;
    box-shadow: 0px 3px 8px var(--shadow);
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: var(--hdi-blue-80);
    font-size: 2.5rem;
    white-space: nowrap;

    @media only screen and (max-width: 979px) {
      display: block;
      text-align: center;
      margin-bottom: 0;
    }

    .field__label {
      font-size: 1rem;
      color: var(--gray);
    }

    span {
      color: var(--dark-blue-70);
      font-size: 1rem;
      padding-left: 2.5rem;
      margin-bottom: 0.5rem;

      @media only screen and (max-width: 979px) {
        padding-left: 0;
        display: block;
        margin-bottom: 0;
      }
    }

    .field {
      @media only screen and (max-width: 979px) {
        margin-bottom: 1rem;
      }

      &:first-child {
        p {
          padding-left: 4.2rem;

          @media only screen and (max-width: 979px) {
            padding-left: 0;
          }
        }

        .field__label {
          padding-left: 4.2rem;

          @media only screen and (max-width: 979px) {
            padding-left: 0;
          }
        }
      }

      &:last-child {
        p {
          border-right: none;
        }
      }
    }
  }

  .field--name-field-operadores {
    display: none;
  }
}

.component__block--siniestros-lineas-asis {
  background-color: var(--white);
  padding: 2rem 0 3rem 0;

  .block--attention-lines {
    display: inline-flex;
    background-color: var(--white);
    padding: 1.5rem;
    box-shadow: 0px 3px 8px var(--shadow);
    border-radius: 5px;
    margin-left: 5rem;
    text-align: center;

    @media only screen and (max-width: 979px) {
      display: block;
    }

    p {
      color: var(--dark-blue-70);
      font-size: 2rem;
      padding: 0.5rem 2.5rem;
      margin: 0;
      border-right: 1px solid var(--hdi-gray-30);

      @media only screen and (max-width: 979px) {
        border-right: none;
        padding-right: 0;
        padding-left: 0;
        line-height: 3rem;
      }
    }

    span {
      color: var(--dark-blue-70);
      font-size: 1rem;
      padding-left: 2.5rem;
      margin-bottom: 0.5rem;

      @media only screen and (max-width: 979px) {
        padding-left: 0;
        display: block;
        margin-bottom: 0;
      }
    }
  }
}



@media only screen and (max-width: 979px) {
  .component__block--siniestros-lineas-asis .block--attention-lines .field {
    margin-bottom: 1rem;
  }
}

.component__block--siniestros-lineas-asis .block--attention-lines .field:first-child p {
  padding-left: 3.5rem;
}

@media only screen and (max-width: 979px) {
  .component__block--siniestros-lineas-asis .block--attention-lines .field:first-child p {
    padding-left: 0;
  }
}

.component__block--siniestros-lineas-asis .block--attention-lines .field:first-child span {
  padding-left: 0;
}

@media only screen and (max-width: 979px) {
  .component__block--siniestros-lineas-asis .block--attention-lines .field:first-child span {
    padding-left: 0;
  }
}

.component__block--siniestros-lineas-asis .block--attention-lines .field:nth-child(2) span {
  padding-left: 0;
  padding-right: 11.5rem;
}

@media only screen and (max-width: 979px) {
  .component__block--siniestros-lineas-asis .block--attention-lines .field:nth-child(2) span {
    padding-right: 0;
  }
}

.component__block--siniestros-lineas-asis .block--attention-lines .field:nth-child(3) span {
  padding-left: 0;
  padding-right: 8rem;
}

@media only screen and (max-width: 979px) {
  .component__block--siniestros-lineas-asis .block--attention-lines .field:nth-child(3) span {
    padding-right: 0;
  }
}

.component__block--siniestros-lineas-asis .block--attention-lines .field:last-child p {
  border-right: none;
}

.component__block--siniestros-lineas-asis .block--attention-lines .field--name-field-operadores {
  display: none;
}


.component__tabs--documentos-requeridos {
  padding: 4rem 0 0 0;
}

.component__tabs--documentos-requeridos h2 {
  margin-bottom: 0.5rem;
}

.component__tabs--documentos-requeridos .lead {
  font-size: 1.25rem;
  margin-bottom: 3rem;
  text-align: center;
}

@media only screen and (max-width: 979px) {
  .component__tabs--documentos-requeridos .lead {
    margin: 2rem 1rem 1rem;
  }
}

.component__tabs--documentos-requeridos .component__content .documents_requiered_tabs .component__heading .cog--mq .slick-prev::before,
.component__tabs--documentos-requeridos .component__content .documents_requiered_tabs .component__heading .cog--mq .slick-next::before {
  width: 20px;
  height: 20px;
  content: "";
  display: block;
  background-size: 685%;
  border-bottom: 2px solid #1a1446;
  border-right: 2px solid #1a1446;
}

.component__tabs--documentos-requeridos .component__content .documents_requiered_tabs .component__heading .cog--mq .slick-prev {
  left: -2rem;
}

@media only screen and (max-width: 979px) {
  .component__tabs--documentos-requeridos .component__content .documents_requiered_tabs .component__heading .cog--mq .slick-prev {
    left: -1.3rem;
    top: 50%;
  }
}

.component__tabs--documentos-requeridos .component__content .documents_requiered_tabs .component__heading .cog--mq .slick-prev::before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.component__tabs--documentos-requeridos .component__content .documents_requiered_tabs .component__heading .cog--mq .slick-next {
  right: -2rem;
}

@media only screen and (max-width: 979px) {
  .component__tabs--documentos-requeridos .component__content .documents_requiered_tabs .component__heading .cog--mq .slick-next {
    right: -2.2rem !important;
    top: 50%;
  }
}

.component__tabs--documentos-requeridos .component__content .documents_requiered_tabs .component__heading .cog--mq .slick-next::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.component__tabs--documentos-requeridos .sub-tab__container {
  width: 100%;
}

.component__tabs--documentos-requeridos .sub-tab__content {
  width: 100%;
  margin: 0px;
}

.component__tabs--documentos-requeridos .sub-tab__content li {
  counter-increment: unset;
  list-style: none;
  color: #1a1446;
}

@media screen and (min-width: 979px) {
  .component__tabs--documentos-requeridos .sub-tab__content li {
    text-indent: -1.7rem;
    padding-left: 1.7rem;
  }
}

.component__tabs--documentos-requeridos .sub-tab__content li:before {
  content: "a";
  width: 22px;
  color: transparent;
  background-image: url(../../images/checkmark-on.svg);
  background-size: 22px;
  display: inline-block;
}

.component__tabs--documentos-requeridos #block-tabsdocumentosrequeridos .component__heading {
  box-shadow: -1px 6px 8px -5px var(--shadow);
  z-index: 1000;
  position: relative;
}

@media only screen and (max-width: 979px) {
  .component__tabs--documentos-requeridos #block-tabsdocumentosrequeridos .component__heading {
    display: block;
  }
}
