@import '../mixins/responsive.scss';

.cp-tabs {
  & > .cog--flex {
    border-bottom: 1px solid var(--gray-10);
    justify-content: center;

    &:not(.is-desktop) {
      margin: 2rem 0 4rem;
    }

    &.header-tabs {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      position: sticky;
      top: 0;
      z-index: 1500;
      margin: 1rem auto 0;

      &.ui-tabs-nav {
        position: relative;
        margin: 2rem 0 4rem;
        border-bottom: 1px solid var(--gray-10);
      }

      @include tablet-landscape-up {
        flex-direction: row;
      }

      @include phone-only {
        display: inline-block;
      }

      li {
        @include phone-only {
          padding: 1rem 1rem 0;
        }

        a {
          padding: 1.5rem 3rem;

          @include phone-only {
            padding: 1rem;
          }

          &.active {
            font-weight: 500;
          }
        }
      }

      &.fixed {
        background: var(--white);

        @include phone-only {
          flex-direction: row;
        }
      }
    }
  }
}
