@import '../mixins/responsive.scss';

.cp-tabs {
  & > .cog--flex {
    border-bottom: 1px solid var(--gray-10);
    justify-content: center;

    &:not(.is-desktop) {
      margin: 2rem 0 4rem;
    }

    .header-tabs {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;

      @include tablet-landscape-up {
        flex-direction: row;
      }

      @include phone-only {
        display: inline-block;
      }

      li {
        @include phone-only {
          padding: 1rem 1rem 0;
        }

        a {
          padding: 1.5625rem 0;

          @include phone-only {
            padding: 1rem 0;
          }

          &.active {
            font-weight: 500;
          }
        }
      }

      &.fixed {
        background: var(--white);
        position: fixed;
        top: 0;
        z-index: 1;

        @include phone-only {
          flex-direction: row;
        }

        li {
          padding: 1rem;
        }
      }

      .slick-track {

      }
    }
  }
}
