.cp-tabs {
  & > .cog--flex {
    border-bottom: 1px solid var(--gray-10);
    justify-content: center;
    margin: 2rem 0 4rem;

    .header-tabs {
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      li {
        a {
          padding: 1.5625rem 0;

          &.active {
            font-weight: 500;
          }
        }
      }

      &.fixed {
        background: var(--white);
        position: fixed;
        top: 0;
        z-index: 1;
      }
    }
  }
}
