#block-hdi-portal-pqrsalesforceform {
  h2 {
    text-align: center;
  }

  .tool-tip {
    background-image: url(./assets/Icon-Help.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem;
    height: 1rem;
    right: -2rem;
    top: 0;
    width: 1rem;
    position: absolute;
  }

  .form-type-radios {
    p {
      position: relative;
    }

    .radios {
      align-items: center;
      display: flex;
      flex-basis: 35%;
      justify-content: space-between;
    }

    input[type="radio"] {
      border: 1px solid var(--gray-70);
      display: grid;
      height: 1.25rem;
      margin-left: 2rem;
      place-content: center;
      width: 1.25rem;

      &:hover, &:focus {
        border-color: var(--hdi-universal-green);
      }

      &:focus {
        border-width: 2px;
      }

      &::before {
        content: "";
        width: .65em;
        height: .65em;
        border-radius: 50%;
        transform: scale(0);
        box-shadow: inset 1em 1em var(--gray-70);
      }

      &:checked {
        &::before {
          transform: scale(1);
        }

        &:hover, &:focus {
          border-color: var(--hdi-universal-green);
        }
      }
    }

    input[type="radio"] {
      border-radius: 100%;
    }
  }

  .form-type-checkbox {
    label {
      span {
        color: var(--hdi-light-blue);
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  hr {
    border: 1px solid var(--gray-30);
    margin-bottom: 1.5rem;
  }

  #dialog, #confirmation {
    border-radius: 5px;
    margin: auto;
    max-width: 44rem;
    padding: 4rem 2rem 2rem;
    text-align: center;

    &::backdrop {
      background-color: var(--overlay);
    }

    .close {
      background-image: url(./assets/close.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      height: 1rem;
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 1rem;
    }

    h3 {
      color: var(--hdi-universal-green);
      font-size: 1.5rem;
    }

    p {
      margin: 1.5rem 0;
    }
  }

  #confirmation {
    padding-top: 2rem;

    img {
      display: block;
      margin: 1rem auto;
      width: 5rem;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    h4 {
      font-family: var(--hdi-font);
      font-size: 1.5rem;

      span {
        color: var(--hdi-light-blue);
      }
    }


    .dialog-footer {
      background-color: var(--hdi-yellow);
      margin: 1rem -2rem;
      padding: 2rem;

      h5 {
        color: var(--hdi-universal-green);
      }

      ul {
        display: block;
        margin: 1rem auto 0;
        width: 10rem;

        li {
          font-size: .75rem;
          position: relative;
          text-align: left;

          &::before {
            content: "";
            background-image: url(./assets/icon-phone.svg);
            background-repeat: no-repeat;
            background-position: center left;
            background-size: contain;
            height: 1.3rem;
            left: -2rem;
            position: absolute;
            top: 1rem;
            width: 1.5rem;
          }

          &.whatsapp {
            &::before {
              background-image: url(./assets/icon-whatsapp.svg);
            }
          }

          span {
            color: var(--gray-70);
            display: block;
            font-family: var(--hdi-font);
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }
    }
  }

  .form-upload-files {
    background-color: var(--gray-20);
    margin-left: calc((-100vw + 100%) / 2);
    padding: 2rem 0;
    width: 100vw;

    h3 {
      color: var(--gray);
      font-weight: 400;
      max-width: 30rem;
      margin: 0 auto 1.5rem;
    }

    .container {
      background-color: var(--white);
      background-image: url(./assets/clip-files.svg);
      background-position: center 2rem;
      background-repeat: no-repeat;
      background-size: 3.75rem;
      border: 1px dashed var(--gray);
      border-radius: 3px;
      margin: 0 auto;
      max-width: 48.4375rem;
      padding: 7rem 1rem 1rem;

      span {
        font-size: .75rem;
      }

      p {
        span {
          color: var(--hdi-light-blue);
          cursor: pointer;
          font-size: 1rem;
          text-decoration: underline;
        }
      }
    }

    .uploaded-files {
      background-color: var(--white);
      border: 1px solid var(--gray-40);
      border-radius: 3px;
      margin: 1.5rem auto 0;
      max-width: 48.4375rem;
      padding: 1rem;
      text-align: left;

      h4 {
        color: var(--hdi-green);
      }

      ul {
        li {
          align-items: center;
          border: 1px solid var(--gray-40);
          border-left: 3px solid var(--hdi-universal-green);
          border-radius: 5px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-left: 4rem;
          margin-top: .5rem;
          padding: 0 .5rem;
          position: relative;

          &::before {
            content: "";
            background-image: url(./assets/icon-document.svg);
            background-position: center left;
            background-repeat: no-repeat;
            background-size: 1.5rem;
            border-right: 1px solid var(--hdi-universal-green);
            height: 3rem;
            padding-right: 1rem;
            position: absolute;
            left: -4rem;
            width: 2.5rem;
          }

          p {
            &.name {
              color: var(--hdi-light-blue);
              text-decoration: underline;

              span {
                text-decoration: none;
              }
            }

            &:nth-child(1) {
              flex-basis: 50%;
            }

            &:nth-child(2) {
              flex-basis: 20%;
            }

            span {
              color: var(--gray-50);
              display: block;
              font-size: .75rem;
              font-weight: 400;
            }
          }

          button {
            border: unset;
            background-image: url(./assets/icon-trash.svg);
            background-color: unset;
            background-size: contain;
            color: transparent;
            font-size: 0;
            padding: 1rem;
            width: 1rem;
          }
        }
      }
    }
  }

  .recaptcha {
    display: grid;
    margin: 1rem auto;
    place-content: center;
  }

  .form-actions {
    margin-top: 2rem;
  }

  .loading {
    background-color: var(--overlay);
    background-image: url(./assets/loader.svg), url(./assets/logo-loader.svg);
    background-size: 12.5rem, 6rem;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 15;
  }

  .react-tooltip {
    z-index: 100;
  }
}
