<div class="text-examples">
	{% include "themes/custom/hdi_portal/templates/new-components/components/atoms/text/headings/_heading.twig" with {
    heading_level: 1,
    heading: "Tipografía"
  } %}

<div class="heading-example">
	<h1 class="h1 heading-bg">Aa</h1>
	<h1 class="h1">H1</h1>
	<div>
		<p class="paragraph">Roboto</p>
		<p class="paragraph">Size 48px</p>
	</div>
</div>
<div class="heading-example">
	<h2 class="h2 heading-bg">Aa</h2>
	<h2 class="h2">H2</h2>
	<div>
		<p class="paragraph">Roboto</p>
		<p class="paragraph">Size 40px</p>
	</div>
</div>
<div class="heading-example">
	<h3 class="h3 heading-bg">Aa</h1>
	<h3 class="h3">H3</h3>
	<div>
		<p class="paragraph">Roboto</p>
		<p class="paragraph">Size 32px</p>
	</div>
</div>
<div class="heading-example">
	<h4 class="h4 heading-bg">Aa</h4>
	<h4 class="h4">H4</h4>
	<div>
		<p class="paragraph">Roboto</p>
		<p class="paragraph">Size 24px</p>
	</div>
</div>
<div class="heading-example">
	<h5 class="h5 heading-bg">Aa</h5>
	<h5 class="h5">H5</h5>
	<div>
		<p class="paragraph">Roboto</p>
		<p class="paragraph">Size 16px</p>
	</div>
</div>
<div class="heading-example">
	<p class="paragraph heading-bg">Aa</h6>
	<p class="paragraph">Body</h6>
	<div>
		<p class="paragraph">Roboto</p>
		<p class="paragraph">Size 16px</p>
	</div>
</div>

</div>




