.forms {
    &__body {
        font-size: .9rem;

        .forms__box & {
            color: $color-primary;
            font-weight: 500;
            font-size: 1.125rem;
        }
    }

    &__box {
        text-align: center;
        max-width: 420px;
        margin: 0 auto;
    }

    &__icon {
        max-width: 96px;
        margin: 0 auto;

        svg {
            width: 96px;
            height: auto;
        }
    }

    form {
        padding: 2rem 0;
        font-size: .95rem;
    }

    .button {
        margin-top: 1rem;
    }
}

.login-form-content {
    max-width: 420px;
    margin: 2rem auto 0;

    @include medium {
        margin: 6rem auto 7rem;
    }

    @include xl {
        margin: 7rem auto 8rem;
    }

    @include xxl {
        margin: 11rem auto;
    }
}

.welcome-text {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.3;
}

.form-item {
    position: relative;
}

label {
    display: inline-block;
    position: absolute;
    color: #565656;
    font-weight: normal;
    top: 10px;
    left: 1rem;
    padding-right: 4px;
    vertical-align: top;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    z-index: 1;

    &:not(.error) {
        color: #939393;
        font-weight: 300;
        top: initial;
        bottom: 7px;
        font-size: 0.9rem;

        .form-item.active & {
            font-size: .7rem;
            bottom: 20px;
        }
    }

    &.error {
        color: $color-error;
        font-size: .8rem;
        position: relative;
        top: initial;
        left: 0;

        &::before {
            content: " ";
            background-image: url(../images/icons/error.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 14px;
            height: 26px;
            width: 26px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -2px;
        }
    }
}

.item-label-transition {
    background: white;
    width: 45%;

    @include medium {
        width: 40%;
    }
}
