<<<<<<< HEAD
/*.disabled{*/
    /*background-color: lightgray;*/
/*}*/

/*.form-item-field-product-type-target-id{
    text-align: center;
}

div.form-item-field-product-type-target-id > label{
    display: block;
    font-family: Roboto;
    font-size: 38px;
    margin-bottom: 20px;
    color: #1a1446;
}

div.form-item-field-product-type-target-id select[name="field_product_type_target_id"]{
    width: 491px;
    height: 45px;
    border-radius: 5px;
    background-color: #ffffff;
}*/

input[name="button-filter-product-type"]{
    display:none !important;
}
/*.paragraph--type--cards{*/
    /*background-color: #F5F5F5;*/
/*}*/
/*.paragraph--type--cards .field--name-field-field-c-title{*/
    /*width: 965px;*/
    /*height: 44px;*/
    /*font-family: Roboto;*/
    /*font-size: 38px;*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: normal;*/
    /*letter-spacing: normal;*/
    /*text-align: center;*/
    /*margin-bottom: 30px;*/
/*}*/
/*.paragraph--type--cards > .field--name-field-card-item.field__items{*/
    /*display: flex;*/
    /*justify-content: space-around;*/
/*}*/

/*div.field--name-taxonomy-term-title > h3{*/
    /*width: 220px;*/
    /*height: 21px;*/
    /*font-family: Roboto;*/
    /*font-size: 18px;*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: normal;*/
    /*letter-spacing: normal;*/
    /*text-align: center;*/
    /*color:#006675;*/
/*}*/
/*div.field--name-taxonomy-term-title > h6{*/
    /*width: 160px;*/
    /*height: 16px;*/
    /*font-family: Roboto;*/
    /*font-size: 14px;*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: normal;*/
    /*letter-spacing: normal;*/
    /*text-align: center;*/
    /*color:#006675;*/
/*}*/
/*div.field--name-description > p{*/
    /*width: 220px;*/
    /*height: 19px;*/
    /*font-family: Roboto;*/
    /*font-size: 16px;*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: normal;*/
    /*letter-spacing: normal;*/
    /*text-align: center;*/
    /*color: #7e7e7e;*/
/*}*/

/*div.views-row div.field--name-description > p{*/
    /*font-size: 14px;*/
/*}*/

/*.field--name-field-agreement-number{*/
    /*width: 160px;*/
    /*height: 16px;*/
    /*font-family: Roboto;*/
    /*font-size: 14px;*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: normal;*/
    /*letter-spacing: normal;*/
    /*text-align: center;*/
    /*color: #1a1446;*/
/*}*/
/*.field--name-field-screenshot{*/
    /*width: 130px;*/
    /*height: 60px;*/
    /*border-radius: 6px;*/
    /*background-color: #ffffff;*/
/*}*/

/*.row{*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
/*}*/
/*.col-md-8{*/
    /*flex-basis: 66.66667%;*/
    /*max-width: 66.66667%;*/
/*}*/

/*.col-md-4{*/
    /*flex-basis: 33.33333%;*/
    /*max-width: 33.33333%;*/
/*}*/
/*.col-md-3{*/
    /*flex-basis: 25%;*/
    /*max-width: 25%;*/
/*}*/

/*!*Estilos testimonio paragraph*!*/

/*.field--name-field__testimony-item.field__items{*/
    /*display: flex;*/
    /*justify-content: space-between;*/
/*}*/
/*.field--name-field-field-c-title{*/
    /*width: 961px;*/
    /*height: 48px;*/
    /*font-family: Roboto;*/
    /*font-size: 40px;*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: 1.2;*/
    /*letter-spacing: normal;*/
    /*color: #1a1446;*/
/*}*/
/*.field--name-field-heading{*/
    /*width: 300px;*/
    /*height: 21px;*/
    /*font-family: Roboto;*/
    /*font-size: 18px;*/
    /*font-weight: bold;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: normal;*/
    /*letter-spacing: normal;*/
    /*color: #1a1446;*/
/*}*/
/*.field--name-field-lead{*/
    /*width: 300px;*/
    /*height: 64px;*/
    /*font-family: Roboto;*/
    /*font-size: 14px;*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*font-stretch: normal;*/
    /*line-height: normal;*/
    /*letter-spacing: normal;*/
    /*color: #565656;*/
/*}*/
/*.field--name-field-user{*/
    /*color: #28a3af;*/
/*}*/
/*.field--name-field-date{*/
    /*color: #a1a1a1;*/
/*}*/
=======
input[name="button-filter-product-type"] {
  display: none !important;
}

div#\30 0n4a00000fkwrc--description {
  font-size: 0.9rem !important;
}

.component__tabs--sinister-notice .cog--mq {
  display: flex;
  flex-direction: column;
  align-items: center;
}
>>>>>>> main
