input[name="button-filter-product-type"] {
  display: none !important;
}

div#\30 0n4a00000fkwrc--description {
  font-size: 0.9rem !important;
}

.component__tabs--sinister-notice .cog--mq {
  display: flex;
  flex-direction: column;
  align-items: center;
}
