<div class="button-examples">
	{% include "themes/custom/liberty_public/templates/new-components/components/atoms/text/headings/_heading.twig" with {
    heading_level: 1,
    heading: "Botones",
    heading_modifiers: ['hero']
  } %}
  <div class="button-example">
    <div class="button-container">
      <div class="button__item">
        {% include "themes/custom/liberty_public/templates/new-components/components/atoms/text/headings/_heading.twig" with {
          heading_level: 3,
          heading: "Small",
        } %}
        <button class="button button--small">Button</button>
        <p class="paragraph">Height: 36px</p>
        <p class="paragraph">Corner radius: 25px</p>
        <p class="paragraph">Text: 16px</p>
      </div>
      <div class="button__item">
        {% include "themes/custom/liberty_public/templates/new-components/components/atoms/text/headings/_heading.twig" with {
          heading_level: 3,
          heading: "Medium",
        } %}
        <button class="button">Button</button>
        <p class="paragraph">Height: 44px</p>
        <p class="paragraph">Corner radius: 25px</p>
        <p class="paragraph">Text: 16px</p>
      </div>
      <div class="button__item">
        {% include "themes/custom/liberty_public/templates/new-components/components/atoms/text/headings/_heading.twig" with {
          heading_level: 3,
          heading: "Large",
        } %}
        <button class="button button--large">Button</button>
        <p class="paragraph">Height: 50px</p>
        <p class="paragraph">Corner radius: 25px</p>
        <p class="paragraph">Text: 16px</p>
      </div>
    </div>
  </div>
  <div class="button-example">
    {% include "themes/custom/liberty_public/templates/new-components/components/atoms/text/headings/_heading.twig" with {
      heading_level: 3,
      heading: "Alpha",
    } %}
    <div class="button-container">
      <div class="button__item">
        <button class="button button--alpha button--small">Default</button>
      </div>
      <div class="button__item">
        <button class="button button--alpha">Default</button>
      </div>
      <div class="button__item">
        <button class="button button--alpha button--large">Default</button>
      </div>
    </div>
    <br>
    <div class="button-container">
      <div class="button__item">
        <button class="button button--small" disabled>Default</button>
      </div>
      <div class="button__item">
        <button class="button" disabled>Default</button>
      </div>
      <div class="button__item">
        <button class="button button--large" disabled>Default</button>
      </div>
    </div>
    <br>
  </div
  <br>
  <div class="button-example">
    {% include "themes/custom/liberty_public/templates/new-components/components/atoms/text/headings/_heading.twig" with {
      heading_level: 3,
      heading: "Primario",
    } %}
    <div class="button-container">
      <div class="button__item">
        <button class="button button--small">Default</button>

      </div>
      <div class="button__item">
        <button class="button">Default</button>
      </div>
      <div class="button__item">
        <button class="button button--large">Default</button>
      </div>
    </div>
    <br>
    <div class="button-container">
      <div class="button__item">
        <button class="button button--small" disabled>Default</button>
      </div>
      <div class="button__item">
        <button class="button" disabled>Default</button>
      </div>
      <div class="button__item">
        <button class="button button--large" disabled>Default</button>
      </div>
    </div>
  </div>
  <br>
  <div class="button-example">
    {% include "themes/custom/liberty_public/templates/new-components/components/atoms/text/headings/_heading.twig" with {
      heading_level: 3,
      heading: "Secundario",
    } %}
    <div class="button-container">
      <div class="button__item">
        <button class="button button--secondary button--small">Default</button>
      </div>
      <div class="button__item">
        <button class="button button--secondary">Default</button>
      </div>
      <div class="button__item">
        <button class="button button--secondary button--large">Default</button>
      </div>
    </div>
    <br>
    <div class="button-container">
      <div class="button__item">
        <button class="button button--small" disabled>Default</button>
      </div>
      <div class="button__item">
        <button class="button" disabled>Default</button>
      </div>
      <div class="button__item">
        <button class="button button--large" disabled>Default</button>
      </div>
    </div>
  </div>
</div>
