.color-green {
	color: #65a518;
}

.color-gray {
	color: #333333;
}

.color-hdi-gray {
	color: #6e6e6e;
}

.color-dark-blue {
	color: #1a1446;
}

.color-blue {
	color: #0f5381;
}

.color-hdi-blue {
	color: #003960;
}

.color-hdi-light-blue {
	color: #00a3a8;
}

.color-hdi-green {
	color: #006729;
}

.color-hdi-red {
	color: #e60018;
}

.color-hdi-yellow {
	color: #fffaf2;
}




