{{ attach_library('lib_v2_core/libraries') }}
{{ attach_library('lib_v2_text_warning/libraries') }}

<div class="lib-comp-textwarning">
    <div class="lib-comp-textwarning__icon">{{content.field_lib_v2_image_icon}}</div>
    <div class="lib-comp-textwarning__text">{{content.field_lib_v2_text}}</div>
</div>
