{{ attach_library('lib_v2_core/libraries') }}
{{ attach_library('lib_v2_text_box/libraries') }}
<div class="lib-comp-textbox">
	<div class="lib-comp-textbox__title">{{content.field_lib_v2_text_box_title}}</div>
	<div class="lib-comp-textbox__summary">{{content.field_lib_v2_text_box_desc}}</div>
</div>
