<div class="terms-modal-wrap">
	<div class="terms-modal-overlay">
		<div class="terms-modal-box">
			<div class="terms-modal-close">
				Cerrar
			</div>

      {% include directory ~ "/templates/fields/_field-wysiwyg.twig" %}

      </div>
    </div>
  </div>
</div>
