{% if not attributes %}
<div class="form-item">
  <label for="select" class="form-item__label form-item__label--required form-item__label--textfield">{{select_label}}</label>
  <div class="form-item__dropdown form-item__dropdown--select">
    <select class="form-item__select">
    {% if optgroup %}
      <optgroup label="Whatever">
    {% endif %}
{% endif %}
  {% block options_select %}\
        {% for selection in select %}
          {% include "@atoms/forms/select/_select-item.twig" with {
            select_item: selection.title,
            select_value: selection.value,
            select_selected: selection.selected
          } %}
        {% endfor %}
  {% endblock %}
{% if not attributes %}
    {% if optgroup %}  
      </optgroup>
    {% endif %}
    </select>

    {% if icon_name %}
    <div class="form-item__icon form-item__icon--events">
      <button class="form-item__icon-round-arrow-right-icon">
        {% include "themes/custom/liberty_public/templates/new-components/components/atoms/images/icons/_icon.twig" with {
          icon_base_class: 'round-arrow-right-icon',
          icon_name: 'Round-arrow-right',
        } %}       
      </button>
    </div>
    
    {% endif %}
    
  </div>
</div>
{% endif %}
