:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #333333;
  --gray-80: #404040;
  --gray-70: #565656;
  --gray-50: #707070;
  --gray-40: #cccccc;
  --gray-30: #e8e8e8;
  --gray-20: #f0f0f0;
  --gray-10: #f5f5f5;
  --hdi-gray: #6e6e6e;
  --hdi-gray-50 : #9d9d9d;
  --hdi-gray-40: #c6c6c6;
  --hdi-gray-30: #e6e6e6;
  --hdi-gray-10: #fcfcfc;
  --dark-blue: #1a1446;
  --dark-blue-70: #343741;
  --dark-blue-50: #323744;
  --blue: #0f5381;
  --blue-70: #1b74b1;
  --blue-50: #8fd0fc;
  --blue-30: #5fb0e8;
  --hdi-blue: #003960;
  --hdi-blue-70: #4c748f;
  --hdi-blue-50: #7f9caf;
  --hdi-blue-30: #b2c3cf;
  --hdi-light-blue: #00a3a8;
  --hdi-light-blue-70: #4cbec2;
  --hdi-light-blue-50: #7fd1d3;
  --hdi-light-blue-30: #b2e3e5;
  --hdi-green: #006729;
  --hdi-green-70: #009c49;
  --hdi-light-green: #4fbf97;
  --hdi-light-green-10: #e5f5ec;
  --hdi-universal-green: #65a518;
  --hdi-universal-green-70: #93c05d;
  --hdi-universal-green-50: #b2d28b;
  --hdi-universal-green-30: #d0e4b9;
  --hdi-red: #e60018;
  --hdi-red-90: #e92243;
  --hdi-red-10: #fff4f5;
  --hdi-yellow: #fffaf2;
  --shadow: #00000029;
  --overlay: #003960f2;
}
