@font-face {
  font-family: Roboto;
  src: url('//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
}

@font-face {
  font-family: hdi;
  src: url("../../fonts/HDI-GerlingSans-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: hdi;
  src: url("../../fonts/HDI-GerlingSans-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: hdi;
  src: url("../../fonts/HDI-GerlingSans-Light.otf") format("opentype");
  font-weight: light;
}

@font-face {
  font-family: hdi;
  src: url("../../fonts/HDI-GerlingSans-Light.otf") format("opentype");
  font-weight: light;
}
