@import '../mixins/responsive.scss';

body {
  font-family : var(--roboto-font);
  overflow-x: hidden;

  main {
    position: relative;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--gray);
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  h2 {
    color: var(--hdi-universal-green);
    font-family: var(--hdi-font);
    font-size: 2rem;
    font-weight: 500;

    @include tablet-landscape-up {
      font-size: 2.5rem;
    }
  }

  h3 {
    color: var(--hdi-gray);
    font-family: var(--hdi-font);
    font-size: 1.17em;
    font-weight: bold;
    line-height: 1.59375rem;
  }

  a {
    color: var(--gray);
    font-size: .9rem;

    &:hover, &:active {
      color: var(--gray);
    }
  }

  img {
    height: auto;
    max-width: 100%;
    padding: 0;
  }

  p {
    color: var(--gray);
    font-size: 1rem;
    line-height: 1.59375rem;
  }

  strong {
    font-weight: 500;
  }

  .is-hidden {
    display: none !important;
  }

  div[role="contentinfo"] {
    background-color: var(--hdi-light-blue-30);
    color: var(--blue-70);
    display: flex;
    padding: 1rem;
    width: 100%;

    em {
      color: var(--blue);
      padding: 0 1rem;
    }
  }

  .is-fixed-global {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: var(--overlay);
    overflow-y: scroll;

    .modal-link-fallback-popup {
      background-color: var(--white);
      border-radius: 8px;
      left: 50%;
      max-width: 1003px;
      overflow: hidden;
      padding: 2rem 3rem;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      width: 100%;

      @include phone-only {
        width: 95% !important;
      }

      .modal-close {
        width: 90vw;

        @include tablet-landscape-up {
          width: 60vw;
        }

        &::after {
          background-image: url(../../images/close.svg);
          background-repeat: no-repeat;
          background-size: contain;
          content: "";
          cursor: pointer;
          height: 1.1rem;
          position: absolute;
          right: 2rem;
          top: 2rem;
          width: 1.1rem;
        }
      }

      .modal-img {
        background-image: url(../../images/alter_icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 7rem;
        margin: 0 auto;
        width: 7rem;
      }

      p {
        color: var(--gray);
        font-size: 1.1rem;
        font-weight: normal;
      }
    }
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .ui-widget-content a {
    color: unset;
  }

  .bg-content--light-blue .component__content .cog--items,
  .bg-component--light-blue {
    background-color: var(--hdi-yellow);
  }
}
