@import '../mixins/responsive.scss';

body {
  font-family : var(--roboto-font);
  overflow-x: hidden;

  main {
    position: relative;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--gray);
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  h2 {
    color: var(--hdi-universal-green);
    font-family: var(--hdi-font);
    font-size: 2rem;
    font-weight: 500;

    @include tablet-landscape-up {
      font-size: 2.5rem;
    }
  }

  h3 {
    color: var(--hdi-gray);
    font-family: var(--hdi-font);
    font-size: 1.17em;
    font-weight: bold;
    line-height: 1.59375rem;
  }

  a {
    color: var(--gray);
    font-size: .9rem;

    &:hover, &:active {
      color: var(--gray);
    }
  }

  img {
    height: auto;
    max-width: 100%;
    padding: 0;
  }

  p {
    color: var(--gray);
    font-size: 1rem;
    line-height: 1.59375rem;
  }

  strong {
    font-weight: 500;
  }

* {
  scrollbar-width: thin;
  scrollbar-color: var(--hdi-light-blue-70) var(--hdi-light-blue-70);
}

/* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: var(--white);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--hdi-light-blue-70);
    border-radius: 20px;
    border: 1px solid var(--hdi-light-blue-70);
  }

  .is-hidden {
    display: none !important;
  }

  div[role="contentinfo"] {
    background-color: var(--hdi-light-blue-30);
    color: var(--blue-70);
    display: flex;
    padding: 1rem;
    width: 100%;

    em {
      color: var(--blue);
      padding: 0 1rem;
    }
  }

  .is-fixed-global {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: var(--overlay);
    overflow-y: scroll;

    .modal-link-fallback-popup {
      background-color: var(--white);
      border-radius: 8px;
      left: 50%;
      max-width: 1003px;
      overflow: hidden;
      padding: 2rem 3rem;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      width: 100%;

      @include phone-only {
        width: 95% !important;
      }

      .modal-close {
        width: 90vw;

        @include tablet-landscape-up {
          width: 60vw;
        }

        &::after {
          background-image: url(../../images/close.svg);
          background-repeat: no-repeat;
          background-size: contain;
          content: "";
          cursor: pointer;
          height: 1.1rem;
          position: absolute;
          right: 2rem;
          top: 2rem;
          width: 1.1rem;
        }
      }

      .modal-img {
        background-image: url(../../images/alter_icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 7rem;
        margin: 0 auto;
        width: 7rem;
      }

      p {
        color: var(--gray);
        font-size: 1.1rem;
        font-weight: normal;
      }
    }

  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .ui-widget-content a {
    color: unset;
  }

  .bg-content--light-blue .component__content .cog--items,
  .bg-component--light-blue {
    background-color: var(--hdi-yellow);
  }

  #block-hdi-portal-citasmedicaspopup .citas-medicas-popup {
    background-color: var(--white);
    border-radius: 8px;
    left: 50%;
    max-width: 45rem;
    overflow: hidden;
    padding: 2rem 3rem;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 100%;

    .modal-close{
      background-image: url(../../images/close.svg);
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      cursor: pointer;
      height: 1.1rem;
      position: absolute;
      right: 2rem;
      top: 2rem;
      width: 1.1rem;
      }


    .header .header-img {
      background-image: url(../../images/search-popup.svg);
      background-repeat: no-repeat;
      height: 5.5rem;
      margin: 1rem 0rem 0rem 16.5rem;
    }

    .header h2 {
      margin: 0.5rem 0rem 0rem 12rem;
      font-size: 1.5rem;
      color: var(--hdi-universal-green);
    }

    .post-header {
      width: 80%;
      margin: 2rem 4rem;
      h3{
        color: var(--gray);
        font-size: 1rem;
        font-weight: 100;
        text-align: center;
      }
    }

    .post-button{
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0.5rem;
      margin: 0rem 0rem 0rem 3rem;

      .container-button-left{
        margin: 0rem;
      }

      .container-button-right{
        margin-left: 1.5rem;
      }

      .button.button-left{
        background-color: var(--white);
        border-color: var(--hdi-gray);
        color:var(--gray);
        width: 160%;
        text-align: center;

          &:hover {
            background-color: var(--white);
            border-color: var(--hdi-gray);
            color: var(--gray);
        }
      }

      .button.button-right{
        background-color: #65A518;
        border-color: var(--hdi-gray);
        color:var(--white);
        width: 95%;
        text-align: center;

          &:hover {
            background-color: #006729;
            border-color: var(--hdi-universal-green);
            color: var(--white);
        }

          &::before {
            content: "";
            position: absolute;
            background-image: url(../../images/whatsapp-popup.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 1.5rem;
            height: 1.2rem;
            z-index: 100;
            margin-left: -1.6rem;
          }
      }

    }

    .text-button-left{
      font-size: 0.7rem;
      margin: -0.5rem;
    }

    .text-button-right{
      font-size: 0.7rem;
      margin: 1.4rem;
    }

    .post-warning{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
      width: 90%;
      margin: 1rem 0rem 0rem 3rem;

      &::before {
        content: "";
        position: absolute;
        background-image: url(../../images/bell-popup.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 1.5rem;
        height: 1.3rem;
        z-index: 100;
        margin-left: -0.6rem;
      }

      .container-warning{
        border: 2px solid #b85d00;
        display: block;
        border-left-width: 2rem;
        padding-left: 0.7rem;
        position: relative;
        padding-top: 0.5rem;
        margin-top: 1rem;
        margin-left: -1rem;

        .warning-text{
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
    }

    .container-footer{
      width: 116%;
      margin: 1.5rem 0rem -2rem -3rem;
      padding-bottom: 1rem;
      padding-top: 0.1rem;
      background-color: #f5f5f5;
      .container-footer-first {
        margin: 1rem 0rem 0rem 9rem;
        .footer-text-first{
          margin: 2rem 0rem 0rem 10rem;
        }
      }
      .container-footer-second {
        margin: 0rem 0rem 0rem 10rem;
        .footer-text-tel{
          color: #00a3a8;
          font-weight: 600;
        }
      }
    }

    @include phone-only {
      width: 90% !important;
      background-color: var(--white);
      border-radius: 8px;
      left: 50%;
      max-width: 20rem;
      overflow: hidden;
      padding: 1rem 1rem;
      position: fixed;
      transform: translate(-50%, -50%);
      top: 50%;
      width: 100%;

      .modal-close{
        background-image: url(../../images/close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        cursor: pointer;
        height: 1.1rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 1.1rem;
        }

        .header .header-img {
          background-image: url(../../images/search-popup.svg);
          background-repeat: no-repeat;
          height: 5.5rem;
          margin: 1rem 0rem 0rem 6.5rem;
        }

        .header h2 {
          width: 60%;
          text-align: center;
          margin: 0.5rem 0rem 0rem 4rem;
          font-size: 1.5rem;
          color: var(--hdi-universal-green);
        }

        .post-header {
          width: 85%;
          margin: 2rem 1.5rem;
          h3{
            color: var(--gray);
            font-size: 1rem;
            font-weight: 100;
            text-align: center;
          }
        }

        .post-button{
          width: 70%;
          //display: contents;
          justify-content: space-around;
          align-items: center;
          gap: 0.5rem;
          flex-direction: column; /* Los coloca en columna */
          align-items: stretch;

          .container-button-left{
            margin: -1rem 7rem 2rem -3.5rem;
            order: 2;
          }

          .container-button-right{
            margin: 0rem -1rem 2rem -1.5rem;
            order: 1;
          }

          .button.button-left{
            background-color: var(--white);
            border-color: var(--hdi-gray);
            color:var(--hdi-gray);
            margin-left: 2rem;

              &:hover {
                background-color: var(--hdi-universal-green);
                border-color: var(--hdi-universal-green);
                color: var(--white);
            }
          }

        }

        .text-button-left{
          font-size: 0.7rem;
          margin: 1.5rem;
        }

        .text-button-right{
          font-size: 0.7rem;
          margin: 3.4rem;
        }

        .post-warning{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 2rem;
          width: 83%;
          margin: 1rem 0rem 0rem 2rem;

          &::before {
            content: "";
            position: absolute;
            background-image: url(../../images/bell-popup.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 1.4rem;
            height: 4rem;
            z-index: 1000;
            margin-left: -0.6rem;
          }

          .container-warning{
            border: 2px solid #b85d00;
            display: block;
            border-left-width: 2rem;
            padding-left: 0.7rem;
            position: relative;
            padding-top: 0.5rem;
            margin-top: 1rem;
            margin-left: -1rem;

            .warning-text{
              font-size: 0.8rem;
              line-height: 1.5rem;
            }
          }
        }

        .container-footer{
          width: 116%;
          margin: 1.5rem 0rem -1rem -1.5rem;
          padding-bottom: 1rem;
          padding-top: 0.1rem;
          background-color: #f5f5f5;
          .container-footer-first {
            margin: 1rem 0rem 0rem 2.5rem;
            .footer-text-first{
              margin: 2rem 0rem 0rem 5rem;
            }
          }
          .container-footer-second {
            margin: 0rem 0rem 0rem 3rem;
            .footer-text-second{
              margin: 0rem 1rem 0rem 2rem;
            }
            .footer-text-tel{
              color: #00a3a8;
              font-weight: 600;
              margin: 0rem 3rem 0rem 0rem;
            }
            .footer-text-second & .footer-text{
              margin: 1rem;
            }
          }
        }
    }

    .modal-img {
      background-image: url(../../images/alter_icon.svg);
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      height: 7rem;
      margin: 0 auto;
      width: 7rem;
    }

    p {
      color: var(--gray);
      font-size: 1.1rem;
      font-weight: normal;
    }
  }
}
