@import '../mixins/responsive.scss';

.cog {
  &--flex {
    display: block;

    @include tablet-landscape-up {
      align-items: center;
      display: flex;
    }
  }

  &--flex-between {
    display: flex;
    justify-content: space-between;
  }

  &--flex-center {
    display: flex;
    align-items: center;
  }

  &--mq {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 1px;
    position: relative;
    width: 90%;

    @include tablet-landscape-up {
      margin: auto;
      max-width: 1053px;
      width: 100%;
    }
  }
}

.is-mobile {
  display: block;

  @include phone-only {
    display: none !important;
  }
}

.is-desktop {
  display: none;

  @include tablet-landscape-up {
    display: block;
  }
}
