@import '../mixins/responsive.scss';

.cog {
  &--flex {
    display: flex;
    flex-direction: column;

    @include tablet-landscape-up {
      align-items: center;
      flex-direction: row;
    }
  }

  &--flex-between {
    display: flex;
    justify-content: space-between;
  }

  &--flex-center {
    display: flex;
    align-items: center;
  }

  &--mq {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 1px;
    position: relative;
    width: 90%;

    @include tablet-landscape-up {
      margin: auto;
      max-width: 1053px;
      width: 100%;
    }
  }
}

.is-hidden {
  display: none;
}

.is-mobile {
  display: inherit;

  @include tablet-landscape-up {
    display: none !important;
  }
}

.is-desktop {
  display: none;

  @include tablet-landscape-up {
    display: inherit !important;
  }
}

.is-visible {
  display: inherit !important;
}
