

<div class="logo">
    <div class="logo__logo">
        {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'logo'
        } %}
    </div>
    <div class="logo__iso">
    {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'iso'
    } %}
    </div>
    <div class="logo__vertical">
    {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'logov'
    } %}
    </div>
    <div class="logo__slogan">
       {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/text/headings/_heading.twig" with {
            heading_level: 2,
            heading: logo_slogan,
            heading_modifiers: ['slogan']
        } %}
    </div>
</div>


<div class="logo logo--blue">
    <div class="logo__logo">
        {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'logo'
        } %}
    </div>
    <div class="logo__iso">
    {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'iso'
    } %}
    </div>
    <div class="logo__vertical">
    {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'logov'
    } %}
    </div>
    <div class="logo__slogan">
       {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/text/headings/_heading.twig" with {
            heading_level: 2,
            heading: logo_slogan,
            heading_modifiers: ['slogan']
        } %}
    </div>
</div>

<div class="logo logo--no-slogan">
    <div class="logo__logo">
        {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'logo'
        } %}
    </div>
    <div class="logo__iso">
    {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'iso'
    } %}
    </div>
    <div class="logo__vertical">
    {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'logov'
    } %}
    </div>
    <div class="logo__slogan">
        {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/text/headings/_heading.twig" with {
            heading_level: 2,
            heading: logo_slogan,
            heading_modifiers: ['slogan']
        } %}
    </div>
</div>

<div class="logo logo--slogan-label">
    <div class="logo__logo">
        {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'logo'
        } %}
    </div>
    <div class="logo__iso">
    {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'iso'
    } %}
    </div>
    <div class="logo__vertical">
    {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'logov'
    } %}
    </div>
    <div class="logo__slogan">
        {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/text/headings/_heading.twig" with {
            heading_level: 2,
            heading: logo_slogan,
            heading_modifiers: ['slogan']
        } %}
    </div>
</div>

<div class="logo logo--iso">
    <div class="logo__logo">
        {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'logo'
        } %}
    </div>
    <div class="logo__iso">
    {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'iso'
    } %}
    </div>
    <div class="logo__vertical">
    {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'logov'
    } %}
    </div>
    <div class="logo__slogan">
        {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/text/headings/_heading.twig" with {
            heading_level: 2,
            heading: logo_slogan,
            heading_modifiers: ['slogan']
        } %}
    </div>
</div>

<div class="logo logo--vertical">
    <div class="logo__logo">
        {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'logo'
        } %}
    </div>
    <div class="logo__iso">
    {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'iso'
    } %}
    </div>
    <div class="logo__vertical">
    {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'logov'
    } %}
    </div>
    <div class="logo__slogan">
        {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/text/headings/_heading.twig" with {
            heading_level: 2,
            heading: logo_slogan,
            heading_modifiers: ['slogan']
        } %}
    </div>
</div>

<div class="logo logo--50">
    <div class="logo__logo">
        {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'logo'
        } %}
    </div>
    <div class="logo__iso">
    {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'iso'
    } %}
    </div>
    <div class="logo__vertical">
    {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'logov'
    } %}
    </div>
    <div class="logo__50">
        {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/images/icons/_icon.twig" with {
            icon_name: 'iso-50',
            icon_modifiers: ['blue']
        } %}
    </div>
    <div class="logo__slogan">
        {% include "themes/custom/hdi_portal/templates/new-components/components/atoms/text/headings/_heading.twig" with {
            heading_level: 2,
            heading: logo_slogan,
            heading_modifiers: ['slogan']
        } %}
    </div>
</div>
