.form-item--checkbox__item {
  @include list-reset;
  display: flex;
  gap: $space-16;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &__label {
    display: flex;
    align-items: center;
    gap: $space-12;
  }

  &__checkbox {
    appearance: none;
    color: clr(teal);
    width: 1.125rem;
    height: 1.125rem;
    border: 0.125rem solid clr(teal);
    border-radius: 0.125rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: '';
      width: 0.65em;
      height: 0.65em;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      background-color: #ffffff;
    }

    &:checked::before {
      transform: scale(1.5);
      clip-path: polygon(
        44% 68%,
        79% 20%,
        93% 28%,
        74% 55%,
        48% 90%,
        33% 79%,
        12% 64%,
        22% 51%
      );
    }

    &:disabled {
      cursor: not-allowed;
      border-color: clr(gray-4);

      &:checked {
        background-color: clr(gray-4);
      }
    }

    &:checked {
      background-color: clr(teal);
    }

    &--gray {
      border-color: clr(text-dark);

      &:checked {
        border-color: clr(teal);
      }
    }
  }
}

.input-wrapper-flex {
  .form-item {
    display: flex;
    align-items: center;
  }
}

.form-item--checkboxes {
  @extend .form-item--checkbox__item;
}
