&--cifras {
  .component__heading {
    h2 {
      font-size: 2rem;
    }
  }

  .component__content {
    .cog--flex {
      align-items: stretch;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;

      .component__card {
        text-align: center;

        .card__img--oval {
          height: 5rem;
          width: 5rem;

          svg {
            left: calc(50% - 1.25rem);
            top: calc(50% - 1.25rem);
            width: 2.5rem;
          }
        }

        h3 {
          color: var(--hdi-universal-green);
          font-size: 2.8125rem;
          font-weight: 500;
          margin: 2rem 0;
        }
      }
    }
  }

  .component__footer {
    margin: 1.5rem 0 2.5rem;
    text-align: center;

    a {
      background-image: url(../../images/arrow-down.svg);
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 0.87rem;
      color: var(--hdi-green);
      display: inline-block;
      font-size: 1rem;
      padding-right: 1.5rem;
    }
  }
}
