@import '../../mixins/responsive.scss';

&--cifras {
  .component__heading {

    h2 {
      font-size: 2rem;


      @include phone-only {
        font-size: 1.6rem;
        letter-spacing: 0px;
        padding-left: 2rem;
        padding-right: 2rem;
        hyphens: manual;
      }
    }
  }

  .component__content {
    .cog--flex {
      .slick-list {
        width: 100%;

        .slick-track {
          display: flex;

          .component__card {
            text-align: center;

            .card__img--oval {
              height: 5rem;
              width: 5rem;

              svg {
                left: calc(50% - 2rem);
                top: calc(50% - 1.25rem);
                width: 4rem;
              }
            }

            @include phone-only {
              p {
                padding: 0 7.5rem 0 7.5rem;
                font-size: 0.8rem;
                line-height: 1.5rem;
              }
            }

            h3 {
              color: var(--hdi-universal-green);
              font-size: 2.8125rem;
              font-weight: 500;
              margin: 2rem 0;
            }
          }
        }
      }
    }
  }

  .component__footer {
    margin: 1.5rem 0 2.5rem;
    text-align: center;

    a {
      background-image: url(../../images/arrow-down.svg);
      background-position: right center;
      background-repeat: no-repeat;
      background-size: 0.87rem;
      color: var(--hdi-green);
      display: inline-block;
      font-size: 1rem;
      padding-right: 1.5rem;
      margin-top: 2rem;

      @include phone-only {
        font-size: 0.8rem;
        font-weight: 300;
      }

      @include tablet-landscape-up {
        margin-top: 0;
      }
    }
  }

  &.components__cards--colombia-somos {
    background-color: var(--hdi-yellow);
    padding-top: 2rem;

    .component__heading {
      h2 {
        padding-bottom: 2rem;
      }
    }

    .component__content {
      .slick-list {
        background-color: var(--white);
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 5px;
      }
    }
  }
}
