&--cifras {
  .component__content {
    .cog--flex {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;

      .component__card {
        text-align: center;

        .card__img--oval {
          height: 5rem;
          width: 5rem;

          svg {
            left: calc(50% - 1.25rem);
            top: calc(50% - 1.25rem);
            width: 2.5rem;
          }
        }

        h3 {
          color: var(--hdi-universal-green);
          font-size: 2.8125rem;
          font-weight: 500;
          margin: 2rem 0;
        }
      }
    }
  }
}
