&.hdi-tools {
  .cog--items {
    align-items: center;
    justify-content: space-evenly;

    @include phone-only {
      gap: 1rem;
    }

    .component__card {
      border-radius: 8px;
      box-shadow: 0px 0px 12px var(--shadow);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1.5rem;
      text-align: center;
      align-items: center;
      cursor: pointer;

      @include phone-only {
        width: 100%;
      }

      &:hover {
        background-color: var(--hdi-light-green-10);
      }

      .card__img--oval {
        border: none;
        height: 5rem;
        margin: 0 0 1rem;
        background-color: unset;
      }

      .field__items {
        a {
          color: var(--hdi-green);
          font-family: var(--hdi-font);
          font-size: 1.125rem;
          width: 7rem;

          &.hdi--cargo {
            width: 4rem;
          }
        }

      }
    }
  }
}
