&.component__cards--informes {

  a {
    color: var(--hdi-light-blue);
    padding-left: 1.5rem;
    position: relative;

    &::before {
      background-image: url(../../images/download-outline.svg);
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      height: 1rem;
      left: 0;
      position: absolute;
      width: 1rem;
    }
  }

  .field--name-field-item-reports {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .component__card {
      border-radius: 3px;
      box-shadow: 0px 3px 6px var(--shadow);
      flex-basis: 31%;
      margin-bottom: 1rem;
      overflow: hidden;

      .component__heading {
        padding: 1.5rem;

        h2 {
          color: var(--gray);
          font-size: 1.25rem;
          margin-bottom: 1.5rem;
        }

        p {
          &.lead {
            font-size: .875rem;
          }
        }
      }

      .component__content {
        background-color: var(--gray-10);
        height: 100%;

        .component__heading {
          padding: 1.5rem;
        }

        .component__documents {
          .component__content {
            padding: 1.5rem;
            padding-top: 0;

            .file {
              display: block;
              margin-bottom: .5rem;

              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  .field--name-field-files {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1.5rem 0;

    .file {
      flex-basis: 100%;
    }
  }
}
