&.components__cards--valores {
  padding-top: 1rem;

  .component__content {
    .cog--flex {
      .component__card {
        flex-basis: 20%;
        min-height: 12rem;
        text-align: center;

        .card__img--oval {
          align-items: center;
          display: flex;
          height: 4rem;
          justify-content: center;
          margin-bottom: 1rem;
          width: 4rem;

          svg {
            position: relative;
            width: 2rem;
          }
        }

        p {
          font-size: .875rem;
        }
      }
    }
  }
}
