{#
  Plantilla Twig para el formulario de ingreso personalizado.
#}
{{ attach_library('lib_login_corredores/lib_login_corredores_css') }}
<div id="container-login" class="container-login">
  <div class="content-login">
    <h2>¡Bienvenido a Liberty al día!</h2>
    <span>Tu conexión con la información.</span>
    <span>Ingresa y mantente al día con las</span>
    <span>novedades de Liberty Seguros</span>
    {{ form }}
  </div>
  <div class="image-login">
    <img src='/modules/custom/lib_login_corredores/images/banner.png' alt="Banner">
  </div>
</div>