.component__single-text {
  padding-bottom: 1.5rem;

  &:last-of-type {
    padding-bottom: 0;
  }

  &.single-text-button {
    text-align: center;
    padding-top: 2.563rem;
    padding-bottom: 3.031rem;
  }

  .component__heading {
    h2 {
      text-align: center;
    }
  }

  .component__content {
    .single_text_class {
      h2 {
        text-align: center;
        margin-bottom: 1.5rem;
      }

      p {
        &.quote {
          font-size: 1.5rem;
          font-weight: 300;
          margin: 1.5rem auto;
          text-align: center;
          width: 60%;
        }
      }
    }
  }

  @import './single_text_cotiza.scss';
  @import './single_text_interesado.scss';
  @import './single_text_responsabilidad.scss';
}