&--interesado--external {
  background-color: var(--hdi-yellow);
  padding: 2rem 0;

  .component__content {
    display: flex;
    flex-direction: column;
    text-align: center;

    p:first-of-type {
      font-size: 1.25rem;
      padding: 1rem 0;

      img {
        margin-bottom: 2rem;
        width: 3rem;
      }
    }

    h6 {
      font-weight: bolder;
      margin-top: 2rem;
    }
  }
}

&--cotizar-seguro {
  padding: 1rem 3rem;
  .component__content {
    padding: 1rem 2rem 4rem;
    align-items: center;
    p:first-of-type {
      font-size: 1.125rem;
      padding: 0 0 1rem;
    }

    h6 {
      margin: 3rem 0;
    }

    img {
      width: 2.583rem;
      height: 2.629rem;
    }
  }
}
