@import '../../mixins/responsive.scss';

&--responsabilidad {
  .single_text_class {
    p:not(.quote) {
      font-weight: lighter;
      margin: 1rem 0 2rem;
    }

    h3 {
      color: var(--hdi-green);
      font-size: 1.25rem;
      text-align: center;
    }

    div {
      .tarjeta {
        align-items: center;
        display: flex;
        margin-top: 1.5rem ;

        @include phone-only {
          flex-direction: column;
          justify-content: space-evenly;
          box-shadow: 0px 3px 6px #00000029;
          padding: 7%;
        }

        .image {
          flex-basis: 30%;
        }

        .content {
          flex-basis: 70%;

          h4 {
            font-weight: bolder;

            @include phone-only {
              font-size: 1.2rem;
            }
          }

          p {
            font-weight: normal;

            @include phone-only {
              font-weight: 300;
              font-size: 1.2rem;
              line-height: 1.9rem;
            }

            a {
              color: var(--hdi-light-blue);

              @include phone-only {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
}

