&--interesado--external {
  background-color: var(--hdi-yellow);
  padding: 2rem 0;

  .component__content {
    display: flex;
    flex-direction: column;
    text-align: center;

    p:first-of-type {
      font-size: 1.25rem;
      padding: 1rem 0;

      img {
        margin-bottom: 2rem;
        width: 3rem;
      }
    }

    h6 {
      font-weight: bolder;
      margin-top: 2rem;
    }
  }
}
