.search-form {

    display: flex;
    border-radius: 0.438rem;
    padding: 1px;
    width: 100%;
    max-width: 620px;
    position: relative;

    @include box-shadow( 0px ,0px, 12px, rgba(0, 0, 0, 0.25));

    &__input{
      flex: 1;
      position: relative;

      input{
        height: 3rem;
        border-radius: 0.438rem 0 0 0.438rem;
        border: 1px solid clr(gray-light);
        padding: 0 $space-48 0 $space-16;
        width: 100%;
        font-size: 0.9rem;

        &:focus{
          background-image: none;
        }
      }


    }

    &__search{
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        right: $space-16;
        display: flex;

       .icon{
        height: 1rem;
        width: 1rem;
      }
    }

    &__button {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      background-color: clr(teal);
      border-radius: 0 0.438rem 0.438rem 0 ;
      z-index: 10;
      padding: 0 $space-8;
      color: $white;
      cursor: pointer;
      height: 3rem;
      width: 2rem;

      label{
        display: none;
        font-size: 0.9rem;

        @include medium {
          display: block;
          margin-right: 2rem;

        }
      }

      @include box-shadow( 0px ,0px, 12px, rgba(0, 0, 0, 0.25));

      @include medium {
        padding: 0 $space-16;
        width: auto;
      }
    }


    &__select {

      @include medium {
        position: relative;
      }

    }

    &__options {

      @include box-shadow( 0px ,0px, 12px, rgba(0, 0, 0, 0.25));
      position: absolute;
      width: 100%;
      background-color: clr(text-white);
      left: 0;
      bottom: 0;
      border-radius: 0 0 0.438rem 0.438rem;
      color: clr(gray-component);
      visibility: hidden;
      transition: all 0.2s;
      z-index: 9;
      opacity: 0;

      .search-form__select--show &{
        visibility: visible;
        transform: translateY(100%);
        opacity: 1;
      }

    }

    &__option {
      display: block;
      color: clr(gray-body);
      padding: $space-12 $space-8;
      font-size: 0.825rem;
      cursor: pointer;

      &:hover {
          color: clr(gray-title);
          background-color: clr(background-gray);
          width: 100%;
          font-weight: bold;
      }

      @include large {
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          padding-left:  18px;
          padding-right:  18px;
          line-height: 12.89px;
      }
    }

    &__icon{
      width: 12px;


      .icon--arrow{
        display: none;
        height: 12px;
        width: 12px;
      }

      .icon--close{
        display: block;
        height: 12px;
        width: 12px;
      }
    }

    .search-form__select--show{
      .icon--arrow{
        display: block;
      }

      .icon--close{
        display:none;
      }
    }
}
