.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  background: #fff;
  padding: 10px;
  text-align: center;
}

.expanded-image {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal.show {
  visibility: visible;
  opacity: 1;
}

.custom-arrow-prev,
.custom-arrow-next {
  background: transparent;
  border: none;
  font-size: 30px;
  color: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  padding: 10px;
}

.custom-arrow-prev {
  left: 10px;
}

.custom-arrow-next {
  right: 10px;
}

.custom-arrow-prev:hover,
.custom-arrow-next:hover {
  color: #007bff;
}

.slick-prev, .slick-next {
  display: none !important;
}

.slick-dots {
  position: absolute !important;
  bottom: -20px !important;
  display: block !important;
  width: 100% !important;
  padding: 10px 0 !important;
  margin: 0 !important;
  list-style: none !important;
  text-align: center !important;
}

.slick-dots li button {
  background-color: #FF5733 !important;
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
}

.slick-dots li.slick-active button {
  background-color: #0056b3 !important;
}
