:root {
  --yellow-color: #ffd000;
  --primary-color: #1a1446;
  --button-color: #78e1e1;
  --black-color: #333;
  --gray-color: #ccc;
  --desktop: 1140px;
  --height-banner: 450px;
}
h1,
h2,
h3,
h4,
h6 {
  color: var(--primary-color);
}
.lib-comp-button {
  background: var(--button-color);
  padding: 0.8rem 2rem;
  margin: 1.5rem auto;
  display: table;
  text-align: center;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);
}
.lib-comp-button__yellow,
.lib-comp-button-yellow,
.lib-comp-button--yellow {
  background: var(--yellow-color);
}
.lib-comp-button__blue,
.lib-comp-button-blue,
.lib-comp-button--blue {
  background: var(--primary-color);
  color: white;
}
.lib-comp-button__light-blue,
.lib-comp-button-light-blue,
.lib-comp-button--light-blue {
  background: var(--button-color);
}

/*Iniciar carrusel*/
.lib-comp-carrousel {
  position: relative;
  height: var(--height-banner);
  background: var(--primary-color);
  overflow: hidden;
}

.lib-comp-carrousel__nav {
  position: absolute;
  z-index: 3;
  bottom: 20px;
  color: white;
  width: 100%;
  text-align: center;
}

.lib-comp-carrousel__circle {
  overflow: hidden;
  text-indent: -9999px;
  height: 15px;
  width: 15px;
  background: #ffd000;
  border: 2px solid #ffd000;
  margin: 5px;
  border-radius: 50%;
  display: inline-block;
}

.lib-comp-carrousel__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: var(--height-banner);
  position: relative;
}

.lib-comp-carrousel__default .field--name-field-lib-v3-carousel-sec {
  font-size: 1rem;
  color: gray;
}

/*Fin carrusel*/

/*Carrusel 2*/
.lib-comp-carrousel__rightNavigation .lib-comp-carrousel__image {
  order: -1;
  width: 100%;
}

.lib-comp-carrousel__rightNavigation.lib-comp-carrousel__content {
  padding: 2rem 2rem 2rem 5rem;
  max-width: 100%;
}

.lib-comp-carrousel__rightNavigation.lib-comp-carrousel__textwrap {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.lib-comp-carrousel__rightNavigation .lib-comp-carrousel__title {
  font-size: 2rem;
}

.lib-comp-carrousel__rightNavigation .field--name-field-lib-v3-carousel-sec {
  font-size: 1rem;
  color: gray;
}

.lib-comp-carrousel__rightNavigation .lib-comp-carrousel__nav {
  right: 10px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 15px;
}

.lib-comp-carrousel__rightNavigation .lib-comp-carrousel__circle {
  background-color: var(--primary-color);
  border-color: white;
}
/*Fin carrusel 2*/

/*Nav carrusel 3*/
.lib-comp-carrousel__leftNavigation .field--name-field-lib-v3-carousel-sec {
  font-size: 1rem;
  color: gray;
}

.lib-comp-carrousel__leftNavigation .lib-comp-carrousel__nav {
  left: 40px;
  right: unset;
  width: auto;
}
/*Fin nav carrusel 3*/

.lib-comp-carrousel__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.lib-comp-carrousel__rightNavigation .lib-comp-carrousel__content {
  padding: 3rem 4rem 3rem 6rem;
}

.lib-comp-carrousel__content__yellow {
  background-color: var(--yellow-color);
  color: var(--primary-color);
}

.lib-comp-carrousel__content__blue {
  background-color: var(--primary-color);
  color: white;
}
.lib-comp-carrousel__content__white {
  background-color: var(--white-color);
  color: white;
}

.lib-comp-carrousel__content__blue .lib-comp-carrousel__subheading,
.lib-comp-carrousel__content__blue .lib-comp-carrousel__title,
.lib-comp-carrousel__content__blue .lib-comp-carrousel__subtitle {
  color: white;
}

.lib-comp-carrousel__textwrap {
  line-height: 1.4;
}

.lib-comp-carrousel__subheading {
  text-transform: uppercase;
  color: var(--black-color);
  font-size: 1rem;
}

.lib-comp-carrousel__title {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.lib-comp-carrousel__subtitle {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--black-color);
  margin: 0;
  padding: 0;
}

.lib-comp-carrousel__image .field__item,
.lib-comp-carrousel__image .field-media-image div {
  height: var(--height-banner);
  width: auto;
}

.lib-comp-carrousel__image .field__item img,
.lib-comp-carrousel__image div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lib-comp-card__content {
  padding: 0 1rem;
}

.lib-comp-carrousel__item {
  opacity: 0;
  position: absolute;
  z-index: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.lib-comp-carrousel__item.is-active {
  opacity: 1;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 920px) {
  .lib-comp-carrousel__card {
    grid-template-columns: repeat(1, 1fr);
    min-height: auto;
  }

  .lib-comp-carrousel__image .field__item {
    height: auto;
  }

  .lib-comp-carrousel__content {
    padding: 2rem;
  }

  .lib-comp-carrousel {
    height: 620px;
    overflow: hidden;
    background: transparent;
  }
}
.lib-comp-cardlist__container {
  display: grid;
  grid-gap: 1.5rem;
  max-width: var(--desktop);
  margin: 4rem auto;
}

.lib-comp-cardlist__container.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.lib-comp-cardlist__container.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.lib-comp-card {
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
  border-radius: 12px;
  overflow: hidden;
  height: 315px;
  position: relative;
}

.lib-comp-card__image img {
  width: 100%;
  height: auto;
}

.lib-comp-card__image .field__label {
  display: none;
}

.lib-comp-card__content {
  position: absolute;
  bottom: -90px;
  background: white;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.lib-comp-card__body {
  padding-bottom: 1.5rem;
}

.lib-comp-card:hover .lib-comp-card__content {
  bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1140px) {
  .lib-comp-cardlist__container {
    margin: 4rem 2rem;
  }

  .lib-comp-cardlist__container.grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .lib-comp-cardlist__container.grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .lib-comp-cardlist__container.grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .lib-comp-cardlist__container.grid-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}
:root {
  --yellow-color: #ffd000;
  --primary-color: #1a1446;
  --button-color: #78e1e1;
  --black-color: #333;
  --white-color: #ffff;
  --gray-color: #ccc;
  --desktop: 1140px;
  --height-banner: 450px;
}

h1,
h2,
h3,
h4,
h6 {
  color: var(--primary-color);
}

.lib-comp-button {
  background: var(--button-color);
  padding: 0.8rem 2rem;
  margin: 1.5rem auto;
  display: table;
  text-align: center;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);
}

.lib-comp-button__yellow,
.lib-comp-button-yellow,
.lib-comp-button--yellow {
  background: var(--yellow-color);
}

.lib-comp-button__blue,
.lib-comp-button-blue,
.lib-comp-button--blue {
  background: var(--primary-color);
  color: white;
}

.lib-comp-button__light-blue,
.lib-comp-button-light-blue,
.lib-comp-button--light-blue {
  background: var(--button-color);
}

.lib-comp-interested {
  max-width: var(--desktop);
  margin: 4rem auto;
}

.lib-comp-interested__title {
  text-align: center;
  font-weight: lighter;
  font-size: 2rem;
}

.lib-comp-interested__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 4rem 0;
}

.lib-comp-interested__card {
  padding: 2rem;
  display: flex;
  border-radius: 12px;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
  color: var(--primary-color);
  background-color: #e6efef;
  background-image: url(img/right.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 25px;
}

.lib-comp-interested__icon {
  padding-right: 10px;
  display: inline-block;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
/*Mobile v3*/
@media (min-width: 992px) {
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contacts-group-main .contacts-group-main__item {
  display: flex;
  align-items: center;
}

.contacts-group-main .contacts-group-main__item img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.field--name-field-lib-v3-contacts-title {
  color: darkblue;
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.field--name-field-lib-v3-contacts-contact {
  color: gray;
  font-size: 1rem;
}

.moreInfo-group-main {
  column-gap: 2rem;
}

.moreInfo-group-main .moreInfo-group-main__item {
  background-color: white;
  border-radius: 10px;
  padding: 3rem 4rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  position: relative;
}

.moreInfo-group-main__item .field--name-field-lib-v3-cardinfo-title {
  font-size: 1.5rem;
  color: darkblue;
}

.moreInfo-group-main__item .field--name-field-lib-v3-cardinfo-text-sup {
  color: gray;
  font-size: 1.2rem;
}

.moreInfo-group-main .field--name-field-lib-v3-cardinfo-link a {
  text-decoration: none;
  font-size: 1.3rem;
  color: darkblue;
}

.moreInfo-group-main .field--name-field-lib-v3-cardinfo-link::after {
  content: ">";
  background-color: var(--yellow-color);
  font-size: 1.5rem;
  font-family: bold;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: 3rem;
}
