footer {
  background-color: var(--hdi-green);
  padding: 1rem;
  position: relative;

  &::before {
    background: linear-gradient(90deg, var(--hdi-universal-green) 0% 33.3%, var(--hdi-green) 33.3% 66.6%, var(--hdi-light-blue) 66.6%) fixed;
    content: "";
    display: block;
    height: .625rem;
    left: -1rem;
    position: absolute;
    top: -.85rem;
    width: calc(100vw + 1rem);
  }

  .footer__bottom {
    position: relative;
    width: 100%;

    img {
      margin: 1rem auto;
      width: 4rem;

      @media (min-width: 900px) {
        position: absolute;
        right: 0;
        top: 0;
        width: 2.625rem;
        height: 1.625rem;
        margin: 0;
      }
    }

    p {
      color: var(--white);
      font-family: var(--hdi-font);
      font-size: .85rem;
      font-weight: bolder;
      text-align: center;
    }
  }
}
