footer {
  background-color: var(--hdi-green);
  padding: 1rem;

  .footer__bottom {
    position: relative;
    width: 100%;

    p {
      color: var(--white);
      font-family: var(--hdi-font);
      font-size: .85rem;
      font-weight: bolder;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      background-image: url(../../images/footer-logo.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 2.625rem;
      height: 1.625rem;
    }
  }
}
