footer {
  background-color: var(--hdi-green);
  padding: 1rem;
  position: relative;

  &::before {
    background: linear-gradient(90deg, var(--hdi-universal-green) 0% 40%, var(--hdi-green) 40% 80%, var(--hdi-light-blue) 80%) fixed;
    content: "";
    display: block;
    height: .625rem;
    left: -1rem;
    position: absolute;
    top: -.85rem;
    width: calc(100vw + 1rem);
  }

  .footer__bottom {
    position: relative;
    width: 100%;

    p {
      color: var(--white);
      font-family: var(--hdi-font);
      font-size: .85rem;
      font-weight: bolder;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      background-image: url(../../images/footer-logo.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 2.625rem;
      height: 1.625rem;
    }
  }
}
