header {
  background-color: var(--white);
  max-height: 6.5rem;

  .header__primary {
    align-items: center;
    background: var(--white) 0% 0% no-repeat padding-box;
    border: 1px solid var(--hdi-gray-40);
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .header__sponsor {
      border-left: 1px solid var(--hdi-gray-40);
      padding: 0 2rem;

      img {
        height: 4rem;
        width: auto;
      }
    }
  }
}
