<div class="lib-comp-catbox">
    
    <div class="lib-comp-catbox__tabs">
        {# Tabs #}
        <div class="lib-comp-catbox__tab">
            <div class="lib-comp-catbox__tab-icon">ICON</div>
            <div class="lib-comp-catbox__tab-text">Tab text</div>
        </div>
        {# End Tabs #}
    </div> 

    <div class="lib-comp-catbox__content">
        {# Tab Content #}
        <div class="lib-comp-catbox__tab-content">

            {# Grid icons #}
            <div class="lib-comp-catbox__grid">
                 <div class="lib-comp-catbox__item lib-comp-card-icon">
                     <div class="lib-comp-card-icon__icon">ICON</div>
                     <div class="lib-comp-card-icon__icon">Card text</div>
                 </div>
            </div>
            {# End Grid Icons #}

        </div>
        {# End Tab Content #}
    </div>

</div>