{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set section_extra_classes = [
		settings.container_type|length ? settings.container_type : '',
		settings.text_color|length ? settings.text_color : '',
    	settings.aligment|length ? settings.aligment : '',
		settings.background_color|length ? settings.background_color : '',
		settings.background_container_color|length ? settings.background_container_color : '',
		settings.top_padding|length ? settings.top_padding : '',
		settings.bottom_padding|length ? settings.bottom_padding : '',
		settings.left_right_paddings|length ? settings.left_right_paddings : '',
		settings.top_bottom_paddings|length ? settings.top_bottom_paddings : '',
		settings.pd_content_container|length ? settings.pd_content_container : '',
		settings.top_margin|length ? settings.top_margin : '',
		settings.bottom_margin|length ? settings.bottom_margin : '',
		settings.left_right_margins|length ? settings.left_right_margins : '',
		settings.top_bottom_margins|length ? settings.top_bottom_margins : '',
  ]
%}

{%
  set section_layout_extra_classes = [
    settings.column_gap|length ? settings.column_gap : '',
    settings.row_gap|length ? settings.row_gap : '',
    settings.content_container|length ? settings.content_container : '',
    settings.bg_content_container|length ? settings.bg_content_container : '',
		settings.align_items|length ? settings.align_items : '',
  ]
%}

{% set section_base_class = section_base_class|default('layout') %}


<div {{ bem(section_base_class, section_modifiers, section_blockname, section_extra_classes) }}>
	<div {{ bem('layout-content', [], '', section_layout_extra_classes) }}>
		<div class="layout__region layout__region--content">
			{% block content %}
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, earum aspernatur? Minus accusantium molestias culpa dicta recusandae, illum soluta? Temporibus neque dignissimos aliquid soluta dicta vero voluptate quam ratione at!</p>
			{% endblock %}
		</div>
	</div>
</div>
