.inline-menu {
  @include list-reset;
}

.inline-menu__item {
  margin: 0 1em 0.5em 0;

  @include large {
    display: inline;
    margin-bottom: 1em;
  }

  &:last-child {
    margin-right: 0;
  }
}

.inline-menu__link {
  @include link;

  text-decoration: none;
}
