:root {
    --yellow-color: #FFD000;
    --primary-color: #1A1446;
    --button-color: #78E1E1;
    --black-color: #333;
    --gray-color: #ccc;
    --desktop: 1140px;
    --height-banner: 450px;
  }

h1, h2, h3, h4, h6 {
    color: var(--primary-color);
}

.lib-comp-button {
    background: var(--button-color);
    padding: 0.8rem 2rem;
    margin: 1.5rem auto;
    display: table;
    text-align: center;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-color);
}

.lib-comp-button__yellow, .lib-comp-button-yellow, .lib-comp-button--yellow {
    background: var(--yellow-color);
}

.lib-comp-button__blue, .lib-comp-button-blue, .lib-comp-button--blue {
    background: var(--primary-color);
    color: white !important;
}

.lib-comp-button__light-blue, .lib-comp-button-light-blue, .lib-comp-button--light-blue {
    background: var(--button-color);
}

