@import "../../mixins/responsive.scss";


.component__columns.column-news-blog {
    .component__content.columns-container {
            display: grid;
            grid-template-columns: 65% 35%;
            padding: 0 6rem;

            .component__column {
                padding: 1rem;
            }

            @include phone-only {
                grid-template-columns: 1fr;
                padding: 0 1rem;
                row-gap: 1rem;
            }
    }
}