<div class="header-blue">
  <div class="cog--mq">
    <a class="back"
      href="{{
      (url('<front>')|render)
        ~ 'zona-de-cliente/clausulas-y-documentos'
      }}">
      Volver
    </a>
    <h2>
      {{ node.label }}
    </h2>
    <h3>
      busca y descarga la versi칩n segun el a침o que necesitas
    </h3>
    <p>
      <span class="file file--mime-application-pdf file--application-pdf">
        {{ content.field_pdf|field_value|last }}
      </span>
    </p>
  </div>
</div>
{% set len = content.field_pdf|field_value|length %}
{% set lim = len - 1 %}

{% if len > 1 %}
  <section class="version-document documentos--lista">
    <div class="cog--mq">
      <div class="content--versiones">
        <h2>
          Versiones anteriores
        </h2>
        <h3>
          Si necesitas un documento con una versi칩n antigua puedes buscar a
          continuaci칩n
        </h3>
        <div class="view-content">
          {% for key, item in content.field_pdf|field_value %}
            {% if key < lim %}
              <span class="file file--mime-application-pdf file--application-pdf">
                {{ item }}
              </span>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
