.list-icon {
    display: flex;
    justify-content: start;
    align-items: center;

    img {
        width: 35px;
        max-width: 35px;
        min-width: 35px;
        height: auto;

        @include medium {
            width: 60px;
            max-width: 60px;
            min-width: 60px;
        }
    }

    &__icon {
        padding-right: 1rem;
        
        svg,
        path {
            fill: $color-primary;
        }

        svg {
            max-width: 50px;
            max-height: 50px;
        }
    }
}