.form-item--radio__item {
  @include list-reset;
  display: flex;
  gap: $space-16;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &__label {
    display: flex;
    align-items: center;
    gap: $space-12;
  }

  &__radio[type="radio"] {
    appearance: none;
    color: clr(teal);
    width: 1.25rem;
    height: 1.25rem;
    border: 0.125rem solid clr(teal);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      background-color: clr(teal);
    }

    &:checked::before {
      transform: scale(1);
      clip-path: circle(50% at 50% 50%);
    }

    &:disabled {
      cursor: not-allowed;
      border-color: clr(gray-component );
      color: #ffff;

      &::before {
        background-color: clr(gray-component);
      }
    }
  }

}


.form-item--radios{
  @extend .form-item--radio__item;
}
