/// Example global state/* code /////////////
/// See https://smacss.com/book/type-state

/* stylelint-disable */

//.is-collapsed {}
.is-hidden {
    display: none!important;
}

.is-visible {
    display: block!important;
}

.is-center {
    text-align: center;
}

.is-mobile {
    @include breakpoint($up-sm) {
        display: none !important;
    }
}

.is-desktop {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    display: none;
    @include breakpoint($up-sm) {
        visibility: visible;
        display: inherit;
        height: unset;
        @include browser(Trident) {
          height: auto;
        }
    }
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.personas {
    .is-empresas {
        display: none !important;
    }
}

.empresas {
    .is-personas {
        display: none !important;
    }
}

.transversales {
    .is-empresas {
        display: none !important;
    }
}

// Margins rules

.no-margin {
    margin: 0!important;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-right {
    margin-right: 0rem !important;
}

.no-margin-left {
    margin-left: 0rem !important;
}

.no-margin-top {
    margin-top: 0;
}

.margin-bottom {
    margin-bottom: 4rem !important;
}

// Paddings rules

.no-padding{
    padding: 0!important;
}

.no-padding-bottom{
    padding-bottom: 0!important;
}

.no-padding-top{
    padding-top: 0!important;
}

.no-padding-left{
    padding-left: 0!important;
}

.no-padding-right{
    padding-right: 0!important;
}

.pd-top {
    padding-top: 4rem !important;
}

.pd-bottom {
    padding-top: 4rem !important;
}

.no-background {
    .component__content,
    .component__heading {
        background: transparent;
    }
}

.no-transform-y {
    >.field--type-entity-reference-revisions {
        @include breakpoint($up-sm) {
            transform: translate(-50%, 0)!important;
            top: 10%!important;
        }
    }
}

.hide-element {
    display: none;
}

.hide-md {
    @include breakpoint($up-sm) {
        display: none !important;
    }
}

.is-fixed-global {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: rgba($negro-pl, .85);
    overflow-y: scroll;
}

// Alignments
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.component__heading--left {
    .component__title {
        text-align: left;
        @include breakpoint($small) {
            text-align: center;
        }
    }
}

